{extend name="common/base" /}

{block name="title"}金币日志{/block}
{block name="css"}{/block}
{block name="content"}

<!--<div class="layui-card">-->
<!--<div class="layui-card-header">-->
<!--总金额-->
<!--<span class="layui-badge layui-bg-blue layuiadmin-badge">总</span>-->
<!--</div>-->
<!--<div class="layui-card-body layuiadmin-card-list">-->
<!--<p class="layuiadmin-big-font" style="color:#009688" id="totalmoney">0</p>-->

<!--</div>-->
<!--</div>-->
<!--<div class="layui-row layui-col-space20">-->
	<!--<div class="layui-col-md4">-->
        <!--<div class="layui-card">-->
            <!--<div class="layui-card-header">-->
                <!--<span class="layui-badge layui-bg-blue ">{:lang('总金币产出')}</span>-->
                <!--<a class="layui-icon layui-icon-refresh-3 layuiadmin-badge"></a>-->
            <!--</div>-->
            <!--<div class="layui-card-body layuiadmin-card-list">-->
                <!--<p class="layuiadmin-big-font" id="Production" style="color: #009688">0</p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="layui-col-md4">-->
        <!--<div class="layui-card">-->
            <!--<div class="layui-card-header">-->
                <!--<span class="layui-badge layui-bg-blue ">{:lang('总金币消耗')}</span>-->
                <!--<a class="layui-icon layui-icon-refresh-3 layuiadmin-badge"></a>-->
            <!--</div>-->
            <!--<div class="layui-card-body layuiadmin-card-list">-->
                <!--<p class="layuiadmin-big-font" id="Consume" style="color: #009688">0</p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="layui-col-md4">-->
        <!--<div class="layui-card">-->
            <!--<div class="layui-card-header">-->
                <!--<span class="layui-badge layui-bg-blue ">{:lang('总剩余金币')}</span>-->
                <!--<a class="layui-icon layui-icon-refresh-3 layuiadmin-badge"></a>-->
            <!--</div>-->
            <!--<div class="layui-card-body layuiadmin-card-list">-->
                <!--<p class="layuiadmin-big-font" id="TotalMoney" style="color: #009688">0</p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<div class="layui-card" style="margin-top: 10px;">
    <div class="layui-card-header layuiadmin-card-header-auto">
        <form class="layui-form" lay-filter="component-form-group">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input autocomplete="off" class="layui-input" id="roleid" lay-verify="number" name="roleid" placeholder="{:lang('玩家ID')}" type="text">
                    </div>
                    <!--                    <div class="layui-input-inline">-->
                    <!--                        <input autocomplete="off" class="layui-input" id="AccountName" name="AccountName" placeholder="账号" type="text">-->
                    <!--                    </div>-->
                    <!--                    <div class="layui-input-inline">-->
                    <!--                        <input autocomplete="off" class="layui-input" id="NickName" name="NickName" placeholder="昵称" type="text">-->
                    <!--                    </div>-->
                    <div class="layui-input-inline">
                        <select id="usertype" name="usertype">
                            <option value="-1">{:lang('渠道')}</option>
                            {foreach $usertype as $k1 => $v1}
                            <option value="{$k1}">{:lang($v1)}</option>
                            {/foreach}
                        </select>
                    </div>
                    <div class="layui-inline">
                        <!--        <label class="layui-form-label">日期</label>-->
                        <div class="layui-input-inline">
                            <input autocomplete="off" class="layui-input" id="LAY-component-form-group-date" name="start" type="text" value="{:date('Y-m-d').' 00:00:00'}">
                        </div>
                        <div class="layui-form-mid"> -</div>
                        <div class="layui-input-inline">
                            <input autocomplete="off" class="layui-input" id="LAY-component-form-group-date2" name="end" type="text" value="{:date('Y-m-d').' 23:59:59'}">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">{:lang('类型')}</label>
                        <div class="layui-input-inline">
                            <select id="changetype" name="changetype"   lay-search>
                                <option value="0">{:lang('所有')}</option>
                                {foreach $changeType as $k => $v}
                                <option value="{$k}">{:lang(trim($v))}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <!-- <div class="layui-input-inline"> -->
                            <a class="layui-btn" data-type="reload" id="search">{:lang('搜索')}</a>
                            <a class="layui-btn" id="output">{:lang('导出记录')}</a>
                        <!-- </div> -->
                    </div>
                </div>

            </div>
        </form>
    </div>
    <div class="layui-card-body">
        <div class="layui-row layui-col-space30">

            <div id="alllist" class="layui-col-md12">
                <table id="proxylist" lay-filter="proxylist"></table>
            </div>
        </div>
    </div>
</div>

{/block}
{block name="script"}


<script>
	url = "{:url('player/coinlog2')}";
	layui.config({
		base: '__layui__/' //静态资源所在路径
	}).extend({
		index: 'lib/index' //主入口模块

	}).use(['index', 'table', 'layer', 'element', 'laydate', 'form', 'jquery'], function () {
		var element = layui.element, layer = layui.layer, laydate = layui.laydate, table = layui.table, $ = layui.$, form = layui.form;

		// console.info(RoomList[0]['RoomID']);

		var main = {
			renderData: function () {
				var cols = [ //表头
					{
						field: 'RoleID', align: 'center', title: "{:lang('用户ID')}", minWidth: 120, templet: function (d) {
							return " <a class=\"layui-bg-green\" lay-event=\"detail\">" + d.RoleID + "</a>";
						}
					},
					{field: 'ChangeName', align: 'center', title: "{:lang('类型')}", minWidth: 180,},
					{field: '', align: 'center', title: "{:lang('操作金币')}", minWidth: 150, templet: function (d) { return "<span style='color:" + (d.Money > 0 ? "red'>+" : "green'>") + d.Money + "</span>" }},
                    {field: 'Tax', align: 'center', title: "{:lang('税收')}", minWidth: 150},
					{field: 'LastMoney', align: 'center', title: "{:lang('操作后金币数')}", minWidth: 150},
					{field: 'AddTime', align: 'center', title: "{:lang('时间')}", minWidth: 180},
					{field: 'RoomName', align: 'center', title: "{:lang('房间名')}", minWidth: 250},
					// {field: 'MachineCode', align: 'center', title: "{:lang('机器码')}", minWidth: 170},
				];
				table.render({
					elem: '#proxylist', url: url, where: {Action: 'list'}, page: true, limit: 15, cols: [cols]
                    ,
                    done: function (res, curr, count) {
                        // $('#Production').html(res.other.Production);
                        // $('#Consume').html(res.other.Consume);
                        // $('#TotalMoney').html(res.other.TotalMoney);

                    }
				});
			},
			//搜索
			search: function () {
				var roleid = $.trim($('#roleid').val());
				var strartdate = $.trim($('#LAY-component-form-group-date').val());
				var enddate = $.trim($('#LAY-component-form-group-date2').val());
				var changetype = $.trim($('#changetype').val());
				// var AccountName = $.trim($('#AccountName').val());
				// var NickName = $.trim($('#NickName').val());
				//执行重载
				table.reload('proxylist', {
					page: {
						curr: 1 //重新从第 1 页开始
					},
					where: {
						roleid: $.trim($('#roleid').val()),
						strartdate:  $.trim($('#LAY-component-form-group-date').val()),
						enddate: $.trim($('#LAY-component-form-group-date2').val()),
						changetype:  $.trim($('#changetype').val()),
						usertype: $.trim($('#usertype').val()),
						// 'AccountName': AccountName,
						// 'NickName': NickName,
					}
				});
			},

			//操作事件
			extraEvent: function () {
				//编辑
				table.on('tool(proxylist)', function (obj) {
					var data = obj.data //获得当前行数据
						, layEvent = obj.event; //获得 lay-event 对应的值
					tr = obj.tr; //获得当前行 tr 的DOM对象
					if (layEvent === 'detail') {
						var url = 'playerDetail?roleid=' + data.RoleID;
						x_admin_show('{:lang(\'玩家详情\')}', url, $(window).width() * 0.7, $(window).height() * 0.6);
					}
				});
			},

			init: function () {
				main.renderData();
				main.extraEvent();
				laydate.render({
					elem: '#LAY-component-form-group-date'
					, format: 'yyyy-MM-dd HH:mm:ss'
					, max: 1
					, lang:'{$datelang ?: "cn"}'
					, btns: ['clear', 'confirm']
					, type: 'datetime'
					// , value: new Date()
				});
				laydate.render({
					elem: '#LAY-component-form-group-date2'
					, format: 'yyyy-MM-dd HH:mm:ss'
					, max: 1
					, lang:'{$datelang ?: "cn"}'
					, btns: ['clear', 'confirm']
					, type: 'datetime'
					// , value: new Date()
				});
				$('#search').on('click', function (e) {
					e.preventDefault();
					main.search();
				});
			}
		};

		main.init();
	});
	$('#output').click(function () {
		where = {
			roleid: $.trim($('#roleid').val()),
			strartdate:  $.trim($('#LAY-component-form-group-date').val()),
			enddate: $.trim($('#LAY-component-form-group-date2').val()),
			changetype:  $.trim($('#changetype').val()),
			usertype: $.trim($('#usertype').val()),
			limit: 20000,
			Action: 'exec',
		}

		download();

		function download() {
			var params = Object.keys(where).map(function (key) {
				return encodeURIComponent(key) + "=" + encodeURIComponent(where[key]);
			}).join("&");
			url = url +"?"+ params;
			$.ajax({
				type: 'POST',
				dataType: 'json',
				async: true,
				url: url, // 生成文件，保存在服务器
				success: function (data) {
					var result = data;
					console.info(data);
					switch (result["code"]) {
						case 0:
							parent.parent.open(url + "&exec=1&outall=true");
							break;
						case 1:
							layer.msg(result["message"]);
							break;
						case 2:
							layer.confirm(result['message'], {
								btn: ['{:lang("是")}', '{:lang("否")}'] //按钮
							}, function () {
								parent.parent.open(url + "&exec=1&outall=true");
								layer.msg('', {icon: 6, time: 1000}, function () {
									window.location.reload();
								});
							})                            ;
					}
				},
				error: function (XMLHttpRequest, textStatus, e) {
					console.log("oilDetection.js  method exportOilDetection" + e);
				}
			});
		}
	});
</script>
{/block}