{extend name="common/base" /}

{block name="title"}添加红包雨{/block}
{block name="css"}
{/block}
{block name="content"}

<form class="layui-form" action="{:url('RedEnvelopeRain/addRedPackVipCfg')}" method="post" id="addProxy" >

<!--  <input type="hidden" name="id" id="id" value="{if(!empty($info))}{$info.Id}{/if}" />-->


  <div class="layui-form-item" >
    <label class="layui-form-label">{:lang('红包雨时间')}：</label>
    <div class="layui-input-inline">
      <input type="text" name="DailyBeginHour" id="LAY-component-form-group-date-time" autocomplete="off"
             class="layui-input" value="">
    </div>
    <div class="layui-form-mid">
      -
    </div>
    <div class="layui-input-inline">
      <input type="text" name="DailyEndHour" id="LAY-component-form-group-date2-time" autocomplete="off"
             class="layui-input" value="">
    </div>
  </div>




  <div class="layui-form-item">

    <label class="layui-form-label">{:lang('红包随机值')}：</label>
    <div class="layui-input-inline">
      <input type="number" name="RedPackCellMoneyMin" id="RedPackCellMoneyMin" autocomplete="off"
             class="layui-input" value="">
    </div>
    <div class="layui-form-mid">
      -
    </div>
    <div class="layui-input-inline">
      <input type="number" name="RedPackCellMoneyMax" id="RedPackCellMoneyMax" autocomplete="off"
             class="layui-input" value="">
    </div>
  </div>

  <div class="layui-form-item">

    <label class="layui-form-label">{:lang('可领取VIP等级')}：</label>
    <div class="layui-input-inline">
      <input type="number" name="VipLvMin" id="VipLvMin" autocomplete="off"
             class="layui-input" value="">
    </div>
    <div class="layui-form-mid">
      -
    </div>
    <div class="layui-input-inline">
      <input type="number" name="VipLvMax" id="VipLvMax" autocomplete="off"
             class="layui-input" value="">
    </div>
  </div>

  <div class="layui-form-item">
    <div class="layui-input-block">
      <a style="margin-left: 15%" type="submit" class="layui-btn layui-btn-radius" lay-submit="" lay-filter="addit" id="addit" >{:lang('保存')}</a>
      <a  class="layui-btn layui-btn-primary layui-btn-radius" lay-submit="" lay-filter="cancel" id="cancel" >{:lang('取消')}</a>
    </div>
  </div>
</form>

{/block}
{block name="script"}

<script>
  layui.config({
    base: '__layui__/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块

  }).use(['index', 'table', 'layer', 'element', 'laydate', 'form', 'jquery','upload'], function() {
    var element = layui.element
            ,layer = layui.layer
            ,laydate = layui.laydate
            ,table = layui.table
            ,upload = layui.upload
            ,$ = layui.$
            ,form = layui.form;

    var main = {
      submitForm : function(data) {
        console.log(data);
        $.ajax({
          type:'post',
          url:data.form.action,
          data:data.field,
          dataType:'json',
          success: function(res) {
            var index = parent.layer.getFrameIndex(window.name); /* 先得到当前iframe层的索引 */
            if (res.code === 0) {
              layer.msg(res.msg,{icon:1,time:1000}, function () {
                x_admin_close();
                parent.layui.table.reload('proxylist',{page:{curr:$(".layui-laypage-em").next().html()}});   //主要代码
                parent.layer.close(index);
              });
            } else {
              layer.msg(res.msg, {icon:2});
            }
          }
        });
      },

      bindEvent: function() {
        form.on('submit(addit)', function(data) {
          main.submitForm(data);
          return false;
        });

        $('#cancel').on('click', function(e) {
          e.preventDefault();
          x_admin_close();
        })
      },

      init : function () {
        main.bindEvent();
      }
    };
    laydate.render({
      elem: '#LAY-component-form-group-date'
      , format: 'yyyy-MM-dd'
      , type: 'date'
      , btns: ['clear', 'confirm']
    });
    laydate.render({
      elem: '#LAY-component-form-group-date2'
      , format: 'yyyy-MM-dd'
      , type: 'date'
      , btns: ['clear', 'confirm']
    });

    laydate.render({
      elem: '#LAY-component-form-group-date-time'
      , format: 'HH'
      , type: 'time'
      , btns: ['clear', 'confirm']
    });
    laydate.render({
      elem: '#LAY-component-form-group-date2-time'
      , format: 'HH'
      , type: 'time'
      , btns: ['clear', 'confirm']
    });
    main.init();
  });
</script>
{/block}