{extend name="common/base" /}

{block name="title"}转账{/block}
{block name="css"}
{/block}
{block name="content"}

<form class="layui-form" action="{:url('activity/addadvcfg')}" method="post" id="addProxy" >

    <input type="hidden" name="id" id="id" value="{$info.ID}" />
    <input type="hidden" name="AdvUrl" id="AdvUrl" value="{$info.AdvUrl}" />
    <input type="hidden" name="AdvPCUrl" id="AdvPCUrl" value="{$info.AdvPCUrl}" />
    <div class="layui-form-item">
        <label class="layui-form-label">{:lang('主题名称')}：</label>
        <div class="layui-input-block">
            <input type="text" id="AdvTitle" name='AdvTitle' value="{$info.AdvTitle}" lay-verify="required" placeholder="{:lang('请输入按钮名称')}" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">{:lang('上传类型')}:</label>
        <div class="layui-input-block">
            <select name="stype" id="stype" lay-filter="stype">
                <option value="-1" >{:lang('请选择')}</option>
                <option value="1"  {if condition="$info.type eq 1"}selected="selected" {/if}>{:lang('跳转外部链接')}</option>
                <option value="2" {if condition="$info.type eq 2"}selected="selected" {/if}>{:lang('跳转游戏')}</option>
                <option value="3" {if condition="$info.type eq 3"}selected="selected" {/if}>{:lang('跳转游戏内功能')}</option>
            </select>
        </div>
    </div>



    <div class="layui-form-item" id="DivAddress" {if condition="$info.type neq 1"}style="display: none" {/if}>
        <label class="layui-form-label">{:lang('外部链接地址')}：</label>
        <div class="layui-input-block">
            <input type="text" id="UrlAddress" name='UrlAddress' value="{$info.AdvShareUrl}"  placeholder="{:lang('请输入视频地址')}" autocomplete="off" class="layui-input">
        </div>
    </div>



    <div class="layui-form-item" {if condition="$info.type neq 2"}style="display: none" {/if} id="DivGame">
        <label class="layui-form-label">{:lang('跳转到游戏')}：</label>
        <div class="layui-input-block">
            <select name="kindid" id="kindid"  lay-search>
                <option value="0">{:lang('请选择')}</option>
                <!-- foreach循环 -->
                {foreach name="selectData" item="vo"}
                <option value="{$vo.KindID}" {if condition="$info.AdvShareUrl eq $vo.KindID"} selected="selected" {/if}>{$vo.KindName}</option>
                {/foreach}
                <!-- for循环 -->
            </select>
        </div>
    </div>



    <div class="layui-form-item" {if condition="$info.type neq 3"}style="display: none" {/if} id="DivGameFunc">
        <label class="layui-form-label">{:lang('跳转游戏内下列功能')}：</label>
        <div class="layui-input-block">
            <select name="innergametype" id="innergametype"  lay-search>
                <option value="0" {if condition="$info.AdvShareUrl eq 0"} selected="selected" {/if}>{:lang('请选择')}</option>
                <option value="1" {if condition="$info.AdvShareUrl eq 1"} selected="selected" {/if}>VIP</option>
                <option value="2" {if condition="$info.AdvShareUrl eq 2"} selected="selected" {/if}>REFER</option>
                <option value="3" {if condition="$info.AdvShareUrl eq 3"} selected="selected" {/if}>BETBONUS</option>
                <option value="4" {if condition="$info.AdvShareUrl eq 4"} selected="selected" {/if}>ACCOUNT</option>
                <option value="5" {if condition="$info.AdvShareUrl eq 5"} selected="selected" {/if}>PROMORION</option>
                <option value="6" {if condition="$info.AdvShareUrl eq 6"} selected="selected" {/if}>ALLPROMORION</option>
                <option value="7" {if condition="$info.AdvShareUrl eq 7"} selected="selected" {/if}>PROTOCOL</option>
                <option value="8" {if condition="$info.AdvShareUrl eq 8"} selected="selected" {/if}>BONUS</option>
                <option value="9" {if condition="$info.AdvShareUrl eq 9"} selected="selected" {/if}>MENUPAGE</option>
                <option value="10" {if condition="$info.AdvShareUrl eq 10"} selected="selected" {/if}>SALARY</option>
                <option value="11" {if condition="$info.AdvShareUrl eq 11"} selected="selected" {/if}>TURNTABLE</option>
                <option value="12" {if condition="$info.AdvShareUrl eq 12"} selected="selected" {/if}>RECARGA</option>
                <option value="21" {if condition="$info.AdvShareUrl eq 21"} selected="selected" {/if}>SHOP</option>
                <option value="22" {if condition="$info.AdvShareUrl eq 22"} selected="selected" {/if}>WITHDRAW</option>
                <option value="23" {if condition="$info.AdvShareUrl eq 23"} selected="selected" {/if}>CHANGEINFO</option>
                <option value="24" {if condition="$info.AdvShareUrl eq 24"} selected="selected" {/if}>REDEEMCODE</option>
                <option value="25" {if condition="$info.AdvShareUrl eq 25"} selected="selected" {/if}>TURNTABLEPDD</option>
            </select>
        </div>
    </div>



    <div class="layui-form-item">
        <label class="layui-form-label">{:lang('排序')}：</label>
        <div class="layui-input-block">
            <input type="number" id="SortId" name='SortId' value="{$info.SortId}" lay-verify="required" placeholder="{:lang('请输入排序')}" autocomplete="off" class="layui-input">
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">{:lang('PC Banner')}：</label>

        <div class="layui-input-block" id="pcbanner">
            <button type="button" class="layui-btn layui-btn-primary" id="pcbanneruploader"><i class="layui-icon"></i>{:lang('上传PC banner')}
            </button>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-inline" id="pcbannerthum"
             {if condition="$info.ID eq 0" } style="display: none" {/if}>
        <img src="{$info.AdvPCUrl}" height="100">
    </div>



    <div class="layui-form-item">
        <label class="layui-form-label">{:lang('上传手机banner')}：</label>
        <div class="layui-input-block" id="cutpic">
            <button type="button" class="layui-btn layui-btn-primary" id="test-upload-type4"><i class="layui-icon"></i>{:lang('上传手机banner')}
            </button>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-inline" id="iconpic"
             {if condition="$info.ID eq 0" } style="display: none" {/if}>
        <img src="{$info.AdvUrl}" height="100">
    </div>


    <div class="layui-form-item">
        <div class="layui-input-block">
            <a style="margin-left: 15%" type="submit" class="layui-btn layui-btn-radius" lay-submit="" lay-filter="addit" id="addit" >{:lang('保存')}</a>
            <a  class="layui-btn layui-btn-primary layui-btn-radius" lay-submit="" lay-filter="cancel" id="cancel" >{:lang('取消')}</a>
        </div>
    </div>
</form>

{/block}
{block name="script"}

<script>
    layui.config({
        base: '__layui__/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块

    }).use(['index', 'table', 'layer', 'element', 'laydate', 'form', 'jquery','upload'], function() {
        var element = layui.element
            ,layer = layui.layer
            ,laydate = layui.laydate
            ,table = layui.table
            ,upload = layui.upload
            ,$ = layui.$
            ,form = layui.form;


        upload.render({
            elem: '#pcbanneruploader'
            , url: '{:url("Activity/uploadimg")}'
            , accept: 'file' //普通文件
            , exts: 'png|jpg|jpeg'
            ,data : {'id':$('#id').val()}
            , before: function (obj) { //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
            }
            , done: function (res) {$(".layui-table-main tr").each(function (index, val) {
                            $($(".layui-table-fixed-l .layui-table-body tbody tr")[index]).height($(val).height());
                            $($(".layui-table-fixed-r .layui-table-body tbody tr")[index]).height($(val).height());
                        });
                //layer.close(loading);
                if (res.code == 0) {
                    $('#AdvPCUrl').val(res.data.path);
                    $('#pcbannerthum').html('<img src="' + res.data.path + '" width="100" height="100"/>');
                    $('#pcbannerthum').css('display','block');
                    layer.msg(res.msg, {icon: 1});
                } else {
                    layer.msg(res.msg, {icon: 2});
                }
            }
        });


        upload.render({
            elem: '#test-upload-type4'
            , url: '{:url("Activity/uploadimg")}'
            , accept: 'file' //普通文件
            , exts: 'png|jpg|jpeg'
            ,data : {'id':$('#id').val()}
            , before: function (obj) { //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
            }
            , done: function (res) {$(".layui-table-main tr").each(function (index, val) {
                $($(".layui-table-fixed-l .layui-table-body tbody tr")[index]).height($(val).height());
                $($(".layui-table-fixed-r .layui-table-body tbody tr")[index]).height($(val).height());
            });
                //layer.close(loading);
                if (res.code == 0) {
                    $('#AdvUrl').val(res.data.path);
                    $('#iconpic').html('<img src="' + res.data.path + '" width="100" height="100"/>');
                    $('#iconpic').css('display','block');
                    //$('#iconpath').val(res.data.path);
                    layer.msg(res.msg, {icon: 1});
                } else {
                    layer.msg(res.msg, {icon: 2});
                }
            }
        });


        var main = {
            submitForm : function(data) {
                var activityid = $.trim(data.field.id);
                var AdvTitle = $.trim(data.field.AdvTitle);
                var SortId = $.trim(data.field.SortId);
                var AdvUrl = $.trim(data.field.AdvUrl);
                var AdvPCUrl = $.trim(data.field.AdvPCUrl);
                var stype = $.trim(data.field.stype);
                if(AdvTitle==''){
                    layer.alert('{:lang("请输入按钮名称!")}',{icon:5});
                    return;
                }

                if(stype=='-1'){
                    layer.alert('{:lang("请选择上传类型!")}',{icon:5});
                    return;
                }

                if($.trim(AdvUrl)==''){
                    layer.alert('{:lang("请上传手机banner!")}',{icon:5});
                    return;
                }

                if($.trim(AdvPCUrl)==''){
                    layer.alert('{:lang("请上传PC Banner!")}',{icon:5});
                    return;
                }

                console.log(stype);
                var AdvShareUrl= '';
                switch (parseInt(stype)) {
                    case 1:

                        var UrlAddress = $.trim(data.field.UrlAddress);
                        var reg=/http(s)?:\/\/([\w-]+\.)+[\w-]+(\/[\w- .\/?%&=]*)?/;

                        if(UrlAddress=='' || !reg.test(UrlAddress) ){
                            // layer.alert('{:lang("请输入正确网址，以http或者https开头!")}',{icon:5});
                            // return;
                        }
                        AdvShareUrl= UrlAddress;
                        break;

                    case 2:
                        var kindid =$.trim($('#kindid').val());
                        console.log(kindid);
                        if(kindid<1000){
                            layer.alert('{:lang("请选择正确的游戏!")}',{icon:5});
                            return;
                        }
                        AdvShareUrl= kindid;
                        break;

                    case 3:
                        var innergametype =$.trim($('#innergametype').val());
                        if(innergametype<=0){
                            layer.alert('{:lang("请选择正确的游戏功能!")}',{icon:5});
                            return;
                        }
                        AdvShareUrl= innergametype;
                        break;
                }
                $.ajax({
                    type:'post',
                    url:data.form.action,
                    data:{
                        'id':activityid,
                        'AdvTitle' : AdvTitle,
                        'SortId' : SortId,
                        'AdvUrl':AdvUrl,
                        'stype' :stype,
                        'AdvShareUrl':AdvShareUrl,
                        'AdvPCUrl':AdvPCUrl
                    },
                    dataType:'json',
                    success: function(res) {
                        var index = parent.layer.getFrameIndex(window.name); /* 先得到当前iframe层的索引 */
                        if (res.code === 0) {
                            layer.msg(res.msg,{icon:1,time:1000}, function () {
                                x_admin_close();
                                parent.layui.table.reload('proxylist',{page:{curr:$(".layui-laypage-em").next().html()}});   //主要代码
                                parent.layer.close(index);
                            });
                        } else {
                            layer.msg(res.msg, {icon:2});
                        }
                    }
                });
            },



            bindEvent: function() {
                form.on('submit(addit)', function(data) {
                    main.submitForm(data);
                    return false;
                });

                $('#cancel').on('click', function(e) {
                    e.preventDefault();
                    x_admin_close();
                })
            },

            init : function () {
                main.bindEvent();
            }



        };

        form.on('select(stype)', function (data) {
            if (data.value == 1) {
                $("#DivAddress").show();
                $("#DivGame").hide();
                $("#DivGameFunc").hide();
            }else if (data.value == 2) {
                $("#DivAddress").hide();
                $("#DivGame").show();
                $("#DivGameFunc").hide();

            }else if (data.value == 3) {
                $("#DivAddress").hide();
                $("#DivGame").hide();
                $("#DivGameFunc").show();
            }

        });

        main.init();
    });
</script>
{/block}