{extend name="common/base" /}

{block name="title"}{/block}
{block name="css"}
{/block}
{block name="content"}

<form class="layui-form" action="{:url('Activity/addchargestep')}" method="post" id="addProxy" >

    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-input-block">
            {:lang('输入对应的等级的倍数,倍数为x10')}
        </div>
    </div>
    {volist name='list' id='vo'}
    <div class="layui-form-item">
        <label class="layui-form-label">{:lang('等级')}{$vo.StepId}：</label>
        <div class="layui-input-block">
            <input type="number" id="step" name='step' placeholder="" value="{$vo.WaterMultiply}"  class="layui-input">
        </div>
    </div>
    {/volist}

    <div class="layui-form-item">
        <div class="layui-input-block">
            <a style="margin-left: 15%" type="submit" class="layui-btn layui-btn-radius" lay-submit="" lay-filter="addit" id="addit" >{:lang('保存')}</a>
            <a  class="layui-btn layui-btn-primary layui-btn-radius" lay-submit="" lay-filter="cancel" id="cancel" >{:lang('取消')}</a>
        </div>
    </div>
</form>

{/block}
{block name="script"}

<script>
    layui.config({
        base: '__layui__/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块

    }).use(['index', 'table', 'layer', 'element', 'laydate', 'form', 'jquery'], function() {
        var element = layui.element
            ,layer = layui.layer
            ,laydate = layui.laydate
            ,table = layui.table
            ,$ = layui.$
            ,form = layui.form;

        var main = {
            submitForm : function(data) {
                var arr =[];
                $("input[name='step']").each(function(){
                    arr.push($(this).val());
                })
                console.log(arr);
                $.ajax({
                    type:'post',
                    url:data.form.action,
                    data:{
                        'stepval': arr
                    },
                    dataType:'json',
                    success: function(res) {
                        var index = parent.layer.getFrameIndex(window.name); /* 先得到当前iframe层的索引 */
                        if (res.code === 0) {
                            layer.msg(res.msg,{icon:1,time:1000}, function () {
                                x_admin_close();
                                //parent.location.reload();
                                parent.layui.table.reload('proxylist',{page:{curr:$(".layui-laypage-em").next().html()}});   //主要代码
                                parent.layer.close(index);

                            });
                        } else {
                            layer.msg(res.msg, {icon:2});
                        }
                    }
                });
            },

            bindEvent: function() {
                form.on('submit(addit)', function(data) {
                    main.submitForm(data);
                    return false;
                });

                $('#cancel').on('click', function(e) {
                    e.preventDefault();
                    x_admin_close();
                })
            },

            init : function () {
                main.bindEvent();
            }
        };

        main.init();
    });


</script>
{/block}