{extend name="common/base" /}
{block name="title"}奖励发放{/block}
{block name="css"}
{/block}
{block name="content"}

<style type="text/css">
    header { color: black; }
</style>
<div class="x-body">
    <form action="{:url('Activity/RewardGrant')}" class="layui-form" id='mainForm'>
        <div class="layui-form-item layui-hide">
            <div class="layui-hide">
                <input class="layui-input layui-hide" name="ActivityID" id="ActivityID" type="text" value="{$data.ActivityID}">
            </div>
        </div>
        
        <div class="layui-form-item">
          <div class="layui-inline">
            <label class="layui-form-label">玩家ID</label>
            <div class="layui-input-inline">
               <input  class="layui-input  layui-hide" name="RoleId"  type="text" value="{$data.RoleId}">
               <input  class="layui-input"  value="{$data.RoleId}" disabled>
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">玩家名称</label>
            <div class="layui-input-inline">
               <input  class="layui-input  layui-hide" type="text" value="{$data.Name}">
               <input  class="layui-input"  value="{$data.Name}" disabled>
            </div>
          </div>
        </div>
        
        <div class="layui-form-item">
          <div class="layui-inline">
            <label class="layui-form-label">活动排名</label>
            <div class="layui-input-inline">
               <input  class="layui-input  layui-hide" name="Rank"  type="text" value="{$data.Rank}">
               <input  class="layui-input"  value="{$data.Rank}" disabled>
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">玩家电话</label>
            <div class="layui-input-inline">
               <input  class="layui-input"  type="text" value="{$data.Phone}" disabled>
            </div>
          </div>
        </div>
        
        <div class="layui-form-item">
            <label class="layui-form-label">发放状态</label>
             <div class="layui-input-inline">
                <select id="status" disabled>
                    <option value="0" {if $data.Status == 0}selected{/if}>待发放</option>
                    <option value="1" {if $data.Status == 1}selected{/if}>已发放</option>
                    <option value="2" {if $data.Status == 2}selected{/if}>拒绝发放</option>
                </select>
            </div>
        </div>
        
        <div class="layui-form-item">
            <label class="layui-form-label">玩家地址</label>
            <div class="layui-input-block">
                <textarea id="Address" autocomplete="off" class="layui-textarea" disabled>{$data.Address}</textarea>
            </div>
        </div>
        
        
        <div class="layui-form-item">
            <label class="layui-form-label">发放备注</label>
            <div class="layui-input-block">
                <textarea name="GrantRemark" id="GrantRemark" autocomplete="off" lay-verify="required" placeholder="备注" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item"  style="display:none">
            <div class="layui-input-block">
                <button id="submit_btn" class="layui-btn" lay-submit="" lay-filter="toSubmit">保存</button>
            </div>
        </div>
        
    </form>
</div>
{/block}
{block name="script"}
<script type="text/javascript">
	var _isClickSave = false;
	var _callback;
	var _layer_index;
	var main;
	layui.config({
		base: '__layui__/'
	}).extend({
		index: 'lib/index'
	}).use(['index', 'table', 'layer', 'element', 'laydate', 'form', 'jquery'], function() {
                var element = layui.element
                    ,layer = layui.layer
                    ,table = layui.table
                    ,$ = layui.$
                    ,form = layui.form;
                var laydate = layui.laydate;

                //日期
                laydate.render({
                  elem: '#BeginTime', format: 'yyyy-MM-dd HH:mm:ss',type: 'datetime',trigger: 'click'
                });
                laydate.render({
                  elem: '#EndTime', format: 'yyyy-MM-dd HH:mm:ss',type: 'datetime',trigger: 'click'
                });
                laydate.render({
                  elem: '#ShowTime', format: 'yyyy-MM-dd HH:mm:ss',type: 'datetime',trigger: 'click'
                });
		
                element.render();
                form.render();
		main = {
			bindEvent: function () {
				form.on('submit(toSubmit)', function (data) {
					main.submitForm(data);
					return false;
				});

				$('#cancel').on('click', function (e) {
					e.preventDefault();
					x_admin_close();
				});
                                //监听switch操作
                                form.on('switch(Status)', function (obj) {
                                    if (!obj.elem.checked) {
                                        $(this).val(0);
                                    } else {
                                        $(this).val(1);
                                    }
                                });
			},
			//添加
			submitForm: function (data) {
                                if (_isClickSave) return;
                                _isClickSave = true;
				$.ajax({
					type: 'post',
					url: data.form.action,
					data: $('#mainForm').serialize(),
					dataType: 'json',
					success: function (res) {
                                            _isClickSave = false;
						if (res.code === 0) {
							layer.msg(res.msg, {icon: 1, time: 1000}, function () {
								_callback();
								parent.layer.close(_layer_index);
							});
						} else {
							layer.msg(res.msg, {icon: 2});
						}
					}
				});
			},

			init: function () {
				main.bindEvent();
			}
		};

		main.init();
	});
	function saveData(callback, layer_index, autoClose) {
                $(this).addClass("");
		_layer_index = layer_index;
		_callback = callback;
                $('#submit_btn').click();
	}


</script>
{/block}
