{extend name="common/base" /}

{block name="title"}游戏配置{/block}
{block name="css"}{/block}
{block name="content"}


<div class="layui-card">
    <div class="layui-card-header layuiadmin-card-header-auto">
       <h3>游戏配置</h3>
    </div>
    <div class="layui-card-body">
        <a style="margin-bottom: 10px;" class="layui-btn" onclick="x_admin_show('新增游戏配置','addconfig.html', '', 300)">
            <i class="layui-icon layui-icon-add-circle"></i>
        </a>
        <div id="alllist">
            <table id="proxylist" lay-filter="proxylist"></table>
        </div>
    </div>
</div>


{/block}
{block name="script"}
<script type="text/html" id="msg-bar">
    <a class="layui-btn layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i></a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete"><i class="layui-icon layui-icon-delete"></i></a>
    <!--<a class="layui-btn layui-btn-xs" lay-event="open"><i class="layui-icon layui-icon-set-fill"></i></a>-->

</script>
<script>
    layui.config({
        base: '__layui__/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块

    }).use(['index', 'table', 'layer', 'element', 'laydate', 'form', 'jquery'], function() {
        var element = layui.element
            ,layer = layui.layer
            ,laydate = layui.laydate
            ,table = layui.table
            ,$ = layui.$
            ,form = layui.form;

        var main = {
            renderData : function() {
                var cols = [ //表头

                    {field: 'cfgtype', title: 'ID',minWidth:60}
                    , {field: 'description', title: '描述', minWidth:400}
                    ,{field: 'cfgvalue', title: '值', minWidth:120, templet:function(d) {
                        var hundred = [31];
                        var thousand = [5,6,7,30,34];
                        var ret = d.cfgvalue;
                        if (hundred.includes(d.cfgtype)) {
                            ret += '%';
                        } else if (thousand.includes(d.cfgtype)) {
                            ret += '元';
                        }

                        return ret;
                    }}
                    , {fixed: 'right', title:'操作', align:'center', minWidth:100, toolbar: '#msg-bar'}

                ];

                table.render({
                    elem: '#proxylist'
                    , url: "{:url('gamemanage/configlist')}" //数据接口
//                    , page: true //开启分页
                    , page: false //开启分页
                    , cols: [cols]
                    , done: function (res) {
                        tzTbale();
                    }
                });
            },


            //操作事件
            extraEvent : function () {
                //编辑&&删除
                table.on('tool(proxylist)', function(obj) {
                    var data = obj.data //获得当前行数据
                        ,layEvent = obj.event; //获得 lay-event 对应的值
                    if (layEvent === 'edit') {
                        var cfgtype = data.cfgtype
                            ,description = data.description
                            ,cfgvalue = data.cfgvalue;
                        x_admin_show('编辑游戏配置', 'editconfig?cfgtype='+cfgtype+'&description='+description+'&cfgvalue='+cfgvalue, '', 300);
                    } else if (layEvent === 'delete') {
                        layer.confirm("{:lang('确认删除这条记录？')}",{btn: ['确认','取消']}, function() {
                            $.ajax({
                                type: 'post',
                                url: "{:url('gamemanage/deleteconfig')}",
                                data: {
                                    'cfgtype': data.cfgtype
                                },
                                dataType: 'json',
                                success: function (res) {
                                    if (res.code === 0) {
                                        layer.msg(res.msg, {icon: 6,time:1000}, function() {
                                            window.location.reload();
                                        });
                                    } else {
                                        layer.msg(res.msg, {icon: 5});
                                    }
                                }
                            });
                        });
                    }
                });
            },


            init : function() {
                main.renderData();
                main.extraEvent();
            }
        };

        main.init();
    });
</script>
{/block}