{extend name="common/base" /}

{block name="title"}{/block}
{block name="css"}
{/block}
{block name="content"}

<form class="layui-form" action="{:url('gamemanage/updatelottery')}" method="post" id="addProxy" >
    <input type="hidden" id="id" name='id' value="{$id}" readonly="readonly"  autocomplete="off" >
    <div class="layui-form-item">
        <label class="layui-form-label">{:lang('奖励金币')}：</label>
        <div class="layui-input-block">
            <input type="text" id="awardgold" name="awardgold" value="{$awardgold}" lay-verify="required" placeholder="{:lang('请输入赠送比例')}" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">{:lang('中奖概率')}：</label>
        <div class="layui-input-block">
            <input type="text" id="ratio" name="ratio" value="{$ratio}" lay-verify="required" placeholder="{:lang('请输入赠送比例')}" autocomplete="off" class="layui-input">
        </div>
    </div>


    <div class="layui-form-item">
        <div class="layui-input-block">
            <a style="margin-left: 15%" type="submit" class="layui-btn layui-btn-radius" lay-submit="" lay-filter="addit" id="addit" >{:lang('更新')}</a>
            <a  class="layui-btn layui-btn-primary layui-btn-radius" id="cancel" >{:lang('取消')}</a>
        </div>
    </div>
</form>

{/block}
{block name="script"}

<script>
    layui.config({
        base: '__layui__/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块

    }).use(['index', 'table', 'layer', 'element', 'laydate', 'form', 'jquery'], function() {
        var layer = layui.layer
            ,$ = layui.$
            ,form = layui.form;

        var main = {
            submitForm : function(data) {
                var id = $.trim(data.field.id)
                    ,awardgold = $.trim(data.field.awardgold)
                    ,ratio = $.trim(data.field.ratio);

                $.ajax({
                    type:'post',
                    url:data.form.action,
                    data:{
                        'id' : id,
                        'awardgold' : awardgold,
                        'ratio' : ratio
                    },
                    dataType:'json',
                    success: function(res) {
                        if (res.code === 0) {
//                              layer.msg(res.msg,{icon:1,time:1000}, function () {
                            layer.msg(res.msg,{icon:1,time:1000}, function () {
                                x_admin_close();
                                parent.location.reload();
                            });
                        } else {
                            layer.msg(res.msg, {icon:2});
                        }
                    }
                });
            },


            bindEvent: function() {
                form.on('submit(addit)', function(data) {
                    main.submitForm(data);
                    return false;
                });

                $('#cancel').on('click', function(e) {
                    e.preventDefault();
                    x_admin_close();
                })
            },

            init : function () {
                main.bindEvent();
            }
        };

        main.init();
    });
</script>
{/block}