{extend name="common/base" /}
{block name="title"}关系列表{/block}
{block name="css"}{/block}
{block name="content"}

<div class="layui-card" style="margin-top: 20px">
    <div class="layui-card-header layuiadmin-card-header-auto">
        <form class="layui-form" lay-filter="component-form-group">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">{:lang('渠道ID')}</label>
                    <div class="layui-input-inline">
                        <input type="text" name="OperatorId" autocomplete="off" class="layui-input" id='OperatorId'>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">{:lang('渠道名称')}</label>
                    <div class="layui-input-inline">
                        <input type="text" name="OperatorName" autocomplete="off" class="layui-input" id='OperatorName'>
                    </div>
                </div>
                <div class="layui-inline">
                    <a class="layui-btn" data-type="reload" id="search">{:lang('搜索')}</a>
                    <a class="layui-btn layui-btn-normal" onclick="add()">{:lang('添加渠道')}</a>
                    <!-- <a class="layui-btn layui-btn-normal" id="bind">{:lang('绑定')}</a>
                    <a class="layui-btn layui-btn-danger" id="output">{:lang('导出记录')}</a> -->
                </div>
            </div>
        </form>

    </div>
    <div class="layui-card-body">
        <div id="alllist">
            <table id="proxylist" lay-filter="proxylist"></table>
        </div>
    </div>
    <script type="text/html" id="toolbar">
        <a class="layui-btn layui-btn-xs" lay-event="edit">{:lang('编辑')}</a>
        <a class="layui-btn layui-btn-xs" lay-event="ed">{:lang('额度修改')}</a>
        <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="unbind">{:lang('解绑谷歌')}</a>
    </script>
</div>
<script type="text/html" id="is_default">
    {{#  if(d.isDefault == 1){ }}
    <input type="checkbox" checked="" name="is_default" lay-skin="switch" lay-filter="is_default" lay-text="是|否">
    {{#  } else { }}
    <input type="checkbox" name="is_default" lay-skin="switch" lay-filter="is_default" lay-text="是|否">
    {{#  } }}
</script>
{/block}
{block name="script"}

<script>
    var APIFee = "{$APIFee}";
    url = "{:url('admin/merchant/index')}";
    layui.config({
        base: '__layui__/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table', 'layer', 'element', 'laydate', 'form', 'jquery'], function () {
        var table = layui.table;
        var form = layui.form;
        var $ = layui.$;
        var element = layui.element;
        table.render({
            elem: '#proxylist'
            , height: 'full-180'
            , url: url + '?action=list'//数据接口
            , limit: 20
            , page: true //开启分页
            , id: 'proxylist'
            , autoSort: false
            , cols: [[ //表头
                {
                    field: 'OperatorId',
                    title: "{:lang('渠道ID')}",
                    fixed: true,
                    minWidth: 100,
                    align: 'center',
                    templet: function (d) {
                        return d.OperatorId
                    }
                },
                {
                    field: 'OperatorName',
                    title: "{:lang('渠道名称')}",
                    fixed: true,
                    minWidth: 200,
                    align: 'center',
                    templet: function (d) {
                        return '<a class="font-primary layui-btn  layui-btn-xs  layui-btn-primary" lay-event="toIndex">' + d.OperatorName + '</a>'
                    }
                },
                {field: 'ProxyExtendLink', title: "{:lang('全民代理推广链接')}", minWidth: 200, align: 'center'},
                // {field: 'WhatsAppShareLink', title: "{:lang('代理邀请WhatsApp分享链接')}", minWidth: 200,  align: 'center'},
                // {field: 'FBShareLink', title: "{:lang('代理邀请FaceBook分享链接')}", minWidth: 200,  align: 'center'},
                {field: 'WithdrawRemain', title: "{:lang('渠道额度')}", minWidth: 150, align: 'center'},
                {field: 'RechargeFee', title: "{:lang('充值手续费比例')}", minWidth: 150, align: 'center'},
                {field: 'WithdrawalFee', title: "{:lang('提现手续费比例')}", minWidth: 150, align: 'center'},
                {field: 'APIFee', title: APIFee, minWidth: 500, align: 'center'},
                // {field: 'DivideFee', title: "{:lang('分成比例')}", minWidth: 200, align: 'center'},
                {field: 'AddTime', title: "{:lang('添加时间')}", minWidth: 200, align: 'center'},
                {field: 'ChannelRoom', title: "{:lang('独立房间')}", minWidth: 220, align: 'center'},
                {field: 'SingleUrl', title: "{:lang('独立域名')}", minWidth: 200, align: 'center'},
                {fixed: 'right', title: "{:lang('操作')}", toolbar: '#toolbar', minWidth: 250, align: 'center'}
            ]]
            ,done: function (res) {
                tzTbale()
            }
        });
        // 搜索
        $("#search").on('click', function () {
            table.reload('proxylist', {
                page: {
                    curr: 1
                },
                where: {
                    OperatorId: $('#OperatorId').val(),
                    OperatorName: $('#OperatorName').val(),
                }
            })
        });

        $(document).off('mousedown', '.layui-table-grid-down').on('mousedown', '.layui-table-grid-down', function (event) {
            table._tableTrCurrr = $(this).closest('td');
        });
        $(document).off('click', '.layui-table-tips-main [lay-event]').on('click', '.layui-table-tips-main [lay-event]', function (event) {
            //debugger
            var elem = $(this);
            var tableTrCurrr = table._tableTrCurrr;
            if (!tableTrCurrr) {
                return;
            }
            var layerIndex = elem.closest('.layui-table-tips').attr('times');
            console.log(layerIndex);
            layer.close(layerIndex);
            table._tableTrCurrr.find('[lay-event="' + elem.attr('lay-event') + '"]').click();
        });

        table.on('tool(proxylist)', function (obj) {
            var data = obj.data;


            if (obj.event === 'edit') {
                x_admin_show('{:lang(\'编辑渠道\')}', "{:url('/admin/merchant/edit')}?OperatorId=" + data.OperatorId, 600, 600);
            }
            if (obj.event === 'toIndex') {
                $.ajax({
                    url: '/admin/merchant/toIndex',
                    type: 'POST',
                    data: {OperatorId:data.OperatorId},
                    dataType: 'json',
                    success: function (ret) {
                        if (ret.code == 0) {
                            window.open("{:url('/admin/merchant/toIndex2')}?OperatorId=" + data.OperatorId);
                        } else {
    
                        }
                    }
                });
                // 
            }
            if (obj.event === 'ed') {
                layer.prompt({
                    formType: 3,
                    title: '{:lang(\'当前额度\')}' + '：' + data.WithdrawRemain + '，（{:lang(\'正\')}+，{:lang(\'负\')}-）',
                    btn: ['{:lang("确定")}', '{:lang("取消")}'],
                }, function (value, index) {
                    var index = layer.msg('{:lang(\'正在拼命处理...\')}', {
                        icon: 16,
                        shade: 0.6,
                        time: 0,
                    });
                    var post_data = {
                        OperatorId: data.OperatorId,
                        amount: value,
                    };
                    $.ajax({
                        url: '/admin/merchant/addEd',
                        type: 'POST',
                        data: post_data,
                        dataType: 'json',
                        success: function (ret) {
                            if (ret.code == 0) {
                                layer.msg("{:lang('添加成功，等待审核')}");
                                $(".layui-laypage-btn")[0].click();
                                setTimeout(function () {
                                    layer.closeAll()
                                }, 1000);
                            } else {
                                layer.msg(ret.msg);
                            }
                        }
                    });
                });
            }
            if (obj.event === 'unbind') {
                layer.confirm("{:lang('确认要解绑谷歌账号？')}", {btn: ['{:lang("确定")}','{:lang("取消")}']}, function () {
                    $.ajax({
                        type: 'post',
                        url: "{:url('merchant/unBindGoogle')}",
                        data: {
                            OperatorId: data.OperatorId,
                        },
                        dataType: 'json',
                        success: function (res) {
                            if (res.code === 0) {
                                layer.msg(res.msg, {icon: 6, time: 1000}, function () {
                                    window.location.reload();
                                });
                            } else {
                                layer.msg(res.msg, {icon: 5});
                            }
                        }
                    });
                });
            }
        });
    });

    function copy(value) {
        var oInput = document.createElement('input');
        oInput.value = value;
        document.body.appendChild(oInput);
        oInput.select(); // 选择对象
        document.execCommand("Copy"); // 执行浏览器复制命令
        oInput.className = 'oInput';
        oInput.style.display = 'none';
        layer.msg("复制成功");
    }

    function add() {
        x_admin_show('{:lang(\'添加渠道\')}', "{:url('/admin/merchant/edit')}", 600, 700);
    }
</script>
{/block}