{extend name="common/base" /}
{block name="title"}关系列表{/block}
{block name="css"}{/block}
{block name="content"}
<div class="layui-card" style="margin-top: 20px">
    <div class="layui-card-header layuiadmin-card-header-auto">
        <form class="layui-form" lay-filter="component-form-group">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">{:lang('渠道ID')}</label>
                    <div class="layui-input-inline"><input autocomplete="off" class="layui-input" id="OperatorId" lay-verify="number" name="OperatorId" type="text">
                    </div>
                </div>
                <div class="layui-inline">
                    <a class="layui-btn" data-type="reload" id="search">{:lang('搜索')}</a>
                </div>
            </div>
        </form>

    </div>
    <div class="layui-card-body">
        <div id="alllist">
            <table id="proxylist" lay-filter="proxylist"></table>
        </div>
    </div>
    
</div>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">

    </div>
</script>
{/block}
{block name="script"}
<script src="__js__/cache.js"></script>
<script src="__js__/Barrett.js"></script>
<script src="__js__/BigInt.js"></script>
<script src="__js__/RSA.js"></script>
<script>
    url = "{:url('Merchant/quotaManage')}";
    layui.config({
        base: '__layui__/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table', 'layer', 'element', 'laydate', 'form', 'jquery'], function () {
        var table = layui.table;
        var form  = layui.form;
        var laydate  = layui.laydate;
        var $ = layui.$;
        var element  = layui.element;
          table.render({
            elem: '#proxylist'
            // ,height: 'full-280'
            ,url: url+'?action=list'//数据接口
            ,limit:20
            ,page: true //开启分页
            ,id:'proxylist'
            ,autoSort:false
            ,sort: true
            // ,toolbar: '#toolbarDemo'
            // ,defaultToolbar:[]
            ,cols: [[ //表头
                {field:'OperatorId', title: "{:lang('渠道ID')}",align:'center', minWidth: 60},
                {field:'OperatorName', title: "{:lang('渠道名称')}",align:'center', minWidth: 200},
                {field:'', title: "{:lang('玩家上分/已用额度')}",align:'center', minWidth: 200,templet: function(d){
                    return d.BalanceQuota+'/'+d.BalanceUsed
                }},
                {field:'', title: "{:lang('佣金上分/已用额度')}",align:'center', minWidth: 200,templet: function(d){
                    return d.CommissionQuota+'/'+d.CommissionUsed
                }},
                {field:'', title: "{:lang('测试号上分/已用额度')}",align:'center', minWidth: 200,templet: function(d){
                    return d.TestMemberQuota+'/'+d.TestMemberUsed
                }},
                {field:'', title: "{:lang('测试号数量/已用额度')}",align:'center', minWidth: 200,templet: function(d){
                    return d.TestMemberNum+'/'+d.TestMemberNumUsed
                }},
                {field:'', title: "{:lang('自动出款单笔限额')}",align:'center', minWidth: 200,templet: function(d){
                    return d.AutoWithdrawalLimit
                }},
                {title:'操作',align:'center', minWidth: 120, templet: function(d){
                    return  '<a class="layui-btn layui-btn-sm" lay-event="edit">编辑</a>';
              }}
            ]]
            , done: function (res) {

            }
          });
          laydate.render({elem: '#start_date', format: 'yyyy-MM-dd HH:mm:ss',type: 'datetime', max: 1, lang:'{$datelang ?: "cn"}', btns: ['clear', 'confirm']});
          laydate.render({elem: '#end_date', format: 'yyyy-MM-dd HH:mm:ss',type: 'datetime', max: 1, lang:'{$datelang ?: "cn"}', btns: ['clear', 'confirm']});

          // 搜索 
          $("#search").on('click', function(){
             table.reload('proxylist', {
              page:{
                  curr:1 
              },
              where: {
                  OperatorId: $('#OperatorId').val()
              }
            })
          });
        table.on('tool(proxylist)', function (obj) {
            var data = obj.data //获得当前行数据
                , layEvent = obj.event; //获得 lay-event 对应的值
            tr = obj.tr; //获得当前行 tr 的DOM对象
            if (obj.event === 'edit') {
                layer.open({
                type: 2 ,
                title: '编辑额度',   //标题
                area: ['800px', '600px'],   //宽高
                shade: 0.4,   //遮罩透明度
                content: "{:url('merchant/editQuota')}?OperatorId="+data.OperatorId,//支持获取DOM元素
                // end:function(){
                //   $(".layui-laypage-btn")[0].click();
                // }
                });
            }
        });
        table.on('toolbar(proxylist)', function (obj) {

        });
        //排序
        table.on('sort(proxylist)', function (obj) {
            //执行重载
            table.reload('proxylist', {
                initSort: obj,
                page: {curr: 1},
                where: {
                    OperatorId: $('#OperatorId').val(),
                    ordertype: obj.type,
                    orderby: obj.field,
                },
                parseData:function(res){
                  if(res.data.length==0){
                    return{
                      'code':'201',
                      'msg':"{:lang('无数据')}"
                    };
                  };
                }
            });

        });
    });
</script>
{/block}