{include file='public/head'}
<body>
<style media="screen" type="text/css">
    header {
        color: black;
    }
</style>
<!-- LimitDown	LimitUp	WinRate -->
<div class="x-body">
    <form action="FunctionItemEdit" class="layui-form" id='mainForm' method="post">
        <div class="layui-form-item">
            <label class="layui-form-label">{:lang('分类')}</label>
            <div class="layui-input-block">
                 <select name="ttype" id="ttype">
                    {foreach $type_arr as $key => $val}
                     <option value="{$key}" {if($ttype==$key)}selected='selected'{/if}>{$val}</option>
                    {/foreach}
                 </select>
             </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">CfgType</label>
            <div class="layui-input-block ">
                <input autocomplete="off" class="layui-input layui-disabled" disabled placeholder="CfgType" type="text" value="{$ID}">
                <input hidden name="ID" type="text" value="{$ID}">
                <input type="hidden" name="Rate" value="{$Rate}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">CfgValue</label>
            <div class="layui-input-block">
                <input autocomplete="off" class="layui-input" lay-verify="" name="Value" placeholder="CfgValue" type="text" value="{$Value}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">{:lang('描述')}</label>
            <div class="layui-input-block">
                <input autocomplete="off" class="layui-input" lay-verify="required|username" name="Msg" placeholder="{:lang('描述')}" type="text" value="{$msg}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">keyValue</label>
            <div class="layui-input-block">
                <input autocomplete="off" class="layui-input"  name="keyValue" placeholder="keyValue" type="text" value="{$keyValue}">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-filter="toSubmit" lay-submit="" style="margin-left: 15%">{:lang('提交')}</button>
                <button class="layui-btn layui-btn-primary" id="reset" type="reset">{:lang('重置')}</button>
            </div>
        </div>

    </form>
</div>
</body>
{include file='public/foot'}
<script type="text/javascript">
    var form = layui.form;
    var layer = layui.layer;

    //监听提交
    form.on('submit(toSubmit)', function (data) {
        // $('#mainForm').ajaxForm(options).submit(function (data) {  });
        //  layer.msg(JSON.stringify(data.field));
        // return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
    });


    $(document).ready(function () {
        var options = {
            type: 'post',           //post提交
            dataType: "json",        //json格式
            // data: {},    //如果需要提交附加参数，视情况添加
            clearForm: false,        //成功提交后，清除所有表单元素的值
            resetForm: false,        //成功提交后，重置所有表单元素的值
            cache: false,
            async: false,          //同步返回
            success: function (data) {
                console.log(data);
                if (data.code == 0) {
                    layer.msg(data.msg, {icon: 1, time: 1000}, function () {
                        x_admin_close();
                        parent.layui.table.reload('Table0');
	                    parent.layui.table.reload('Table1');
	                    parent.layui.table.reload('Table2');
                        parent.layui.table.reload('Table3');
                        parent.layui.table.reload('Table4');
                        parent.layui.table.reload('Table5');
                        parent.layui.table.reload('Table10');
                        parent.layui.table.reload('Table11');
                         // parent.location.reload();
                    });
                } else {
                    layer.msg(data.msg, {icon: 2, time: 300}, function () {
                        $("#reset").click();
                        x_admin_close();
                        parent.location.reload();
                    });
                }
                //服务器端返回处理逻辑
            },
            error: function (XmlHttpRequest, textStatus, errorThrown) {
                layer.msg("{:lang('操作失败:服务器处理失败')}");
            }
        };
        // bind form using 'ajaxForm'
        $('#mainForm').ajaxForm(options).submit(function (data) {
            //无逻辑
        });
    });

</script>
