{extend name="common/base" /}

{block name="title"}向玩家转账{/block}
{block name="css"}
<style type="text/css">
.layui-table-cell{
    height: auto !important;
    
  }
  .layui-table-cell, .layui-table-tool-panel li{
     word-wrap: break-word !important;
     white-space:unset !important;
  }
</style>
{/block}
{block name="content"}
<div class="layui-row layui-col-space20" style="display: none">
    <div class="layui-col-md6">
        <div class="layui-card">
            <div class="layui-card-header">
                {:lang('总转入')}
                <span class="layui-badge layui-bg-blue layuiadmin-badge">{:lang('转入')}</span>
            </div>
            <div class="layui-card-body layuiadmin-card-list">
                <p class="layuiadmin-big-font" style="color: #ff0000" id="total">0</p>
            </div>
        </div>
    </div>

    <div class="layui-col-md6">
        <div class="layui-card">
            <div class="layui-card-header">
                {:lang('总转出')}
                <span class="layui-badge layui-bg-blue layuiadmin-badge">{:lang('转出')}</span>
            </div>
            <div class="layui-card-body layuiadmin-card-list">
                <p class="layuiadmin-big-font" style="color: red" id="totalout">0</p>
            </div>
        </div>
    </div>
</div>
<div class="layui-card" style="margin-top: 20px">
    <div class="layui-card-header layuiadmin-card-header-auto">
        <form class="layui-form" lay-filter="component-form-group">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">{:lang('玩家ID')}</label>
                    <div class="layui-input-inline"  style="width: 100px">
                        <input type="text" id="roleid" name="roleid" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">
                        {:lang('时间')}</label>
                    <div class="layui-input-inline">
                        <input type="text" name="start" id="LAY-component-form-group-date" autocomplete="off" class="layui-input" value="{:date('Y-m-d').' 00:00:00'}">
                    </div>
                    <div class="layui-form-mid">
                        -
                    </div>
                    <div class="layui-input-inline">
                        <input type="text" name="end" id="LAY-component-form-group-date2" autocomplete="off" class="layui-input" value="{:date('Y-m-d').' 23:59:59'}">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">{:lang('出款方式')}</label>
                    <div class="layui-input-inline"  style="width: 100px">
                        <select name="payWay" id="payWay" name="payWay">
                            <option value="" selected>{:lang('全部')}</option>
                            {if(config('app_type') == 2)}
                            <!-- <option value="1">UPI</option> -->
                            <!-- <option value="2">Bank</option> -->
                            <option value="2">PIX</option>
                            {elseif(config('app_type') == 3)}
                            <option value="2">Bank</option>
                            {else}
                            <option value="1">UPI</option>
                            <option value="2">Bank</option>
                            <!-- <option value="3">PIX</option> -->
                            {/if}
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">{:lang('出款来源')}</label>
                    <div class="layui-input-inline"  style="width: 100px">
                        <select name="DrawBackWay" id="DrawBackWay" name="DrawBackWay">
                            <option value="" selected>{:lang('全部')}</option>
                            <option value="1">余额提款</option>
                            <option value="2">佣金提款</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">
                        {:lang('提现金额')}</label>
                    <div class="layui-input-inline" style="width: 100px">
                        <input type="text" id="min_amount" name="roleid" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid">
                        -
                    </div>
                    <div class="layui-input-inline" style="width: 100px">
                        <input type="text" id="max_amount" name="roleid" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <!-- <div class="layui-inline">
                    <label class="layui-form-label">{:lang('支付通道')}</label>
                    <div class="layui-input-inline">
                        <select name="payChannel" id="payChannel" name="payChannel">
                            <option value="0" selected>{:lang('全部')}</option>
                            {if !empty($channellist)}
                            {foreach $channellist as $k => $v}
                            <option value="{$v.ChannelId}">{$v.ChannelName}</option>
                            {/foreach}
                            {/if}
                        </select>
                    </div>
                </div> -->
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <a class="layui-btn" id="search" data-type="reload">{:lang('搜索')}</a>
                        <button type="reset" class="layui-btn layui-btn-primary">{:lang('重置')}</button>
                    </div>
                </div>

            </div>
        </form>

        <div class="layui-card-body">
            <div id="alllist">
                <table id="proxylist" lay-filter="proxylist"></table>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="toolbarDemo">
  <div class="layui-btn-container">
    <button class="layui-btn layui-btn-sm" lay-event="onekeyPass">{:lang('一键加入工单')}</button>

  </div>
</script>
{/block}
{block name="script"}

<script type="text/html" id="msg-bar">
    <!--    <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="detail">{:lang('详情')}</a>-->
    <a class="layui-btn layui-btn-xs" lay-event="edit">{:lang('加入工单')}</a>
    <!-- <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="refuse">{:lang('拒绝')}</a> -->
   <!--  <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="freeze">{:lang('没收')}</a> -->
</script>

<script>
	url = "{:url('playertrans/apply')}?status=0";
	layui.config({
		base: '__layui__/' //静态资源所在路径
	}).extend({
		index: 'lib/index' //主入口模块

	}).use(['index', 'table', 'layer', 'element', 'laydate', 'form', 'jquery'], function () {
		var element = layui.element, layer = layui.layer, laydate = layui.laydate, table = layui.table, $ = layui.$, form = layui.form;
		var main = {
			renderData: function () {
				//设置表头
				var cols = [
                    {type: 'checkbox', fixed: 'left'},
                    {
                        field: '', align: 'left', title: "{:lang('订单号')}", minWidth: 250, templet: function (d) {
                            var html = "";
                            html += "{:lang('系统')}：" + d.OrderNo + '<br/>';
                            html += "{:lang('三方')}：" + d.TransactionNo + '<br/>';
                            html += "{:lang('申请时间')}：" + d.AddTime;
                            return html;
                        }
                    },
                    {
                        field: 'AccountID', align: 'center', title: "{:lang('玩家ID')}", minWidth: 100, templet: function (d) {
                            return " <a class=\"layui-bg-green\" lay-event=\"info\">" + d.AccountID + "</a>";
                        }
                    },
                    {field: 'Money', align: 'center', title: "{:lang('携带余额')}", minWidth: 100},
                    {if(config('app_name')=='TATUWIN')}
                        {field: 'RiskLevel', align: 'center', title: "{:lang('风险等级')}", minWidth: 120, templet: function (d) {
                                return '等级'+d.RiskLevel;
                            }
                        },
                    {/if}
                    {
                        field: 'DrawBackWay', align: 'center', title: "{:lang('出款来源')}", width: 100, templet: function (d) {
                            if (d.DrawBackWay == 1) {
                                return "余额提款";
                            }
                            else {
                                return "佣金提款";
                            }
                        }
                    },
                     {
                        field: '', align: 'center', title: "{:lang('提款')}", minWidth: 120, templet: function (d) {
                            var html = "";
                            html += "{:lang('金额')}：" +'<span style="color: red">'+ Math.floor(d.iMoney * 100) / 100 + '</span><br/>';
                            html += "{:lang('税收')}：" +'<span style="color: black">'+ Math.floor(d.Tax * 100) / 100 + '</span><br/>';
                            html += "{:lang('打款')}：" +'<span style="color: black">'+ d.RealPay+ '</span>';
                            return html;
                        }
                    },
                    {field: 'Descript', align: 'center', title: "{:lang('备注')}", minWidth: 100, templet: function (d) {
                            if (d.Descript) {
                                return '<span style="color: red">'+d.Descript+'</span>';
                            } else{
                                return '';
                            }
                            
                        }
                    },
                    {field: 'totalPay', align: 'center', title: "{:lang('总充值')}", minWidth: 100, templet: function (d) {
                            return '<span style="color: red">'+d.totalPay+'</span>';
                        }
                    },
                    {field: 'TotalDS', align: 'center', title: "{:lang('总提现')}", minWidth: 100, templet: function (d) {
                            return '<span style="color: red">'+d.TotalDS+'</span>';
                        }
                    },
                    
                    
                    // {
                    //     field: '', align: 'center', title: "{:lang('充提')}", minWidth: 150, templet: function (d) {
                    //         var html = "";
                    //         html += "{:lang('总充值')}："+'<span style="color: red">' + d.totalPay + '</span><br/>';
                    //         html += "{:lang('总提现')}：" +'<span style="color: red">'+ d.TotalDS + '</span>';
                    //         return html;
                    //     }
                    // },
                    
                    {
                        field: '', align: 'center', title: "{:lang('上分（游戏+佣金）')}", minWidth: 150, templet: function (d) {
                            return d.totalsf+'（'+d.gamesf+'+'+d.commisionsf+'）'
                        }
                    },
                    {
                        field: 'status', align: 'center', title: "{:lang('订单状态')}", minWidth: 100, templet: function (d) {
                            switch (Number(d.status)) {
                                case 0:
                                    return '<span style="color: red">'+d.orderType+'</span>';
                                case 1:
                                    return '<span style="color:yellowgreen">'+d.orderType+'</span>';
                                case 100:
                                    return '<span style="color: red">'+d.orderType+'</span>';
                                default:
                                    return d.orderType;
                            }
                        }
                    },
                    // {
                    //     field: 'PayWay', align: 'center', title: "{:lang('出款方式')}", minWidth: 100, templet: function (d) {
                    //         if (d.PayWay == 1) {
                    //             return '<span style="color: #e60000">UPI</span>';
                    //         }
                    //         else if (d.PayWay == 2) {
                    //             return '<span style="color: #e60000">PIX</span>';
                    //         }
                    //         else if (d.PayWay == 3) {
                    //             return '<span style="color: #e60000">GCASH</span>';
                    //         }
                    //     }
                    // },
                    {
                        field: '', align: 'left', title: "{:lang('账号详情')}", width: 250, templet: function (d) {
                            if (d.PayWay == 1) {
                                var html = "{:lang('UPI账号')}：" + d.CardNo;
                                return html;
                            }
                            else if (d.PayWay == 3) {
                                var html = "";
                                html += "{:lang('姓名')}：" + d.RealName + '<br/>';
                                html += "{:lang('账号')}：" + d.CardNo + '<br/>';
                                html += "{:lang('银行')}：" + d.Province + '<br/>';
                                return html;
                            }
                            else if (d.PayWay == 2) {
                                var html = "";
                                html += "{:lang('PIX类型')}：CPF<br/>";
                                html += 'Chave CPF:' + d.CardNo + '<br/>';
                                html += 'CPF：' + d.Province + '<br/>';
                                html += 'EMAIL：' + d.City + '<br/>';
                                return html;
                            }
                        }
                    },
                    {field: 'EamilMoney', align: 'center', title: "{:lang('邮件补偿')}", minWidth: 100},
                    // {field: 'countryCode', align: 'center', title: "{:lang('国家代码')}", minWidth: 120},
                    {
                        field: '', align: 'center', title: "{:lang('渠道')}", minWidth: 100, templet: function (d) {
                            var html = "";
                            html += d.OperatorId + '<br/>';
                            html += d.OperatorName ;
                            return html;
                            // return d.OperatorId+'（'+d.OperatorName +'）'
                        }
                    },
                    {
                        field: '', align: 'center', title: "{:lang('业务员')}", minWidth: 100, templet: function (d) {
                            return d.ProxyChannelName
                        }
                    },
                    
					{
						fixed: 'right', title: '操作', align: 'center', minWidth: 200,height:'auto', templet: function (d) {
							status = Number(d.status);
							str = "";
							if (status == 0) {
								// str += "<a class=\"layui-btn layui-btn-xs\" lay-event=\"edit\">{:lang('审核通过')}</a>" +
								// 	"<a class=\"layui-btn layui-btn-xs layui-btn-danger \" lay-event=\"refuse\">{:lang('拒绝')}</a>" +
                                str += 	"    <a class=\"layui-btn layui-btn-xs layui-btn-warm \" lay-event=\"addremark\">{:lang('添加玩家备注')}</a>";
								str += "<a class=\"layui-btn layui-btn-xs\" lay-event=\"edit\">{:lang('加入工单')}</a>";
							} else if (status == 1) {
								str += "<a class=\"layui-btn layui-btn-xs \" lay-event=\"third\">{:lang('提交第三方')}</a>" +
									"<a class=\"layui-btn layui-btn-xs layui-btn-danger \" lay-event=\"refuse\">{:lang('拒绝')}</a>" +
									"    <a class=\"layui-btn layui-btn-xs layui-btn-warm \" lay-event=\"freeze\">{:lang('没收')}</a>";
							} else {

							}
							return str;
							// if (status > 0) {
							//     str +=
							//         "    <a class=\"layui-btn layui-btn-xs layui-btn-danger layui-disabled\" >拒绝</a>" +
							//         "    <a class=\"layui-btn layui-btn-xs layui-btn-warm layui-disabled\">没收</a>";
							//     return str;
							// } else
							//     return str +=
							//         "    <a class=\"layui-btn layui-btn-xs layui-btn-danger \" lay-event=\"refuse\">拒绝</a>\n" +
							//         "    <a class=\"layui-btn layui-btn-xs layui-btn-warm\" lay-event=\"freeze\">没收</a>";

						}
					}
				];
				table.render({
					elem: '#proxylist', url: url, page: true, limit: 15,toolbar: '#toolbarDemo',defaultToolbar:[], cols: [cols],where: {Status:0}
					, done: function (res, curr, count) {
						
						$('#total').html(res.other.alltotal);
						$('#totalout').html(res.other.alltotalout);
						var wrong = $('td[data-field="wrong"]');
						for (var i = 0; i < wrong.length; i++) {
							if ($(wrong[i]).find('div').html() != '') {
								$(wrong[i]).parent().css('color', '#FF5722');
							} else {

							}
						}
						//表头部分
                        //动态监听表头高度变化，冻结行跟着改变高度
                        $(".layui-table-header  tr").resize(function () {
                            $(".layui-table-header  tr").each(function (index, val) {
                                $($(".layui-table-fixed .layui-table-header table tr")[index]).height($(val).height());
                            });
                        });
                        //初始化高度，使得冻结行表头高度一致
                        $(".layui-table-header  tr").each(function (index, val) {
                            $($(".layui-table-fixed .layui-table-header table tr")[index]).height($(val).height());
                        });

                        //表体部分
                        //动态监听表体高度变化，冻结行跟着改变高度
                        $(".layui-table-body  tr").resize(function () {
                            $(".layui-table-body  tr").each(function (index, val) {
                                $($(".layui-table-fixed .layui-table-body table tr")[index]).height($(val).height());
                            });
                        });
                        //初始化高度，使得冻结行表体高度一致
                        $(".layui-table-body  tr").each(function (index, val) {
                            $($(".layui-table-fixed .layui-table-body table tr")[index]).height($(val).height());
                        });
					}
				});
			},
			//搜索
			search: function () {
				var roleid = $.trim($('#roleid').val());
				var start = $.trim($('#LAY-component-form-group-date').val());
				var end = $.trim($('#LAY-component-form-group-date2').val());
				var payChannel = $.trim($('#payChannel').val());
				var payWay = $.trim($('#payWay').val());
                var DrawBackWay = $.trim($('#DrawBackWay').val());

				//执行重载
				table.reload('proxylist', {
					page: {
						curr: 1 //重新从第 1 页开始
					},
					where: {
						'roleid': roleid,//AccountID
						'start': start, //AddTime
						'end': end,
						'payWay':payWay,
                        'DrawBackWay':DrawBackWay,
						'payChannel': payChannel,//支付方式
                        'amount':$.trim($('#min_amount').val()),
                        'max_amount':$.trim($('#max_amount').val()),
					}
				});
			},

			//操作事件
			extraEvent: function () {
				//编辑
				table.on('tool(proxylist)', function (obj) {
					//获得当前行数据
					// console.info(obj.data)
					if (obj.event === 'info') {
						var url = "{:url('player/playerDetail')}" + '?roleid=' + obj.data.AccountID;
						x_admin_show('{:lang(\'玩家详情\')}', url, $(window).width() * 0.7, $(window).height() * 0.6);
						return;

					}
					if (obj.event === 'detail') {
						var url = 'basePlayer?roleid=' + obj.data.AccountID;
						x_admin_show('{:lang(\'玩家详情\')}', url, $(window).width() * 0.5, ($(window).height() * 0.5));
					} else if (obj.event === 'refuse') {
						x_admin_show('{:lang(\'拒绝提现\')}', 'refuse?UserID=' + obj.data.AccountID + '&OrderNo=' + obj.data.OrderNo + '&status=' + obj.data.status + '&description=' + obj.data.Descript, '', 250);
					} else if (obj.event === 'freeze') {
						x_admin_show('{:lang(\'没收\')}', 'freeze?UserID=' + obj.data.AccountID + '&OrderNo=' + obj.data.OrderNo + '&status=' + obj.data.status + '&description=' + obj.data.Descript, '', 250);
					} else if (obj.event === 'edit') {
						x_admin_show('{:lang(\'加入工单\')}', 'agree?UserID=' + obj.data.AccountID + '&OrderNo=' + obj.data.OrderNo + '&status=' + obj.data.status + '&description=' + obj.data.Descript, '', 500);
					} else if (obj.event === 'third') {
						x_admin_show('{:lang(\'选择提现通道\')}', 'thirdpay?UserID=' + obj.data.AccountID + '&OrderNo=' + obj.data.OrderNo + '&status=' + obj.data.status + '&description=' + obj.data.Descript, '', 300);
					}else if(obj.event === 'addremark'){
                        layer.prompt({
                            formType: 2,
                            value: '',
                            title: "{:lang('请输入备注')}",
                            btn: ['{:lang("确定")}', '{:lang("取消")}'],
                            area: ['300px', '100px'] //自定义文本域宽高
                        }, function (value, index, elem) {
                            $.ajax({
                                type: 'post',
                                url: "{:url('player/addCommnet')}",
                                data: {
                                    'roleid': obj.data.AccountID,
                                    'comment': value,
                                    'type': 1
                                },
                                dataType: 'json',
                                success: function (res) {
                                    if (res.code == 0) {
                                        layer.msg("{:lang('添加成功')}", {icon: 1, time: 1000}, function () {
                                            //window.location.reload();
                                            table.reload("proxylist", {page: {curr: $(".layui-laypage-em").next().html()}});
                                            layer.closeAll();
                                        });
                                    } else {
                                        layer.msg(res['msg'], {icon: 5});
                                    }
                                }
                            });
                            // alert(value); //得到value
                            // layer.closeAll();
                        });
                    }
				});
				//排序
                table.on('sort(proxylist)', function (obj) {
                	var roleid = $.trim($('#roleid').val());
					var start = $.trim($('#LAY-component-form-group-date').val());
					var end = $.trim($('#LAY-component-form-group-date2').val());
					var payway = $.trim($('#operorid').val());
                    //执行重载
                    table.reload('proxylist', {
                        initSort: obj,
                        page: {
                            curr: 1 //重新从第 1 页开始
                        },
                        where: {
                            'orderby': obj.field,
                            'ordertype': obj.type,
                            'roleid': roleid,//AccountID
							'start': start, //AddTime
							'end': end,
							'payChannel': payway,//支付方式
                            'amount':$.trim($('#min_amount').val()),
                            'max_amount':$.trim($('#max_amount').val()),
                        }
                    });

                });

                //触发表格复选框选择
                table.on('checkbox(proxylist)', function(obj){
                    console.log(obj)
                });
                table.on('toolbar(proxylist)', function(obj){
                      var checkStatus = table.checkStatus(obj.config.id);
                      switch(obj.event){
                        case 'onekeyPass':
                            var da = checkStatus.data;
                            if (da.length == 0) {
                              layer.msg('{:lang("未选择记录")}');
                              return;
                            }
                            var OrderNo = [];
                            for (var i = da.length - 1; i >= 0; i--) {
                                OrderNo.push(da[i].OrderNo)
                            }
                            // var OrderNo = JSON.stringify(OrderNo);                            
                            x_admin_show('{:lang(\'加入工单\')}', 'onekeyAgree?OrderNo=' + OrderNo, '', 500);
                        break;
                      };
                    });
			},

			init: function () {
				form.render(null, 'component-form-group');
				laydate.render({
					elem: '#LAY-component-form-group-date'
					, format: 'yyyy-MM-dd'
					, max: 1
					, lang:'{$datelang ?: "cn"}'
					, type: 'datetime'
				});
				laydate.render({
					elem: '#LAY-component-form-group-date2'
					, format: 'yyyy-MM-dd'
					, max: 1
					, lang:'{$datelang ?: "cn"}'
					, type: 'datetime'
				});
				main.extraEvent();
				main.renderData();
				$('#search').on('click', function (e) {
					e.preventDefault();
					main.search();
				});
			}
		};
		main.init();
		var t1 = window.setInterval(main.search, 1000 * 180);
	});
</script>
{/block}