<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{$Think.config.app_name}_{:lang('运营系统')}</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="{$laypath}/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="{$laypath}/style/admin.css" media="all">
</head>
<!-- {if $datelang == 'en'}
<style type="text/css">
@media screen and (min-width: 992px){
    .layui-layout-admin .layui-side{
         width:300px!important;
    }
    .layui-layout-admin .layui-body{
        left:300px!important;
    }
    .layadmin-pagetabs{
        left:300px!important;
    }
    .layui-layout-admin .layui-logo{
        width:300px!important;
    }
    .layui-side-menu .layui-side-scroll{
        width:320px!important;
    }
    .layui-side-menu .layui-nav{
        width:300px!important;
    }
    .layui-layout-admin .layui-layout-left{
        left:300px!important;
    }
}
</style>
{/if} -->

<body class="layui-layout-body">

<div id="LAY_app">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <!-- 头部区域 -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item layadmin-flexible" lay-unselect>
                    <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
                        <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
                    </a>
                </li>
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;" layadmin-event="refresh" title="刷新">
                        <i class="layui-icon layui-icon-refresh-3"></i>
                    </a>
                </li>

            </ul>
            <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
                <li class="layui-nav-item" lay-unselect>
                    {:lang('服务器时间')}：<span id='Server_time'></span>
                </li>
                <li class="layui-nav-item" lay-unselect>
                    <a lay-href="{:url('admin/playertrans/apply')}"  layadmin-event="refresh" lay-text="{:lang('转出申请审核')}" title="{:lang('待处理转出审核')}" id="newapply">

                    </a>
                </li>
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;">
                        <cite id="username">{:session('username')}</cite>
                    </a>
                    <dl class="layui-nav-child">
                        <dd style="text-align: center;"><a href="{:url('admin/user/logout')}">{:lang('退出')}</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;" id="sych" title="{:lang('同步数据')}">
                        {:lang('同步数据')}
                    </a>
                </li>
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;">
                        <cite id="username">{:lang('切换语言')}</cite>
                    </a>
                    <dl class="layui-nav-child">
                        <dd style="text-align: center;"><a href="{:url('admin/index/index')}?lang=zh-cn" target="_self">中文</a></dd>
                        <dd style="text-align: center;"><a href="{:url('admin/index/index')}?lang=en-us" target="_self">English</a></dd>
                    </dl>
                </li>

                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="theme">
                        <i class="layui-icon layui-icon-theme"></i>
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="fullscreen">
                        <i class="layui-icon layui-icon-screen-full"></i>
                    </a>
                </li>

            </ul>
        </div>

        <!-- 侧边菜单 -->
        <div class="layui-side layui-side-menu">
            <div class="layui-side-scroll">
                <div class="layui-logo">
                    <span lay-href="{:url('admin/linechart/index')}" layadmin-event="refresh">{$Think.config.app_name}</span>
                    <!--                    <span lay-href="{:url('admin/linechart/online')}"  layadmin-event="refresh">首页</span>-->
                </div>

                <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">
                    {foreach name="menu" item="vo"}
                    {if condition="isset($vo['children'])"}
                    <li data-name="account" class="layui-nav-item">
                        <a href="javascript:;" lay-tips="" lay-direction="2">
                            {if condition="!empty($vo['icon'])"}
                            <i class="layui-icon">&#{$vo.icon};</i>
                            {else/}
                            <i class="layui-icon"></i>
                            {/if}
                            <cite>{:lang($vo.title)}</cite>
                        </a>
                        <dl class="layui-nav-child">
                            {foreach name="vo['children']" item="v"}
							{if condition="isset($v['children'])"}
							<dd>
							<a href="javascript:;" >
								{if condition="!empty($v['icon'])"}
								<i class="layui-icon">&#{$v.icon};</i>
								{else/}
								<i class="layui-icon"></i>
								{/if}
								<cite>{:lang($v.title)}</cite>
							</a>
							<dl class="layui-nav-child">
								{foreach name="v['children']" item="k"}
								<dd>
									<a lay-href="{:url($k.name)}" layadmin-event="refresh" >{:lang($k.title)}</a>
								</dd>
								{/foreach}
							</dl>
							<dd>
							{else/}
                            <dd>
                                <a lay-href="{:url($v.name)}" layadmin-event="refresh" >{:lang($v.title)}</a>
                            </dd>
							{/if}
                            {/foreach}
                        </dl>
						
						
						<!-- <dl class="layui-nav-child">
                            {foreach name="vo['children']" item="v"}
                            <dd>
                                <a lay-href="{:url($v.name)}" layadmin-event="refresh" >{$v.title}</a>
                            </dd>
                            {/foreach}
                        </dl>-->
                    </li>
                    {else/}
                    <li data-name="home" class="layui-nav-item layui-nav-itemed">
                        <a href="javascript:;" lay-href="{:url($vo.name)}" lay-tips="" lay-direction="2">
                            {if condition="!empty($vo['icon'])"}
                            <i class="layui-icon">&#{$vo.icon};</i>
                            {else/}
                            <i class="layui-icon"></i>
                            {/if}
                            <cite>{$vo.title}</cite>
                        </a>
                    </li>
                    {/if}
                    {/foreach}
                </ul>
            </div>
        </div>

        <!-- 页面标签 -->
        <div class="layadmin-pagetabs" id="LAY_app_tabs">
            <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-down">
                <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
                    <li class="layui-nav-item" lay-unselect>
                        <a href="javascript:;"></a>
                        <dl class="layui-nav-child layui-anim-fadein">
                            <dd layadmin-event="closeThisTabs"><a href="javascript:;">{:lang('关闭当前标签页')}</a></dd>
                            <dd layadmin-event="closeOtherTabs"><a href="javascript:;">{:lang('关闭其它标签页')}</a></dd>
                            <dd layadmin-event="closeAllTabs"><a href="javascript:;">{:lang('关闭全部标签页')}</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
                <ul class="layui-tab-title" id="LAY_app_tabsheader">
<!--                    配置首页-->
                    <li lay-id="{:url('admin/linechart/index')}"   lay-attr="{:url('admin/player/index')}" class="layui-this">{:lang('首页')}</li>
                    <!--<li lay-id="{:url('admin/linechart/online')}" layadmin-event="refresh"  lay-attr="{:url('admin/player/online')}" class="layui-this">在线玩家统计</li>-->
                </ul>
            </div>
        </div>


        <!-- 主体内容 -->
        <div class="layui-body" id="LAY_app_body">
            <div class="layadmin-tabsbody-item layui-show">
                <!--<iframe src="{:url('admin/linechart/online')}"  frameborder="0" class="layadmin-iframe"></iframe>-->
                <iframe src="{:url('admin/linechart/index')}" layadmin-event="refresh"  frameborder="0" class="layadmin-iframe"></iframe>
            </div>
        </div>

        <!-- 辅助元素，一般用于移动设备下遮罩 -->
        <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
</div>

<script src="{$laypath}/layui/layui.js"></script>
<script>
    layui.config({
        base: '{$laypath}/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table', 'layer', 'element', 'laydate', 'form', 'jquery'], function() {
        var element = layui.element
            ,layer = layui.layer
            ,laydate = layui.laydate
            ,table = layui.table
            ,$ = layui.$
            ,form = layui.form;

        $('#sych').on('click', function(e) {
            e.preventDefault();
            $.ajax({
                type: 'post',
                url: "{:url('admin/sychronData/index')}",
                data: {},
                dataType: 'json',
                success: function (res) {
                    if (res.code === 0) {
                        layer.msg(res.msg, {icon:1});
                    } else {
                        layer.msg(res.msg, {icon:2});
                    }
                }
            });
        });


        var main = {
            checkmutillogin: function () {
                $.ajax({
                    type: 'post',
                    url: "{:url('admin/check/checkmultilogin')}",
                    data: {},
                    dataType: 'json',
                    success: function (res) {
                        if (res.code === 1) {
                            layer.confirm(res.msg,{btn: ['{:lang(\'确认\')}'], cancel:function () {
                                window.location.href="{:url('admin/user/logOut')}";
                            }}, function() {
                                window.location.href="{:url('admin/user/logOut')}";
                            });
                        }
                    }
                });
            },

            checknouse: function () {
                $.ajax({
                    type: 'post',
                    url: "{:url('admin/check/checknouse')}",
                    data: {},
                    dataType: 'json',
                    success: function (res) {
                        if (res.code === 1) {
                            layer.confirm(res.msg,{btn: ['{:lang(\'确认\')}'], cancel:function () {
                                window.location.href="{:url('admin/user/logOut')}";
                            }}, function() {
                                window.location.href="{:url('admin/user/logOut')}";
                            });

                        }
                    }
                });
            },
            checknewapply : function () {
                $.ajax({
                    type: 'post',
                    url: "{:url('admin/check/checknewapply')}",
                    data: {},
                    dataType: 'json',
                    success: function (res) {
                        if (res.code === 0) {
                            if (res.data.count > 0) {
                                $('#newapply').html("<i class=\"layui-icon layui-icon-notice\"></i><span id='hasit' class=\"layui-badge-dot\"></span>");
                                if (res.data.same == 0) {
                                    layer.closeAll();
                                    layer.open({
                                        type: 1
                                        ,title:'{:lang(\'提示\')}'
                                        ,offset: 'rb'
                                        ,content: '<div style="padding: 20px 100px;">您有<span style="color: red">'+ res.data.count +'条</span>提现申请待处理</div>'
                                        ,btn: '{:lang(\'点击查看\')}'
                                        ,btnAlign: 'c'
                                        ,shade: 0
                                        ,cancel:function() {
                                            layer.closeAll();
                                        }
                                        ,yes: function(){
                                            var protocol = window.location.protocol;
                                            var host = window.location.host;
                                            $('#newapply').click();
                                            layer.closeAll();
                                        }
                                    });
                                }
                            } else {
                                $('#newapply').html("<i class=\"layui-icon layui-icon-notice\"></i>");
                                layer.closeAll();
                            }
                        }
                    }
                });
            },
	        bindevent: function () {
		        $('#newapply').on('click', function () {
			        $('#newapply').find('span').remove();
		        })
	        }

        };
	    main.checknewapply();
	    main.bindevent();
	    var t1 = window.setInterval(main.checkmutillogin, 1000 * 60);
	    var t2 = window.setInterval(main.checknouse, 1000 * 60 * 5);
        var now_timestamp = Date.parse("{:date('Y-m-d H:i:s')}");
        var startTime = new Date().getTime();
        var count = 0;
        setInterval(function(){
            count++;
            //偏移量
            var offset = new Date().getTime() - (startTime + count * 1000);
            now_timestamp = Number(now_timestamp)+1000;
            var now_time = timestampToTime(now_timestamp+offset);
            $("#Server_time").html(now_time)
        },1000);
	    // var t3 = window.setInterval(main.checknewapply, 1000*20);
    });
    
    function timestampToTime(timestamp) {
          var time = new Date(timestamp);
          var y = time.getFullYear();
          var m = time.getMonth() + 1;
          m = m < 10 ? "0" + m : m;
          var d = time.getDate();
          d = d < 10 ? '0' + d : d;
          var h = time.getHours();
          h = h < 10 ? '0' + h : h;
          var mi = time.getMinutes();
          mi = mi < 10 ? '0' + mi : mi;
          var s = time.getSeconds();
          s = s < 10 ? '0' + s : s;
          return y+'-'+m+'-'+d+' '+h+':'+mi+':'+s;
        }
</script>

</body>
</html>


