{extend name="common/base" /}
{block name="title"}编辑配置{/block}
{block name="css"}
{/block}
{block name="content"}

<style media="screen" type="text/css">
    header {
        color: black;
    }
</style>
<!-- LimitDown	LimitUp	WinRate -->
<div class="x-body">
    <form action="" class="layui-form" id='mainForm' method="post">
        <div class="layui-form-item {$info.Action=='add'?'layui-hide':''} ">
            <label class="layui-form-label">ID</label>
            <div class="layui-input-block ">
                <input ID="IDS"  autocomplete="off" class="layui-input {$info.Action=='add'?'':'layui-disabled'} " {$info.Action=='add'?'':'disabled'} placeholder="ID"  type="text" value="{$info.ID}">
                <input hidden name="ID" ID="ID" type="text" value="{$info.ID}">
                <input hidden name="Action" type="text" value="{$info.Action}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">{:lang('邀请数量')}</label>
            <div class="layui-input-block">
                <input autocomplete="off" class="layui-input" lay-verify="" name="InviteCount" placeholder="InviteCount" type="text" value="{$info.InviteCount}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">{:lang('最小充值')}</label>
            <div class="layui-input-block">
                <input autocomplete="off" class="layui-input" lay-verify="required|number" name="MinRecharge" placeholder="MinRecharge" type="text" value="{$info.MinRecharge}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">{:lang('最小流水')}</label>
            <div class="layui-input-block">
                <input autocomplete="off" class="layui-input" lay-verify="required|number" name="MinWater" placeholder="MinWater" type="text" value="{$info.MinWater}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">{:lang('连续天数')}</label>
            <div class="layui-input-block">
                <input autocomplete="off" class="layui-input" lay-verify="required|number" name="ContinuesDay" placeholder="ContinuesDay" type="text" value="{$info.ContinuesDay}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">{:lang('奖励金额')}</label>
            <div class="layui-input-block">
                <input autocomplete="off" class="layui-input" lay-verify="required|number" name="AwardMoney" placeholder="AwardMoney" type="text" value="{$info.AwardMoney}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">Describe</label>
            <div class="layui-input-block">
                <input autocomplete="off" class="layui-input" lay-verify="required|number" name="Describe" placeholder="Describe" type="text" value="{$info.Describe}">
            </div>
        </div>

    </form>
</div>

{/block}
{block name="script"}
<script type="text/javascript">
	url = "{:url('Agent/AgentWaterReturn')}?Action={$info.Action}"
	var form = layui.form, layer = layui.layer;
	var _isClickSave = false;
	var _callback;
	var _layer_index;

	//监听提交
	var options = {
		type: 'post',           //post提交
		dataType: "json",        //json格式
		clearForm: false,        //成功提交后，清除所有表单元素的值
		resetForm: false,        //成功提交后，重置所有表单元素的值
		success: function (data) {
			if (data.code == 0) {
				layer.msg(data.msg, {icon: 1, time: 1000}, function () {
					x_admin_close();
					parent.location.reload();
				});
			} else {
				layer.msg(data.msg, {icon: 2, time: 300}, function () {
					$("#reset").click();
					x_admin_close();
					parent.location.reload();
				});
			}
			//服务器端返回处理逻辑
		},
		error: function (XmlHttpRequest, textStatus, errorThrown) {
			layer.msg("{:lang('操作失败:服务器处理失败')}");
		}
	};

	function saveData(callback, layer_index, autoClose) {
		if (_isClickSave) return;
		_isClickSave = true;
		_layer_index = layer_index;
		_callback = callback
		submit();
	}

	function submit() {
		bl=1000;
		$('#RoomID').val($('#ID').val());
		var data = getSerializeFormData($("form").serializeArray());
		console.info(data);
		$.ajax({
			type: 'post',
			url: url,
			data: {
				Action: data.Action,
				ID: data.ID,
				InviteCount: data.InviteCount,
				MinRecharge: data.MinRecharge,
				MinWater: data.MinWater,
				ContinuesDay:data.ContinuesDay,
				AwardMoney: data.AwardMoney*bl,
				Describe: data.Describe,
			},
			dataType: 'json',
			success: function (res) {
				if (res.code === 1) {
					layer.msg(res.msg, {icon: 1, time: 1000}, function () {
						_callback();
						parent.layer.close(_layer_index);
					});
				} else {
					layer.msg(res.msg, {icon: 2});
				}
			}
		});

	}

</script>
{/block}