{extend name="common/base" /}
{block name="title"}关系列表{/block}
{block name="css"}{/block}
{block name="content"}
<div class="layui-card">
    <div class="layui-card-header layuiadmin-card-header-auto">
        <form class="layui-form" lay-filter="component-form-group">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">{:lang('玩家ID')}</label>
                    <div class="layui-input-inline">
                        <input autocomplete="off" class="layui-input" id="uid" lay-verify="number" name="uid" type="uid">
                    </div>
                </div>
                <div class="layui-inline">
                    <a class="layui-btn" data-type="reload" id="search">{:lang('搜索')}</a>
                    <a class="layui-btn layui-btn-normal" id="addpg">新增</a>
                </div>
            </div>
        </form>

    </div>
    <div class="layui-card-body">
        <div id="alllist">
            <table id="proxylist" lay-filter="proxylist"></table>
        </div>
    </div>
    
</div>
{/block}
{block name="script"}
<script src="__js__/cache.js"></script>
<script src="__js__/Barrett.js"></script>
<script src="__js__/BigInt.js"></script>
<script src="__js__/RSA.js"></script>
<script>
    url = "{:url('pggame/indexUser')}";
    layui.config({
        base: '__layui__/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table', 'layer', 'element', 'laydate', 'form', 'jquery'], function () {
        var table = layui.table;
        var form  = layui.form;
        var laydate  = layui.laydate;
        var $ = layui.$;
        var element  = layui.element;
          table.render({
            elem: '#proxylist'
            // ,height: 'full-280'
            ,url: url+'?action=list'//数据接口
            ,limit:20
            ,page: true //开启分页
            ,id:'proxylist'
            ,autoSort:false
            ,sort: true
            ,defaultToolbar:[]
            ,cols: [[ //表头
                {field:'uid', title: "{:lang('玩家ID')}",align:'center', minWidth: 200},
                {field:'date', title: "{:lang('添加时间  ')}",align:'center', minWidth: 200},
                {title:'操作',align:'center', minWidth: 160, templet: function(d){
                    return '<a class="layui-btn layui-btn-sm" lay-event="del">删除</a>';
              }}
            ]]
            , done: function (res) {

            }
          });
          laydate.render({elem: '#start_date', format: 'yyyy-MM-dd HH:mm:ss',type: 'datetime', max: 1, lang:'{$datelang ?: "cn"}', btns: ['clear', 'confirm']});
          laydate.render({elem: '#end_date', format: 'yyyy-MM-dd HH:mm:ss',type: 'datetime', max: 1, lang:'{$datelang ?: "cn"}', btns: ['clear', 'confirm']});

          // 搜索 
          $("#search").on('click', function(){
             table.reload('proxylist', {
              page:{
                  curr:1 
              },
              where: {
                  pg_id:$('#pg_id').val()
              }
            })
          });
          $(document).off('mousedown','.layui-table-grid-down').
                on('mousedown','.layui-table-grid-down',function (event) {
                    table._tableTrCurrr = $(this).closest('td');
                });
                $(document).off('click','.layui-table-tips-main [lay-event]').
                on('click','.layui-table-tips-main [lay-event]',function (event) {
                    //debugger
                    var elem = $(this);
                    var tableTrCurrr =  table._tableTrCurrr;
                    if(!tableTrCurrr){
                        return;
                    }
                    var layerIndex = elem.closest('.layui-table-tips').attr('times');
                    console.log(layerIndex);
                    layer.close(layerIndex);
                    table._tableTrCurrr.find('[lay-event="' + elem.attr('lay-event') +'"]').click();
                });
            table.on('tool(proxylist)', function (obj) {
            var data = obj.data //获得当前行数据
                , layEvent = obj.event; //获得 lay-event 对应的值
            tr = obj.tr; //获得当前行 tr 的DOM对象
            if (layEvent === 'del') {
                layer.confirm('确定删除？', function(index){
                    $.ajax({
                      url:"{:url('pggame/delUser')}?uid="+data.uid,
                      type:'GET',
                      dataType:'json',
                      success:function(ret){
                        if(ret.code == 0) {
                          layer.msg('删除成功');
                          setTimeout(function(){layer.closeAll()},1500);
                          obj.del();
                        } else {
                          layer.msg('删除失败');
                        }
                      }
                    });
                  });
            }
        });

        $("#addpg").on('click', function(){
             layer.open({
                type: 2 ,
                title: '编辑',   //标题
                area: ['800px', '600px'],   //宽高
                shade: 0.4,   //遮罩透明度
                content: "{:url('pggame/editUser')}",//支持获取DOM元素
                // end:function(){
                //   $(".layui-laypage-btn")[0].click();
                // }
                });
          });
    });
</script>
{/block}