{extend name="common/base" /}

{block name="title"}转账{/block}
{block name="css"}
{/block}
{block name="content"}

<form class="layui-form" action="{:url('bank/addbank')}" method="post" id="addProxy" >

    <div class="layui-form-item">
        <label class="layui-form-label">账户号：</label>
        <div class="layui-input-block">
            <input type="text" id="account" name='account' value="{$account}"  lay-verify="required|number" placeholder="请输入账户号" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">账户类型：</label>
        <div class="layui-input-block">
            <select name="toacc" id="toacc">
                {foreach name='banktype' item='vo' key='key'}
                <option value="{$key}" {if $type==$key} selected {/if}>{$vo}</option>
                {/foreach}
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <a style="margin-left: 15%" type="submit" class="layui-btn layui-btn-radius" lay-submit="" lay-filter="addit" id="addit" >转账</a>
            <a  class="layui-btn layui-btn-primary layui-btn-radius" lay-submit="" lay-filter="cancel" id="cancel" >取消</a>
        </div>
    </div>
</form>

{/block}
{block name="script"}

<script>
    layui.config({
        base: '__layui__/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块

    }).use(['index', 'table', 'layer', 'element', 'laydate', 'form', 'jquery'], function() {
        var element = layui.element
            ,layer = layui.layer
            ,laydate = layui.laydate
            ,table = layui.table
            ,$ = layui.$
            ,form = layui.form;

        var main = {
            submitForm : function(data) {
                var account = $.trim(data.field.account);
                var toacc = $.trim(data.field.toacc);
                $.ajax({
                    type:'post',
                    url:data.form.action,
                    data:{
                        'account' : account,
                        'toacc' : toacc,
                    },
                    dataType:'json',
                    success: function(res) {
                        if (res.code === 0) {
                            layer.msg(res.msg,{icon:1,time:1000}, function () {
                                x_admin_close();
                                parent.location.reload();
                            });
                        } else {
                            layer.msg(res.msg, {icon:2});
                        }
                    }
                });
            },

            bindEvent: function() {
                form.on('submit(addit)', function(data) {
                    main.submitForm(data);
                    return false;
                });

                $('#cancel').on('click', function(e) {
                    e.preventDefault();
                    x_admin_close();
                })
            },

            init : function () {
                main.bindEvent();
            }
        };

        main.init();
    });
</script>
{/block}