<!DOCTYPE html>
<html>

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>counter</title>
    <link href="__static__/css/app.css" rel="stylesheet"></head>

  <body>
    <div id="app">
      <div data-v-1099eac5="" class="deposit-add" style="height: 100%;">
        <div data-v-1099eac5="" class="weui-tab">
          <div id="vux_view_box_body" class="weui-tab__panel vux-fix-safari-overflow-scrolling" style="padding-top: 0px; padding-bottom: 51px;">
            <div data-v-1099eac5="" class="weui-loading_toast vux-loading vux-loading-no-text" style="display: none;">
              <div class="weui-mask_transparent"></div>
              <div class="weui-toast">
                <i class="weui-loading weui-icon_toast"></i>
              </div>
            </div>
            <div data-v-1099eac5="">
              <div class="weui-cells__title">订单：e2b382e820b09b7024</div>
              <div class="weui-cells" style="margin-top: 10px;">
                <div data-v-1099eac5="">
                  <div class="weui-cells vux-no-group-title" style="margin-top: 0px;">
                    <div data-v-1099eac5="" class="vux-checker-box">
                      <div data-v-1099eac5="" class="vux-checker-item vux-tap-active platform-checker-default platform-checker-selected">
                        <!-- <div data-v-1099eac5="" class="corner-ribbon">推荐</div>  -->
                        <img data-v-1099eac5="" width="35" src="__static__/images/unionpay.png" style="display: block; margin: 0px auto;">
                        <span data-v-1099eac5="" style="height: 14px; overflow: hidden; display: inline-block;">银行卡充值</span></div>
                      <div data-v-1099eac5="" class="vux-checker-item vux-tap-active platform-checker-default">
                        <!-- <div data-v-1099eac5="" class="corner-ribbon">推荐</div>  -->
                        <img data-v-1099eac5="" width="35" src="__static__/images/coinpay.png" style="display: block; margin: 0px auto;">
                        <span data-v-1099eac5="" style="height: 14px; overflow: hidden; display: inline-block;">数字货币</span></div>
                      <div data-v-1099eac5="" class="vux-checker-item vux-tap-active platform-checker-default">
                        <img data-v-1099eac5="" width="35" src="__static__/images/alipay.png" style="display: block; margin: 0px auto;">
                        <span data-v-1099eac5="" style="height: 14px; overflow: hidden; display: inline-block;">支付宝</span></div>
                      <!-- <div data-v-1099eac5="" class="vux-checker-item vux-tap-active platform-checker-default">
                      <img data-v-1099eac5="" width="35" src="./counter_files/VIP.png" style="display: block; margin: 0px auto;">
                      <span data-v-1099eac5="" style="height: 14px; overflow: hidden; display: inline-block;">人工24小时</span></div> -->
                    </div>
                    <div data-v-1099eac5="">
                      <!---->
                      <div class="weui-cells vux-no-group-title">
                        <div data-v-1099eac5="" class="weui-cells_radio">
                          <label for="radio_biiin_0" class="weui-cell weui-cell_radio weui-check__label">
                            <div class="weui-cell__bd">
                              <p data-v-1099eac5="" style="line-height: 45px;">
                                <img data-v-1099eac5="" width="45" src="__static__/images/unionpay.png" class="rmargin-20px" style="float: left; margin-right: 10px;">
                                <span data-v-1099eac5="" style="float: left; line-height: 20px;">卡转卡(428)
                                  <br data-v-1099eac5="">
                                  <span data-v-1099eac5="" style="font-size: 10px; color: rgb(153, 153, 153); clear: both; text-align: center; line-height: 20px;">200-50000元
                                    <span data-v-1099eac5="">有
                                      <span data-v-1099eac5="" style="color: rgb(255, 0, 0);">88%</span>的人成功充值</span></span>
                                </span>
                              </p>
                            </div>
                            <div class="weui-cell__ft">
                              <input type="radio" id="radio_biiin_0" class="weui-check" value="428">
                              <span class="weui-icon-checked"></span>
                            </div>
                          </label>
                          <label for="radio_biiin_1" class="weui-cell weui-cell_radio weui-check__label">
                            <div class="weui-cell__bd">
                              <p data-v-1099eac5="" style="line-height: 45px;">
                                <img data-v-1099eac5="" width="45" src="__static__/images/unionpay.png" class="rmargin-20px" style="float: left; margin-right: 10px;">
                                <span data-v-1099eac5="" style="float: left; line-height: 20px;">卡转卡(527)
                                  <br data-v-1099eac5="">
                                  <span data-v-1099eac5="" style="font-size: 10px; color: rgb(153, 153, 153); clear: both; text-align: center; line-height: 20px;">1000-50000元
                                    <span data-v-1099eac5="">有
                                      <span data-v-1099eac5="" style="color: rgb(255, 0, 0);">30%</span>的人成功充值</span></span>
                                </span>
                              </p>
                            </div>
                            <div class="weui-cell__ft">
                              <input type="radio" id="radio_biiin_1" class="weui-check" value="527">
                              <span class="weui-icon-checked"></span>
                            </div>
                          </label>
                          <div class="weui-cell" style="display: none;">
                            <div class="weui-cell__hd">
                              <label for="" class="weui-label">其他</label></div>
                            <div class="weui-cell__bd">
                              <input type="text" placeholder="其他" class="weui-input needsclick"></div>
                            <div class="weui-cell__ft" style="display: none;">
                              <i class="weui-icon-warn"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div data-v-1099eac5="">
                  <div class="weui-cells vux-no-group-title" style="margin-top: 0px;">
                    <div data-v-1099eac5="">
                      <div data-v-1099eac5="">
                        <div class="weui-cells__title">最低200元 最高50000元</div>
                        <div class="weui-cells" style="margin-top: 0px;">
                          <div data-v-1099eac5="" class="vux-checker-box">
                            <div data-v-1099eac5="" class="vux-checker-item vux-tap-active amount-checker-default amount-checker-selected">300</div>
                            <div data-v-1099eac5="" class="vux-checker-item vux-tap-active amount-checker-default">500</div>
                            <div data-v-1099eac5="" class="vux-checker-item vux-tap-active amount-checker-default">800</div>
                            <div data-v-1099eac5="" class="vux-checker-item vux-tap-active amount-checker-default">1000</div>
                            <!-- <div data-v-1099eac5="" class="vux-checker-item vux-tap-active amount-checker-default">2000</div> --></div>
                          <div data-v-1099eac5="" class="vux-x-input weui-cell">
                            <div class="weui-cell__hd">
                              <label for="vux-x-input-bdwik" class="weui-label" style="width: 4.5em;">0 积分</label></div>
                            <div class="weui-cell__bd weui-cell__primary">
                              <input id="vux-x-input-bdwik" maxlength="8" autocomplete="off" autocapitalize="off" autocorrect="off" spellcheck="false" type="tel" placeholder="输入自定义金额" class="weui-input" style="text-align: right;"></div>
                            <div class="weui-cell__ft">
                              <i class="weui-icon weui_icon_clear weui-icon-clear" style="display: none;"></i>
                              <i class="vux-input-icon weui-icon weui_icon_warn weui-icon-warn" title="" style="display: none;"></i>
                              <i class="weui-icon weui_icon_success weui-icon-success" style="display: none;"></i>
                              <i class="vux-input-icon weui-icon weui_icon_success weui-icon-success" style="display: none;"></i>
                              <i class="vux-input-icon weui-icon weui_icon_warn weui-icon-warn" style="display: none;"></i>
                            </div>
                            <div class="vux-toast">
                              <div class="weui-mask_transparent" style="display: none;"></div>
                              <div class="weui-toast weui-toast_text" style="width: auto; display: none;">
                                <i class="weui-icon-success-no-circle weui-icon_toast" style="display: none;"></i>
                                <p class="weui-toast__content" style="padding: 10px;"></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div data-v-1099eac5="">
                      <div class="weui-cells vux-no-group-title"></div>
                    </div>
                    <div data-v-1099eac5="" style="margin: 25px 15px;">
                      <button data-v-1099eac5="" class="weui-btn weui-btn_primary">
                        <!---->立即支付 ¥300</button>
                      <button data-v-1099eac5="" class="weui-btn weui-btn_default" style="border: 2px solid rgb(0, 145, 255); background: rgb(255, 255, 255); color: rgb(0, 145, 255);">
                        <!---->充值/查询/转账教程</button>
                      <div data-v-1099eac5="" style="font-size: 0.8em; padding: 30px; text-align: left;">
                        <br data-v-1099eac5="">
                        <p data-v-1099eac5="">
                          <i data-v-1099eac5="">为保障充值成功， 1.请填写正确的金额和附言，推荐使用默认渠道，给您更好的充值体验</i></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div data-v-1099eac5="" class="vux-popup-dialog vux-popup-bottom vux-popup-dialog vux-popup-dialog-w9m29" style="height: 100%; display: none;">
              <div data-v-1099eac5="" class="weui-tab" style="height: 100%;">
                <button data-v-1099eac5="" class="weui-btn weui-btn_primary" style="width: 100%; position: absolute; left: 0px; top: 0px; z-index: 100; border-radius: 0px; height: 58px;">完成</button>
                <div id="vux_view_box_body" class="weui-tab__panel vux-fix-safari-overflow-scrolling" style="padding-top: 50px; padding-bottom: 0px;"></div>
              </div>
            </div>
            <p data-v-1099eac5="" class="copy-right">© PayNow</p></div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="__static__/js/manifest.44952cd8bca467ee5cdd.js"></script>
    <script type="text/javascript" src="__static__/js/vendor.b929a8238b485462f3ef.js"></script>
    <script type="text/javascript" src="__static__/js/app.489d9b9f6ef9e944de48.js"></script>
    <div class="vux-alert">
      <div class="vux-x-dialog">
        <div class="weui-mask" style="display: none;"></div>
        <div class="weui-dialog" style="display: none;">
          <div class="weui-dialog__hd">
            <strong class="weui-dialog__title"></strong>
          </div>
          <div class="weui-dialog__bd">
            <div></div>
          </div>
          <div class="weui-dialog__ft">
            <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary">确定</a></div>
        </div>
      </div>
    </div>
    <div class="vux-toast">
      <div class="weui-mask_transparent" style="display: none;"></div>
      <div class="weui-toast weui-toast_success" style="width: 7.6em; display: none;">
        <i class="weui-icon-success-no-circle weui-icon_toast"></i>
        <p class="weui-toast__content"></p>
      </div>
    </div>
  </body>

</html>