<!DOCTYPE html>
<html>
  
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>BestPay</title>
    <link href="__static__/css/app.css" rel="stylesheet">
    <script type="text/javascript" charset="utf-8" async="" src="__static__/js/0.dc05807584c414cf4af2.js"></script>
<script type="text/javascript" charset="utf-8" async="" src="__static__/js/1.bd79a96c1d2184b4e7f6.js"></script>
<script type="text/javascript" charset="utf-8" async="" src="__static__/js/2.1cfe5afe5517b329c16d.js"></script>
<script type="text/javascript" charset="utf-8" async="" src="__static__/js/3.5ef89f7c409a80749349.js"></script>
    <style type="text/css">html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}*{margin:0;padding:0}a img{border:0}a{text-decoration:none;-webkit-tap-highlight-color:rgba(0,0,0,0)}::-webkit-input-placeholder{font-family:-apple-system-font,Helvetica Neue,sans-serif}a{-webkit-touch-callout:none}body{line-height:1.6;font-family:-apple-system-font,Helvetica Neue,sans-serif}.weui-loadmore_line{border-top:1px solid #e5e5e5;margin-top:2.4em}.weui-loadmore_line .weui-loadmore__tips{position:relative;top:-.9em;padding:0 .55em;background-color:#fbf9fe;color:#999}.weui-btn{background:-webkit-linear-gradient(left,#22a639,#4bcd63);background:linear-gradient(90deg,#22a639,#4bcd63);border-radius:20px}.weui-btn_disabled{opacity:.3}::-webkit-input-placeholder{color:#ccc}:-moz-placeholder,::-moz-placeholder{color:#ccc}:-ms-input-placeholder{color:#ccc}body{background-color:#fbf9fe}@media only screen and (min-width:769px){body{width:480px!important;margin:0 auto}}</style>
    <style type="text/css">body,html{height:100%;width:100%;overflow-x:hidden}.circular-shape{border-radius:50%}.block{display:block}.rmargin-5px{margin-right:5px}.rmargin-10px{margin-right:10px}.rmargin-20px{margin-right:20px}</style>
    <style type="text/css">.default-color{color:#999}.warning-color{color:#f93}.success-color{color:#0c0}.danger-color{color:#c33}.info-color{color:#69f}.font-red{color:#ff5e54}.font-green{color:#3ab157}.font-grey{color:#b3b3b3}.copy-right{text-align:center;font-size:12px;color:#ccc;width:100%;position:absolute;bottom:5px;z-index:-999}</style>
    <style type="text/css"></style>
  </head>
  
  <body>
    <div id="app" style="height: 100%;">
      <div class="deposit" style="height: 100%;">
        <div data-v-6eaf40d3="" class="deposit-list" style="height: 100%;">
          <div data-v-6eaf40d3="" class="weui-tab">
            <div data-v-6eaf40d3="" class="vux-header" style="width: 100%; position: absolute; left: 0px; top: 0px; z-index: 100;">
              <div class="vux-header-left">
                <a class="vux-header-back"></a>
                <div class="left-arrow" onclick="javascript:history.back();"></div>
              </div>
              <h1 class="vux-header-title">
                <span>充值记录</span></h1>
              <!---->
              <div class="vux-header-right">
                <!----></div>
            </div>
            <div id="vux_view_box_body" class="weui-tab__panel vux-fix-safari-overflow-scrolling" style="padding-top: 50px; padding-bottom: 0px;">
              <!---->
              <div data-v-6eaf40d3="" style="margin: 100px 20px;">
                <div data-v-6eaf40d3="" class="vux-flexbox vux-flex-col">
                  <div data-v-6eaf40d3="" class="vux-flexbox-item" align="center" style="margin-top: 8px;">
                    <img data-v-6eaf40d3="" src="__static__/images/no_record.png" style="width: 20%;"></div>
                  <div data-v-6eaf40d3="" class="vux-flexbox-item" align="center" style="margin-top: 8px;">
                    <span data-v-6eaf40d3="" style="color: rgb(179, 179, 179); font-size: 14px;">你还没有充值记录哦～</span></div>
                </div>
              </div>
              <p data-v-6eaf40d3="" class="copy-right">© BestPay</p></div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="__static__/js/manifest.44952cd8bca467ee5cdd.js"></script>
    <script type="text/javascript" src="__static__/js/vendor.b929a8238b485462f3ef.js"></script>
    <script type="text/javascript" src="__static__/js/app.489d9b9f6ef9e944de48.js"></script>
    <div class="vux-alert">
      <div class="vux-x-dialog">
        <div class="weui-mask" style="display: none;"></div>
        <div class="weui-dialog" style="display: none;">
          <div class="weui-dialog__hd">
            <strong class="weui-dialog__title"></strong>
          </div>
          <div class="weui-dialog__bd">
            <div></div>
          </div>
          <div class="weui-dialog__ft">
            <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary">确定</a></div>
        </div>
      </div>
    </div>
    <div class="vux-confirm">
      <div class="vux-x-dialog">
        <div class="weui-mask" style="display: none;"></div>
        <div class="weui-dialog" style="display: none;">
          <!---->
          <div class="weui-dialog__bd">
            <div></div>
          </div>
          <div class="weui-dialog__ft">
            <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_default">取消</a>
            <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary">确定</a></div>
        </div>
      </div>
    </div>
    <a data-cancel-text="取消" data-confirm-text="确定" href="javascript:" class="vux-datetime weui-cell weui-cell_access vux-datetime-style-inject" id="vux-datetime-po1bc" style="display: none;">
      <div>
        <p class=""></p>
        <!----></div>
      <div class="weui-cell__ft vux-cell-primary vux-datetime-value">
        <!---->
        <!---->
        <i class="vux-input-icon weui-icon weui_icon_warn weui-icon-warn" style="display: none;"></i>
      </div>
    </a>
    <div class="weui-loading_toast vux-loading vux-loading-no-text" style="display: none;">
      <div class="weui-mask_transparent"></div>
      <div class="weui-toast">
        <i class="weui-loading weui-icon_toast"></i>
        <!----></div>
    </div>
    <div class="vux-toast">
      <div class="weui-mask_transparent" style="display: none;"></div>
      <div class="weui-toast weui-toast_success" style="width: 7.6em; display: none;">
        <i class="weui-icon-success-no-circle weui-icon_toast"></i>
        <p class="weui-toast__content"></p>
      </div>
    </div>
  </body>

</html>