{extend name="common/base" /}
{block name="style"}
<style type="text/css">
  .layui-form-pane .layui-form-label{
    width: 400px !important;
  }
  .layui-form-pane .layui-input-block{
    margin-left:400px !important;
  }

</style>
{/block}
{block name="content"}
<div class="layui-fluid">
<form class="layui-form" id='edit_form' onsubmit="return false">
  <div class="layui-form-item layui-form-pane">
        <input type="hidden" name="hidden_id" value="{$data.pg_id ?? ''}">
        <div class="layui-form-item">
            <label class="layui-form-label">PGGAME 游戏ID</label>
            <div class="layui-input-block">
                <input type="text" name="id" autocomplete="off" class="layui-input" id='id' value="{$data.id ?? ''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">游戏名称</label>
            <div class="layui-input-block">
                <input type="text" name="name" autocomplete="off" class="layui-input" id='name'  value="{$data.name ?? ''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">PG 游戏ID</label>
            <div class="layui-input-block">
                <input type="text" name="pg_id" autocomplete="off" class="layui-input" id='pg_id'  value="{$data.pg_id ?? ''}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-block">
                <input type="radio" value="1"  title="{:lang('开启')}"  name="status" {php} if($data['status']==1){echo 'checked';} {/php}>
                <input type="radio" value="0"  title="{:lang('关闭')}"  name="status"  {php} if($data['status']==0){echo 'checked';} {/php}>
            </div>
        </div>
        <div class="layui-form-item">
            <button class="layui-btn layui-btn-fluid" onclick="ajax()" lay-filter="formDemo">确定 </button>
        </div>
  </div>
</form>
</div>  
{/block}
{block name="script"}
<script type="text/javascript">
function ajax(){
    var post_data = $('#edit_form').serialize();
     // var index = layer.msg('正在拼命处理...' , {
    //   icon: 16 ,
    //   shade: 0.6 ,
    //   time: 0 ,
    // });
    $.ajax({
            url:"{:url('pggame/edit')}",
            type:"POST",
            data:post_data,
            dataType:'json',
            success:function(ret){
                if (ret.code == 0) {
                  layer.msg('操作成功');
                  setTimeout(function(){parent.layer.closeAll()},1500);
                  parent.$(".layui-laypage-btn")[0].click();
                  
                }
                if (ret.code == 1) {
                    layer.msg(ret.msg);
                }
            }
        });
  }
</script> 
{/block}