{extend name="common/base" /}

{block name="title"}上下级恢复{/block}
{block name="css"}
{/block}
{block name="content"}

<form class="layui-form" action="{:url('agent/leveluserReset')}" method="post" id="addProxy" >

    <input type="hidden" name="proxyid" id="proxyid" value="{if(!empty($proxyid))}{$proxyid}{/if}" />
    <div class="layui-form-item">
        <label class="layui-form-label">{:lang('代理ID')}：</label>
        <div class="layui-input-block">
            <input type="text" id="noname" readonly="readonly" name='noname' value="{if(!empty($proxyid))}{$proxyid}{/if}" lay-verify="required" placeholder="{:lang('请输入活动名称')}" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item" >
        <label class="layui-form-label">{:lang('恢复日期')}：</label>
        <div class="layui-input-inline">
            <input type="text" name="date" id="LAY-component-form-group-date" autocomplete="off"
                   class="layui-input" value="">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <a style="margin-left: 15%" type="submit" class="layui-btn layui-btn-radius" lay-submit="" lay-filter="addit" id="addit" >{:lang('保存')}</a>
            <a  class="layui-btn layui-btn-primary layui-btn-radius" lay-submit="" lay-filter="cancel" id="cancel" >{:lang('取消')}</a>
        </div>
    </div>
</form>

{/block}
{block name="script"}

<script>
    layui.config({
        base: '__layui__/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块

    }).use(['index', 'table', 'layer', 'element', 'laydate', 'form', 'jquery','upload'], function() {
        var element = layui.element
            ,layer = layui.layer
            ,laydate = layui.laydate
            ,table = layui.table
            ,upload = layui.upload
            ,$ = layui.$
            ,form = layui.form;

        var main = {
            submitForm : function(data) {
                console.log(data);
                $.ajax({
                    type:'post',
                    url:data.form.action,
                    data:data.field,
                    dataType:'json',
                    success: function(res) {
                        var index = parent.layer.getFrameIndex(window.name); /* 先得到当前iframe层的索引 */
                        if (res.code === 0) {
                            layer.msg(res.msg,{icon:1,time:1000}, function () {
                                x_admin_close();
                                parent.layui.table.reload('proxylist',{page:{curr:$(".layui-laypage-em").next().html()}});   //主要代码
                                parent.layer.close(index);
                            });
                        } else {
                            layer.msg(res.msg, {icon:2});
                        }
                    }
                });
            },

            bindEvent: function() {
                form.on('submit(addit)', function(data) {
                    main.submitForm(data);
                    return false;
                });

                $('#cancel').on('click', function(e) {
                    e.preventDefault();
                    x_admin_close();
                })
            },

            init : function () {
                main.bindEvent();
            }
        };
        laydate.render({
            elem: '#LAY-component-form-group-date'
            , format: 'yyyy-MM-dd'
            , type: 'date'
            , max: getNowFormatDate()
            , btns: ['clear', 'confirm']
        });
        main.init();
    });

    function getNowFormatDate() {
        var date = new Date();
        var seperator1 = "-";
        var seperator2 = ":";
        var month = date.getMonth() + 1;
        var strDate = date.getDate()-1;
        if (month >= 1 && month <= 9) {
            month = "0" + month;
        }
        if (strDate >= 0 && strDate <= 9) {
            strDate = "0" + strDate;
        }
        var currentdate = date.getFullYear() + seperator1 + month + seperator1 + strDate
            + " " + date.getHours() + seperator2 + date.getMinutes()
            + seperator2 + date.getSeconds();
        return currentdate;
    }

</script>
{/block}