{extend name="common/base" /}
{block name="title"}关系列表{/block}
{block name="css"}{/block}
{block name="content"}

<div class="layui-card" style="margin-top: 20px">
    <div class="layui-card-header layuiadmin-card-header-auto">
        <form class="layui-form" lay-filter="component-form-group">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">{:lang('邀请人ID')}</label>
                    <div class="layui-input-inline"><input autocomplete="off" class="layui-input" id="parentid" lay-verify="number" name="parentid" type="text">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">{:lang('受邀人ID')}</label>
                    <div class="layui-input-inline"><input autocomplete="off" class="layui-input" id="roleid" lay-verify="number" name="roleid" type="text">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">{:lang('时间')}</label>
                    <div class="layui-input-inline">
                        <input type="text" name="start_date" id="LAY-component-form-group-date" autocomplete="off"
                               class="layui-input" value="{:date('Y-m-d')}">
                    </div>
                    <div class="layui-form-mid">
                        -
                    </div>
                    <div class="layui-input-inline">
                        <input type="text" name="end_date" id="LAY-component-form-group-date2" autocomplete="off"
                               class="layui-input" value="{:date('Y-m-d')}">
                    </div>
                </div>
                <div class="layui-inline">
                    <a class="layui-btn" data-type="reload" id="search">{:lang('搜索')}</a>
                    <a class="layui-btn layui-btn-danger" id="output">{:lang('导出记录')}</a>
                </div>
            </div>
        </form>

    </div>
    <div class="layui-card-body">
        <div id="alllist">
            <table id="proxylist" lay-filter="proxylist"></table>
        </div>
    </div>
    
</div>

{/block}
{block name="script"}

<script>
    url = "{:url('agent/promotionDetails')}";
    layui.config({
        base: '__layui__/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table', 'layer', 'element', 'laydate', 'form', 'jquery'], function () {
        var table = layui.table;
        var form  = layui.form;
        var laydate = layui.laydate;
        var $ = layui.$;
        var element  = layui.element;
          table.render({
            elem: '#proxylist'
            ,height: 'full-180'
            ,url: url+'?action=list'//数据接口
            ,limit:20
            ,page: true //开启分页
            ,id:'proxylist'
            ,autoSort:false
            ,cols: [[ //表头
                {field:'AddTime', title: "{:lang('时间')}",align:'center', width: 150},
                {field:'ProxyId', title: "{:lang('直属玩家ID')}",align:'center', width: 180},
                {field:'DailyTax', title: "{:lang('总贡献奖励')}",align:'center', width: 200},
                // {title:'操作', toolbar: '#toolbar'}
            ]],
            done: function (res) {
                tzTbale();
            }
          });
          // 搜索 
          $("#search").on('click', function(){
             table.reload('proxylist', {
              page:{
                  curr:1 
              },
              where: {
                    roleid: $('#roleid').val(),
                    parentid: $('#parentid').val(),
                    start:$.trim($('#LAY-component-form-group-date').val()),
                    end:$.trim($('#LAY-component-form-group-date2').val())
              }
            })
          });

          laydate.render({
              elem: '#LAY-component-form-group-date'
              , format: 'yyyy-MM-dd'
              , max: 0
              , lang:'{$datelang ?: "cn"}'
              , btns: ['clear', 'confirm']
            });
            laydate.render({
              elem: '#LAY-component-form-group-date2'
              , format: 'yyyy-MM-dd'
              , max: 0
              , lang:'{$datelang ?: "cn"}'
              , btns: ['clear', 'confirm']
            });
    });

    $('#output').click(function () {
            where = {
                roleid: $('#roleid').val(),
                parentid: $('#parentid').val(),
                start_date:$.trim($('#LAY-component-form-group-date').val()),
                end_date:$.trim($('#LAY-component-form-group-date2').val()),
                limit: 10000000,
                output: 'exec',
                action:'list'
            }

            download();

            function download() {
                var params = Object.keys(where).map(function (key) {
                    return encodeURIComponent(key) + "=" + encodeURIComponent(where[key]);
                }).join("&");
                var output_url = url + "?" + params;
                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    async: true,
                    url: output_url, // 生成文件，保存在服务器
                    success: function (data) {
                        var result = data;
                        console.info(data);
                        switch (result["code"]) {
                            case 0:
                                parent.parent.open(output_url + "&exec=1&outall=true");
                                break;
                            case 1:
                                layer.msg(result["message"]);
                                break;
                            case 2:
                                layer.confirm(result['message'], {
                                    btn: ['{:lang("是")}', '{:lang("否")}'] //按钮
                                }, function () {
                                    parent.parent.open(output_url + "&exec=1&outall=true");
                                    layer.msg('', {icon: 6, time: 1000}, function () {
                                        window.location.reload();
                                    });
                                });
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, e) {
                        console.log("oilDetection.js  method exportOilDetection" + e);
                    }
                });
            }
        });
</script>
{/block}