{extend name="common/base" /}

{block name="title"}转账{/block}
{block name="css"}
{/block}
{block name="content"}

<form class="layui-form" action="{:url('Channel/channelEdit')}" method="post" id="addProxy" >
    <input type="hidden" name="RoleID" id="RoleID" value="{$data['ProxyChannelId'] ?? ''}" />
    <!-- <div class="layui-form-item">
        <label class="layui-form-label">{:lang('渠道ID')}：</label>
        <div class="layui-input-block">
            <input type="text" id="ProxyId" name='ProxyId' lay-verify="required" placeholder="{:lang('请输入渠道ID')}" autocomplete="off" class="layui-input" value="{$data['ProxyId'] ?? ''}">
        </div>
    </div> -->


    <div class="layui-form-item">
        <label class="layui-form-label">{:lang('推广名称')}：</label>
        <div class="layui-input-block">
            <input type="text" id="AccountName" name='AccountName' lay-verify="required" placeholder="{:lang('请输入推广名称')}" autocomplete="off" class="layui-input"  value="{$data['AccountName'] ?? ''}">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <a style="margin-left: 15%" type="submit" class="layui-btn layui-btn-radius" lay-submit="" lay-filter="addit" id="addit" >{:lang('保存')}</a>
            <a  class="layui-btn layui-btn-primary layui-btn-radius" lay-submit="" lay-filter="cancel" id="cancel" >{:lang('取消')}</a>
        </div>
    </div>
</form>

{/block}
{block name="script"}

<script>
    layui.config({
        base: '__layui__/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块

    }).use(['index', 'table', 'layer', 'element', 'laydate', 'form', 'jquery','upload'], function() {
        var element = layui.element
            ,layer = layui.layer
            ,laydate = layui.laydate
            ,table = layui.table
            ,upload = layui.upload
            ,$ = layui.$
            ,form = layui.form;

        var main = {
            submitForm : function(data) {
                var RoleID = $.trim(data.field.RoleID);
                var ProxyId = $.trim(data.field.ProxyId);
                var AccountName = $.trim(data.field.AccountName);
                // if(ProxyId==''){
                //     layer.alert('{:lang("请输入渠道ID")}！',{icon:5});
                //     return;
                // }
                if(AccountName==''){
                    layer.alert('{:lang("请输入推广名称")}！',{icon:5});
                    return;
                }

                $.ajax({
                    type:'post',
                    url:data.form.action,
                    data:{
                        'RoleID':RoleID,
                        'ProxyId' : ProxyId,
                        'AccountName' : AccountName,
                    },
                    dataType:'json',
                    success: function(res) {
                        var index = parent.layer.getFrameIndex(window.name); /* 先得到当前iframe层的索引 */
                        if (res.code === 0) {
                            layer.msg(res.msg,{icon:1,time:1000}, function () {
                                x_admin_close();
                                parent.layui.table.reload('proxylist',{page:{curr:$(".layui-laypage-em").next().html()}});   //主要代码
                                parent.layer.close(index);
                            });
                        } else {
                            layer.msg(res.msg, {icon:2});
                        }
                    }
                });
            },

            bindEvent: function() {
                form.on('submit(addit)', function(data) {
                    main.submitForm(data);
                    return false;
                });

                $('#cancel').on('click', function(e) {
                    e.preventDefault();
                    x_admin_close();
                })
            },

            init : function () {
                main.bindEvent();
            }
        };

        main.init();
    });
</script>
{/block}