index.html{extend name="common/base" /}

{block name="title"}玩家行为分析{/block}
{block name="css"}{/block}
{block name="content"}
<div class="layui-card">
    <div class="layui-card-header layuiadmin-card-header-auto">
        <form class="layui-form" lay-filter="component-form-group">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">玩家ID</label>
                    <div class="layui-input-inline">
                        <input type="text" id="roleid" name="roleid" lay-verify="number" autocomplete="off" class="layui-input">
                    </div>
                </div>
				<div class="layui-inline">
                    <label class="layui-form-label">机台ID</label>
                    <div class="layui-input-inline">
                        <input type="text" id="roomid" name="roomid" autocomplete="off" placeholder="机台ID" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">日期</label>
                    <div class="layui-input-inline" style="width: 100px;">
                        <input type="text" name="start" id="LAY-component-form-group-date" autocomplete="off"
                               class="layui-input">
                    </div>
                    <div class="layui-form-mid">
                        -
                    </div>
                    <div class="layui-input-inline" style="width: 100px;">
                        <input type="text" name="end" id="LAY-component-form-group-date2" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>

                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <a class="layui-btn" id="search" data-type="reload">搜索</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="layui-card-body">
        <div class ="layui-row layui-col-space30">

            <div id="alllist" class="layui-col-md12">
                <table id="proxylist" lay-filter="proxylist"></table>
            </div>
        </div>
    </div>
</div>

{/block}
{block name="script"}


<script>
    layui.config({
        base: '__layui__/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块

    }).use(['index', 'table', 'layer', 'element', 'laydate', 'form', 'jquery'], function () {
        var element = layui.element
            , layer = layui.layer
            , laydate = layui.laydate
            , table = layui.table
            , $ = layui.$
            , form = layui.form;

        var main = {
            renderData: function () {
                var cols = [ //表头
                    {field: 'RoomID', title: '机台ID', minWidth: 80}					
                    , {field: 'RoleID', title: '玩家ID', minWidth: 80}
					, {field: 'MachieSerial', title: '玩家设备号', minWidth: 120}
					, {field: 'countryCode', title: '玩家国籍', minWidth: 60}
                    , {field: 'DeviceType', title: '手机类型', minWidth: 60, templet: function (d) 
					{
						if (d.DeviceType == 1) {						 
							return "<span style='color: red'>Android</span>";
						} else {
							return "<span style='color: green'>IOS</span>";
						}

                    }}			
					, {field: 'FirstLoad', title: '首次加载', minWidth: 100, templet: function (d) 
					{
						if (d.FirstLoad == 1) {						 
							return "<span style='color: red'>是</span>";
						} else {
							return "<span style='color: green'>否</span>";
						}

                    }}				
                    , {field: 'LoadingSucc', title: '加载成功', minWidth: 100, templet: function (d) 
					{
						if (d.LoadingSucc == 1) {						 
							return "<span style='color: red'>是</span>";
						} else {
							return "<span style='color: green'>否</span>";
						}

                    }}	
					, {field: 'LoadingCost', title: '加载耗时', minWidth: 80}
					, {field: 'BeginTime', title: '开始时间', minWidth: 200}
					, {field: 'EndTime', title: '结束时间', minWidth: 200}
                ];


                table.render({
                    elem: '#proxylist'
                    , url: "{:url('Monitor/userloadinggamelogs')}" //数据接口
                    , page: true //开启分页
                    , cols: [cols]
                    , where: {'status':-1}
                    , limit: 10
                    , done: function (res) {$(".layui-table-main tr").each(function (index, val) {
                            $($(".layui-table-fixed-l .layui-table-body tbody tr")[index]).height($(val).height());
                            $($(".layui-table-fixed-r .layui-table-body tbody tr")[index]).height($(val).height());
                        });
                        $('#startgamecnt').html(res.other.startgamecnt);
                    }
                });
            },

            //搜索
            search: function () {
                var start = $.trim($('#LAY-component-form-group-date').val());
                var end = $.trim($('#LAY-component-form-group-date2').val());
				var roleid = $.trim($('#roleid').val());
				var roomid = $.trim($('#roomid').val());
                //执行重载
                table.reload('proxylist', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    },
                    where: {
                        'roleid': roleid,
						'roomid': roomid,
						'strartdate': start,
                        'enddate': end
                    }
                });
            },

            //操作事件
            extraEvent: function () {
                //编辑
                table.on('tool(proxylist)', function (obj) {
                    var data = obj.data //获得当前行数据
                        , layEvent = obj.event; //获得 lay-event 对应的值
                    tr = obj.tr; //获得当前行 tr 的DOM对象
                    if (layEvent === 'tongchang') {
                        alert(55);

                    } else if (layEvent === 'ganme') { //删除
                        alert(data.nickname);
                    } else if (layEvent === 'cold') {

                    } else if (layEvent === 'delete') {

                    }
                });
            },

            init: function () {
                main.renderData();
                main.extraEvent();
                laydate.render({
                    elem: '#LAY-component-form-group-date'
                    , format: 'yyyy-MM-dd'
                    , max: 1
                    , btns: ['clear', 'confirm']
                    ,value: new Date()
                });
                laydate.render({
                    elem: '#LAY-component-form-group-date2'
                    , format: 'yyyy-MM-dd'
                    , max: 1
                    , btns: ['clear', 'confirm']
                    ,value: new Date()
                });
                $('#search').on('click', function (e) {
                    e.preventDefault();
                    main.search();
                });
            }
        };

        main.init();
    });
</script>
{/block}