{extend name="common/base" /}

{block name="title"}领取列表{/block}
{block name="css"}
<style type="text/css">
    .layui-table-cell {
        height: auto;
    }
</style>
{/block}
{block name="content"}


<div class="layui-row layui-col-space20">
    <div class="layui-col-md2">
        <div class="layui-card">
            <div class="layui-card-header"> {:lang('返还金额')}</div>
            <div class="layui-card-body layuiadmin-card-list"><p class="layuiadmin-big-font" id="cashBackMoneyTotal"
                                                                 style="color: #009688"></p></div>
        </div>
    </div>
    <div class="layui-col-md2">
        <div class="layui-card">
            <div class="layui-card-header"> {:lang('已领取金额')}</div>
            <div class="layui-card-body layuiadmin-card-list"><p class="layuiadmin-big-font" id="cashMoneyTotal"
                                                                 style="color: #009688"></p></div>
        </div>
    </div>

</div>
<div class="layui-row layui-col-space20">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-card-header layuiadmin-card-header-auto">
                <form class="layui-form" lay-filter="component-form-group">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <input type="number" id="roleid" name="roleid" autocomplete="off"
                                       placeholder="{:lang('玩家ID')}" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">{:lang('领取状态')}</label>
                            <div class="layui-input-inline">
                                <select name="condition" id="takeStatus" >
                                    <option value="0" selected>{:lang('全部')}</option>
                                    <option value="1">{:lang('已领取')}</option>
                                    <option value="2">{:lang('未领取')}</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label" style="width: 33px">{:lang('日期')}</label>
                            <div class="layui-input-inline">
                                <input type="text" name="start" id="LAY-component-form-group-date"
                                       class="layui-input" value="{:date('Y-m-d')}">
                            </div>
                            <div class="layui-form-mid"> -</div>
<!--                            <div class="layui-input-inline">-->
<!--                                <input class="layui-input" id="LAY-component-form-group-date2"-->
<!--                                       name="end" type="text" value="{:date('Y-m-d').' 23:59:59'}">-->
<!--                            </div>-->
                        </div>
                        <div class="layui-inline">
                            <!-- <div class="layui-input-inline"> -->
                            <a class="layui-btn" id="search" data-type="reload">{:lang('搜索')}</a>
                            <button type="reset" class="layui-btn layui-btn-primary">{:lang('重置')}</button>
                            <!-- </div> -->
                        </div>
                        <div class="layui-inline">

                        </div>
                    </div>
                </form>
            </div>
            <div id="alllist">
                <table id="proxylist" lay-filter="proxylist"></table>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <!--        <button class="layui-btn layui-btn-sm layui-bg-green" lay-event="multiCheck">{:lang('批量审核')}</button>-->
        <!--        <button class="layui-btn layui-btn-sm layui-bg-green" lay-event="turntableSwitch">{:lang('新增手机号码')}</button>-->
        <!--        <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="oneKeyDelete">{:lang('批量删除')}</button>-->

    </div>
</script>
{/block}
{block name="script"}

<script type="text/html" id="desc-bar">
    <!--    <a class="layui-btn layui-btn-xs " lay-event="check">{:lang('审核')}</a>-->
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">{:lang('删除')}</a>

</script>


<script>
    url = "{:url('turntable/cashLostBack')}";
    layui.config({base: '__layui__/'}).extend({
        index: 'lib/index' //主入口模块

    }).use(['index', 'table', 'layer', 'element', 'laydate', 'form', 'jquery'], function ()
    {
        var element = layui.element, layer = layui.layer, laydate = layui.laydate, table = layui.table, $ = layui.$,
            form = layui.form;

        var main = {
            renderData: function () {
                var cols = [ //表头

                    {type: 'checkbox', fixed: 'left'},
                    {field: 'id', align: 'center', title: "{:lang('ID')}", width: 100},
                    {field: 'RoleId', align: 'center', title: "{:lang('玩家ID')}", width: 220},
                    {field: 'WeekLoseMoney', align: 'center', title: "{:lang('周亏损金额')}", width: 220, sort: true},
                    {field: 'Deposit', align: 'center', title: "{:lang('存款次数')}", width: 220,sort: true},
                    {field: 'CashBackRate', align: 'center', title: "{:lang('返现比例')}", width: 220,sort: true},
                    {field: 'CashBackMoney', align: 'center', title: "{:lang('返现金额')}", width: 220,sort: true},
                    {field: 'GetTime', align: 'center', title: "{:lang('领取时间')}", width: 220},
                    {field: 'cycle', align: 'center', title: "{:lang('统计周期')}", width: 220},
                    // {fixed: 'right', title: "{:lang('备注')}", align: 'center', minWidth: 200, toolbar: '#desc-bar'}
                ];
                table.render({
                    elem: '#proxylist'
                    , url: url //数据接口
                    , page: true //开启分页
                    , limit: 15
                    , toolbar: '#toolbarDemo'
                    , defaultToolbar: []
                    , where: {Action: 'list', 'classid': -1}
                    , cols: [cols], sort: true, autoSort: false
                    , done: function (res, curr, count) {
                        tzTbale()
                        $.ajax({
                            url: "{:url('turntable/getTotal')}",
                            type: "POST",
                            dataType: 'json',
                            success: function (res) {
                                $('#cashBackMoneyTotal').html(res.data['cashBackMoneyTotal']);
                                $('#cashMoneyTotal').html(res.data['cashMoneyTotal']);
                            }
                        });
                    }
                });

            },
            //搜索
            search: function () {
                //执行重载
                var begin_time = $.trim($('#LAY-component-form-group-date').val());
                var end_time = $.trim($('#LAY-component-form-group-date2').val());
                var take_status = $.trim($('#takeStatus').val());
                table.reload('proxylist', {

                    page: {
                        curr: 1 //重新从第 1 页开始
                    },
                    where: {
                        begin_time: begin_time,
                        // end_time: end_time,
                        take_status: take_status,
                        roleid: $.trim($('#roleid').val()),
                    },
                    done: function (res, curr, count) {
                        tzTbale()
                        $.ajax({
                            url: "{:url('turntable/getTotal')}",
                            type: "POST",
                            data: {
                                'begin_time':begin_time,
                                // 'end_time': end_time,
                                'take_status':take_status
                            },
                            dataType: 'json',
                            success: function (res) {
                                $('#cashBackMoneyTotal').html(res.data['cashBackMoneyTotal']);
                                $('#cashMoneyTotal').html(res.data['cashMoneyTotal']);
                            }
                        });
                    }
                });
            },
            //操作事件
            extraEvent: function () {
                //编辑
                table.on('tool(proxylist)', function (obj) {

                    var data = obj.data //获得当前行数据
                        , layEvent = obj.event; //获得 lay-event 对应的值
                    tr = obj.tr; //获得当前行 tr 的DOM对象

                    if (layEvent === 'delete') {
                        layer.confirm('{:lang("确认删除")}？', {
                            btn: ['{:lang("确定")}', '{:lang("取消")}']
                        }, function () {
                            var index = layer.msg("{:lang('正在处理...')}", {
                                icon: 16,
                                shade: 0.6,
                                time: 1,
                            });
                            $.ajax({
                                url: "{:url('turntable/phoneListDelete')}",
                                type: "POST",
                                data: {'id': data.id, 'type': 1},
                                dataType: 'json',
                                success: function (ret) {
                                    if (ret.code == 0) {
                                        layer.msg(ret.msg);
                                        $(".layui-laypage-btn")[0].click();
                                        setTimeout(function () {
                                            layer.closeAll()
                                        }, 1500);
                                    } else {
                                        layer.msg(ret.msg);
                                    }
                                }
                            });
                        });
                    }
                });

                $(document).off('mousedown', '.layui-table-grid-down').on('mousedown', '.layui-table-grid-down', function (event) {
                    table._tableTrCurrr = $(this).closest('td');
                });
                $(document).off('click', '.layui-table-tips-main [lay-event]').on('click', '.layui-table-tips-main [lay-event]', function (event) {
                    //debugger
                    var elem = $(this);
                    var tableTrCurrr = table._tableTrCurrr;
                    if (!tableTrCurrr) {
                        return;
                    }
                    var layerIndex = elem.closest('.layui-table-tips').attr('times');
                    console.log(layerIndex);
                    layer.close(layerIndex);
                    table._tableTrCurrr.find('[lay-event="' + elem.attr('lay-event') + '"]').click();
                });

                table.on('sort(proxylist)', function (obj) {
                    var roleid = $.trim($('#roleid').val());

                    //执行重载
                    table.reload('proxylist', {
                        initSort: obj,
                        page: {
                            curr: 1 //重新从第 1 页开始
                        },
                        where: {
                            'orderby': obj.field,
                            'ordertype': obj.type,
                        }
                    });

                });

                table.on('toolbar(proxylist)', function (obj) {
                    var checkStatus = table.checkStatus(obj.config.id);
                    switch (obj.event) {
                        case 'oneKeyDelete':
                            var da = checkStatus.data;
                            if (da.length == 0) {
                                layer.msg('{:lang("未选择记录")}');
                                return;
                            }
                            var id = [];
                            for (var i = da.length - 1; i >= 0; i--) {
                                id.push(da[i].id)
                            }
                            layer.confirm('{:lang("确认删除已选择手机号码")}？', {
                                btn: ['{:lang("确定")}', '{:lang("取消")}']
                            }, function () {
                                var index = layer.msg("{:lang('正在处理...')}", {
                                    icon: 16,
                                    shade: 0.6,
                                    time: 1,
                                });
                                $.ajax({
                                    url: "{:url('turntable/phoneListDelete')}",
                                    type: "POST",
                                    data: {'id': id + '', 'type': 2},
                                    dataType: 'json',
                                    success: function (ret) {
                                        if (ret.code == 0) {
                                            layer.msg(ret.msg);
                                            $(".layui-laypage-btn")[0].click();
                                            setTimeout(function () {
                                                layer.closeAll()
                                            }, 1500);
                                        } else {
                                            layer.msg(ret.msg);
                                        }
                                    }
                                });
                            });
                            break;
                        case 'onekeyBack':
                            layer.confirm('{:lang("确认处理全网退款")}？', {
                                btn: ['{:lang("确定")}', '{:lang("取消")}']
                            }, function () {
                                var index = layer.msg("{:lang('正在处理...')}", {
                                    icon: 16,
                                    shade: 0.6,
                                    time: 0,
                                });
                                $.ajax({
                                    url: "{:url('turntable/onekeyBack')}",
                                    type: "POST",
                                    data: {},
                                    dataType: 'json',
                                    success: function (ret) {
                                        if (ret.code == 0) {
                                            layer.msg(ret.msg);
                                            $(".layui-laypage-btn")[0].click();
                                            setTimeout(function () {
                                                layer.closeAll()
                                            }, 1500);
                                        } else {
                                            layer.msg(ret.msg);
                                        }
                                    }
                                });
                            });
                            break;
                        case 'turntableSwitch':
                            var content = '<form class="layui-form" action="">' +
                                '<div class="layui-form-item">' +
                                '<label class="layui-form-label" style="width:60px">{:lang("手机号码")}</label>' +
                                '<div class="layui-input-block">' +
                                // '<input type="text"  name="title" lay-verify="title" autocomplete="off" placeholder="{:lang(\'多个号码使用英文逗号隔开\')}" class="layui-input" id="lCurWaged" value="" >' +
                                '<textarea name="title" lay-verify="title" id="lCurWaged" value="" placeholder="{:lang(\'多个号码使用英文逗号隔开\')}" class="layui-textarea"></textarea>' +
                                '</div>' +
                                '</div>' +
                                '</form>';
                            layer.open({
                                content: content,
                                area: ['500px', '300px'],
                                title: '{:lang("添加手机号码")}'
                                , btn: ['{:lang("添加")}', '{:lang("取消")}']
                                , yes: function (index, layero) {
                                    var lCurWaged = $("#lCurWaged").val();
                                    if (lCurWaged === '') {
                                        layer.msg("{:lang('请输入手机号码')}");
                                        return;
                                    }
                                    editDm(lCurWaged);
                                }
                            });
                            break
                    }
                    ;
                });
            },

            init: function () {
                form.render(null, 'component-form-group');
                laydate.render({
                    elem: '#LAY-component-form-group-date'
                    , format: 'yyyy-MM-dd'
                    , max: 1
                    , lang: '{$datelang ?: "cn"}'
                    , btns: ['clear', 'confirm']
                    , type: 'date'
                    // , value: new Date()
                });
                laydate.render({
                    elem: '#LAY-component-form-group-date2'
                    , format: 'yyyy-MM-dd'
                    , max: 1
                    , lang: '{$datelang ?: "cn"}'
                    , btns: ['clear', 'confirm']
                    , type: 'datetime'
                    // , value: new Date()
                });
                main.extraEvent();
                main.renderData();
                $('#search').on('click', function (e) {
                    e.preventDefault();
                    main.search();
                });
            }
        };

        function editDm(phone) {
            $.ajax({
                type: 'post',
                url: "{:url('turntable/phoneListAdd')}",
                data: {
                    'phone': phone,
                },
                dataType: 'json',
                success: function (res) {
                    if (res.code == 0) {
                        layer.msg("{:lang('设置成功')}", {icon: 1, time: 1000}, function () {
                            window.location.reload();
                            layer.closeAll();
                        });
                    } else {
                        layer.msg(res['msg'], {icon: 5});
                    }
                }
            });
        }

        main.init();
    });



</script>

{/block}
