{extend name="common/base" /}
{block name="title"}关系列表{/block}
{block name="css"}{/block}
{block name="content"}
<div class="layui-card" style="margin-top: 20px">
    <div class="layui-card-header layuiadmin-card-header-auto">
        <form class="layui-form" lay-filter="component-form-group">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">{:lang('玩家ID')}</label>
                    <div class="layui-input-inline"><input autocomplete="off" class="layui-input" id="RoleID" lay-verify="number" name="RoleID" type="text">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">类型</label>
                    <div class="layui-input-inline">
                        <select name="Description" id="Description">
                            <option value="">全部</option>
                            {foreach $pddconfig as $k => $v}
                            <option value="{$k}">{$v}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">{:lang('时间')}</label>
                    <div class="layui-input-inline">
                        <input type="text" name="start_date" id="start_date" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid"> -
                    </div>
                    <div class="layui-input-inline">
                        <input type="text" name="end_date" id="end_date" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <a class="layui-btn" data-type="reload" id="search">{:lang('搜索')}</a>
                </div>
            </div>
        </form>

    </div>
    <div class="layui-card-body">
        <div id="alllist">
            <table id="proxylist" lay-filter="proxylist"></table>
        </div>
    </div>
    
</div>
{/block}
{block name="script"}
<script src="__js__/cache.js"></script>
<script src="__js__/Barrett.js"></script>
<script src="__js__/BigInt.js"></script>
<script src="__js__/RSA.js"></script>
<script>
    url = "{:url('Turntable/detailsOfRewardIncrease')}";
    layui.config({
        base: '__layui__/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table', 'layer', 'element', 'laydate', 'form', 'jquery'], function () {
        var table = layui.table;
        var form  = layui.form;
        var laydate  = layui.laydate;
        var $ = layui.$;
        var element  = layui.element;
          table.render({
            elem: '#proxylist'
            // ,height: 'full-280'
            ,url: url+'?action=list'//数据接口
            ,limit:20
            ,page: true //开启分页
            ,id:'proxylist'
            ,autoSort:false
            ,sort: true
            ,cols: [[ //表头
                {field:'RoleID', title: "{:lang('玩家ID')}",align:'center', minWidth: 120, templet: function (d) {
                        return " <a class=\"layui-bg-green\" lay-event=\"detail\">" + d.RoleID+ "</a>";
                    }
                },
                {field:'AddTime', title: "{:lang('时间')}",align:'center', minWidth: 120, sort: true},
                {field:'Description', title: "{:lang('转盘类型')}",align:'center', minWidth: 200},
                {field:'ItemValue', title: "{:lang('物品')}",align:'center', minWidth: 120, sort: true}
            ]]
            , done: function (res) {

            }
          });
          laydate.render({elem: '#start_date', format: 'yyyy-MM-dd HH:mm:ss',type: 'datetime', max: 1, lang:'{$datelang ?: "cn"}', btns: ['clear', 'confirm']});
          laydate.render({elem: '#end_date', format: 'yyyy-MM-dd HH:mm:ss',type: 'datetime', max: 1, lang:'{$datelang ?: "cn"}', btns: ['clear', 'confirm']});

          // 搜索 
          $("#search").on('click', function(){
             table.reload('proxylist', {
              page:{
                  curr:1 
              },
              where: {
                  RoleID: $('#RoleID').val(),
                  start_date: $('#start_date').val(),
                  end_date:$('#end_date').val(),
                  Description:$('#Description').val()
              }
            })
          });
        table.on('tool(proxylist)', function (obj) {
            var data = obj.data //获得当前行数据
                , layEvent = obj.event; //获得 lay-event 对应的值
            tr = obj.tr; //获得当前行 tr 的DOM对象
            if (layEvent === 'detail') {
                var url = '/admin/player/playerDetail?roleid=' + data.RoleID;
                x_admin_show("{:lang('玩家详情')}", url, $(window).width() * 0.9, $(window).height() * 0.8);
            }
            if (layEvent === 'pass') {
                layer.confirm("{:lang('确定审核通过？')}", {btn: ['{:lang("确定")}','{:lang("取消")}']}, function () {
                    $.ajax({
                        type: 'post',
                        url: "{:url('Turntable/turntableSwitch')}",
                        dataType: 'json',
                        success: function (res) {
                            if (res.code === 0) {
                                layer.msg(res.msg, {icon: 1, time: 1000}, function () {
                                    $(".layui-laypage-btn")[0].click();
                                });
                            } else {
                                layer.msg(res.msg, {icon: 2});
                            }
                        }
                    });
                });
            }
            if (layEvent === 'refuse') {
                layer.confirm("{:lang('确定审核拒绝？')}", {btn: ['{:lang("确定")}','{:lang("取消")}']}, function () {
                    $.ajax({
                        type: 'post',
                        url: "{:url('Turntable/turntableSwitch')}",
                        dataType: 'json',
                        success: function (res) {
                            if (res.code === 0) {
                                layer.msg(res.msg, {icon: 1, time: 1000}, function () {
                                    window.location.reload();
                                });
                            } else {
                                layer.msg(res.msg, {icon: 2});
                            }
                        }
                    });
                });
            }
        });
        table.on('toolbar(proxylist)', function (obj) {
            if (layEvent === 'turntableSwitch') {
                layer.confirm("{:lang('是否开启或关闭转盘？')}", {btn: ['{:lang("确定")}','{:lang("取消")}']}, function () {
                    $.ajax({
                        type: 'post',
                        url: "{:url('Turntable/turntableSwitch')}",
                        dataType: 'json',
                        success: function (res) {
                            if (res.code === 0) {
                                layer.msg(res.msg, {icon: 1, time: 1000}, function () {
                                    window.location.reload();
                                });
                            } else {
                                layer.msg(res.msg, {icon: 2});
                            }
                        }
                    });
                });
            }
            if (layEvent === 'onekeyBack') {
                layer.confirm("{:lang('是否一键全网退款？')}", {btn: ['{:lang("确定")}','{:lang("取消")}']}, function () {
                    $.ajax({
                        type: 'post',
                        url: "{:url('Turntable/onekeyback')}",
                        dataType: 'json',
                        success: function (res) {
                            if (res.code === 0) {
                                layer.msg(res.msg, {icon: 1, time: 1000}, function () {
                                    window.location.reload();
                                });
                            } else {
                                layer.msg(res.msg, {icon: 2});
                            }
                        }
                    });
                });
            }
        });
        //排序
        table.on('sort(proxylist)', function (obj) {
            //执行重载
            table.reload('proxylist', {
                initSort: obj,
                page: {curr: 1},
                where: {
                    RoleID: $('#RoleID').val(),
                    start_date: $('#start_date').val(),
                    end_date:$('#end_date').val(),
                    Description:$('#Description').val(),
                    ordertype: obj.type,
                    orderby: obj.field,
                },
                parseData:function(res){
                  if(res.data.length==0){
                    return{
                      'code':'201',
                      'msg':"{:lang('无数据')}"
                    };
                  };
                }
            });

        });
    });
</script>
{/block}