{extend name="common/base" /}
{block name="title"}关系列表{/block}
{block name="css"}{/block}
{block name="content"}
<div class="layui-card" style="margin-top: 20px">
    <div class="layui-card-header layuiadmin-card-header-auto">
        <form class="layui-form" lay-filter="component-form-group">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">{:lang('玩家ID')}</label>
                    <div class="layui-input-inline"><input autocomplete="off" class="layui-input" id="RoleID" lay-verify="number" name="RoleID" type="text">
                    </div>
                </div>
                <div class="layui-inline">
                    <a class="layui-btn" data-type="reload" id="search">{:lang('搜索')}</a>
                </div>
            </div>
        </form>

    </div>
    <div class="layui-card-body">
        <div id="alllist">
            <table id="proxylist" lay-filter="proxylist"></table>
        </div>
    </div>
    
</div>
{/block}
{block name="script"}
<script src="__js__/cache.js"></script>
<script src="__js__/Barrett.js"></script>
<script src="__js__/BigInt.js"></script>
<script src="__js__/RSA.js"></script>
<script>
    url = "{:url('Turntable/sharingStatistics')}";
    layui.config({
        base: '__layui__/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table', 'layer', 'element', 'laydate', 'form', 'jquery'], function () {
        var table = layui.table;
        var form  = layui.form;
        var laydate  = layui.laydate;
        var $ = layui.$;
        var element  = layui.element;
          table.render({
            elem: '#proxylist'
            // ,height: 'full-280'
            ,url: url+'?action=list'//数据接口
            ,limit:20
            ,page: true //开启分页
            ,id:'proxylist'
            ,autoSort:false
            ,sort: true
            ,toolbar: '#toolbarDemo'
            ,defaultToolbar:[]
            ,cols: [[ //表头
                {field:'ProxyId', title: "{:lang('玩家ID')}",align:'center', minWidth: 120, templet: function (d) {
                        return " <a class=\"layui-bg-green\" lay-event=\"detail\">" + d.ProxyId+ "</a>";
                    }
                },
                {field:'Lv1Deposit', title: "{:lang('充值金额')}",align:'center', minWidth: 120, sort: true},
                {field:'Lv1PersonCount', title: "{:lang('注册人数')}",align:'center', minWidth: 120, sort: true},
                {field:'Lv1DepositPlayers', title: "{:lang('充值人数')}",align:'center', minWidth: 120, sort: true},
                {field:'Lv1WithdrawAmount', title: "{:lang('提取金额')}",align:'center', minWidth: 120, sort: true},
                {field:'retowi', title: "{:lang('充提差值')}",align:'center', minWidth: 120, sort: true},
                {field:'PreDrawMoney', title: "{:lang('转盘当前金额')}",align:'center', minWidth: 150, sort: true},
                {field:'PGBonus', title: "{:lang('额外增加金额')}",align:'center', minWidth: 150, sort: true},
                {field:'AyllaBetTimes', title: "{:lang('转盘剩余次数 ')}",align:'center', minWidth: 150, sort: true},
                {field:'TotalCompleteBonus', title: "{:lang('累计领取金额 ')}",align:'center', minWidth: 150, sort: true},
                {title:'操作',align:'center',minWidth: 250, templet: function(d){
                    return  '<a class="layui-btn layui-btn-sm" lay-event="add1">转盘奖励金</a>'+
                                '<a class="layui-btn  layui-btn-danger layui-btn-sm" lay-event="add2">转盘次数</a>';
              }}
            ]]
            , done: function (res) {

            }
          });
          laydate.render({elem: '#start_date', format: 'yyyy-MM-dd HH:mm:ss',type: 'datetime', max: 1, lang:'{$datelang ?: "cn"}', btns: ['clear', 'confirm']});
          laydate.render({elem: '#end_date', format: 'yyyy-MM-dd HH:mm:ss',type: 'datetime', max: 1, lang:'{$datelang ?: "cn"}', btns: ['clear', 'confirm']});

          // 搜索 
          $("#search").on('click', function(){
             table.reload('proxylist', {
              page:{
                  curr:1 
              },
              where: {
                  RoleID: $('#RoleID').val()
              }
            })
          });
        table.on('tool(proxylist)', function (obj) {
            var data = obj.data //获得当前行数据
                , layEvent = obj.event; //获得 lay-event 对应的值
            tr = obj.tr; //获得当前行 tr 的DOM对象
            if (layEvent === 'detail') {
                var url = '/admin/player/playerDetail?roleid=' + data.ProxyId;
                x_admin_show("{:lang('玩家详情')}", url, $(window).width() * 0.9, $(window).height() * 0.8);
            }
            if (layEvent === 'add1') {
                var content = '<form class="layui-form" action="">' +
                                    '<div class="layui-form-item"><label class="layui-form-label">{:lang("金额")}</label><div class="layui-input-block"><input type="number" min="0"name="title" lay-verify="title" autocomplete="off" placeholder="{:lang(\'请输入金额\')}" class="layui-input" id="amount" value="0" ></div></div>' +
                                    '</form>';
                layer.open({
                    content: content,
                    title: '{:lang("奖励金设置")}'
                    , btn: ['{:lang("增加")}', '{:lang("减少")}']
                    , yes: function (index, layero) {
                        var amount = $("#amount").val();
                        if (amount == '') {
                            layer.msg("{:lang('请输入百分比值')}");
                            return;
                        }
                        editAmount(data.ProxyId, 0,amount, 0);
                    }
                    , btn2: function (index, layero) {
                        var amount = $("#amount").val();
                        if (amount == '') {
                            layer.msg("{:lang('请输入百分比值')}");
                            return;
                        }
                        editAmount(data.ProxyId, 0,amount, 1);
                    }
                });
            }
            if (layEvent === 'add2') {
                var content = '<form class="layui-form" action="">' +
                                    '<div class="layui-form-item"><label class="layui-form-label">{:lang("次数")}</label><div class="layui-input-block"><input type="number" min="0"name="title" lay-verify="title" autocomplete="off" placeholder="{:lang(\'请输入次数\')}" class="layui-input" id="amount" value="0" ></div></div>' +
                                    '</form>';
                layer.open({
                    content: content,
                    title: '{:lang("转盘次数")}'
                    , btn: ['{:lang("增加")}', '{:lang("减少")}']
                    , yes: function (index, layero) {
                        var amount = $("#amount").val();
                        if (amount == '') {
                            layer.msg("{:lang('请输入转盘次数')}");
                            return;
                        }
                        editAmount(data.ProxyId, 1,amount, 0);
                    }
                    , btn2: function (index, layero) {
                        var amount = $("#amount").val();
                        if (amount == '') {
                            layer.msg("{:lang('请输入百分比值')}");
                            return;
                        }
                        editAmount(data.ProxyId, 1,amount, 1);
                    }
                });
            }
        });
        //排序
        table.on('sort(proxylist)', function (obj) {
            //执行重载
            table.reload('proxylist', {
                initSort: obj,
                page: {curr: 1},
                where: {
                    RoleID: $('#RoleID').val(),
                    ordertype: obj.type,
                    orderby: obj.field,
                },
                parseData:function(res){
                  if(res.data.length==0){
                    return{
                      'code':'201',
                      'msg':"{:lang('无数据')}"
                    };
                  };
                }
            });

        });
        function editAmount(id,type,amount, t) {
            $.ajax({
                type: 'post',
                url: "{:url('Turntable/handleAddReward')}",
                // beforeSend: function () {
                //     var layindex = layer.msg("{:lang('稍等片刻,马上就好')}", {
                //         icon:16,
                //         shade:[0.1, '#fff'],
                //         time:false //不自动关闭
                //     });
                // },
                data: {
                    'roleid': id,
                    'type':type,
                    'amount': amount,
                    'addorsub': t
                },
                dataType: 'json',
                success: function (res) {
                    if (res.code == 0) {
                        layer.msg(res['msg'], {icon: 1, time: 1000}, function () {
                            // main.renderData();
                            $(".layui-laypage-btn")[0].click();
                            layer.closeAll();
                        });
                    } else {
                        layer.msg(res['msg'], {icon: 5});
                    }
                }
            });
        }
    });
</script>
{/block}