{extend name="common/base" /}

{block name="title"}抢庄牛牛{/block}
{block name="content"}


<div class="layui-card">
    <div class="layui-card-body">
        <div class="layui-tab layui-tab-brief" lay-filter="component-tabs-brief" >
            <ul class="layui-tab-title" id="tabs">
                {foreach $roomlist as $k => $room}
                {if $k==0}
                <li class="layui-this" id="first" lay-id="{$room.roomid}">{$room.roomname}</li>
                {else /}
                <li lay-id="{$room.roomid}">{$room.roomname}</li>
                {/if}
                {/foreach}
            </ul>
            <div class="layui-tab-content" style="background-color: #f2f2f2">

                {foreach $roomlist as $k => $room}
                <div class="layui-tab-item {if $k == 0}layui-show{/if}">
                    <div class ="layui-row layui-col-space20">
                        <!--汇总-->
                        <div class="layui-col-md12">
                            <div class="layui-card">
                                <div class="layui-card-header">数据汇总</div>
                                <div class="layui-card-body">
                                    <div class="layadmin-backlog" lay-anim="" lay-indicator="inside" lay-arrow="none" style="width: 100%; height: auto;">                                        <div carousel-item="">
                                            <ul class="layui-row layui-col-space10 layui-this">
                                                <li class="layui-col-xs3">
                                                    <a href="javascript:;" class="layadmin-backlog-body">
                                                        <h3>历史总战绩</h3>
                                                        <p>
                                                            <cite id="history{$room.roomid}">0</cite></p>
                                                    </a>
                                                </li>
                                                <li class="layui-col-xs3">
                                                    <a href="javascript:;" class="layadmin-backlog-body">
                                                        <h3>近20局系统战绩</h3>
                                                        <p>
                                                            <cite id="windata{$room.roomid}">0</cite></p>
                                                    </a>
                                                </li>
                                                <li class="layui-col-xs2">
                                                    <a href="javascript:;" class="layadmin-backlog-body">
                                                        <h3>当前战绩</h3>
                                                        <p>
                                                            <cite id="currentjj{$room.roomid}">0</cite></p>
                                                    </a>
                                                </li>
                                                <li class="layui-col-xs2">
                                                    <a href="javascript:;" class="layadmin-backlog-body">
                                                        <h3>在线人数</h3>
                                                        <p>
                                                            <cite id="onlinenum{$room.roomid}">0</cite></p>
                                                    </a>
                                                </li>
                                                <li class="layui-col-xs2">
                                                    <a href="javascript:;" class="layadmin-backlog-body">
                                                        <h3>当前房间胜率</h3>
                                                        <p>
                                                            <cite id="winrate{$room.roomid}">0</cite>%</p>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--库存设置-->
                        <div class="layui-col-md12">
                            <div class="layui-card">
                                <div class="layui-card-header">
                                    库存设置
                                </div>
                                <div class="layui-card-body">
                                    <form class="layui-form" lay-filter="component-form-group">
                                        <div class="layui-form-item">
                                            <div class="layui-inline">
                                                <label class="layui-form-label">当前库存</label>
                                                <div class="layui-input-inline" >
                                                    <input type="text" name="current" id="current{$room.roomid}" autocomplete="off" class="layui-input">
                                                </div>
                                            </div>
                                            <div class="layui-inline">
                                                <div class="layui-input-inline">
                                                    <a class="layui-btn save">保存</a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!--库存阶段控制方案-->
                        <div class="layui-col-md12">
                            <div class="layui-card">
                                <div class="layui-card-header">
                                    库存阶段控制 <span style="float: right"><button class="layui-btn layui-btn-sm" onclick="x_admin_show('设置库存','setSocketRoomStorage?roomid={$room.roomid}')">设置库存阶段方案</button></span>
                                </div>
                                <div class="layui-card-body" style="height: 130px">
                                    <table class="layui-table">
                                        <tr id="rate{$room.roomid}">
                                            <td>胜率</td>
                                        </tr>
                                        <tr id="storage{$room.roomid}">
                                            <td>库存</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="layui-col-md12">
                            <div class="layui-card">
                                <div class="layui-card-header">
                                    近20局游戏明细
                                </div>
                                <div class="layui-card-body">
                                    <div id="alllist">
                                        <table id="proxylist{$room.roomid}" lay-filter="proxylist"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                {/foreach}

            </div>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script>

    layui.config({
        base: '__layui__/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块

    }).use(['index', 'table', 'layer', 'element', 'laydate', 'form', 'jquery'], function() {
        var element = layui.element
            ,layer = layui.layer
            ,laydate = layui.laydate
            ,table = layui.table
            ,$ = layui.$
            ,form = layui.form;

        //初始化第一个tab页
        var init = {
            init : function () {
                var roomid = $('#first').attr('lay-id');
                main.socketData(roomid);
                main.renderData(roomid);
                main.roomData(roomid);
            }
        };

        //切换tab事件
        element.on('tab(component-tabs-brief)', function(obj){
            var roomid = $(this).attr('lay-id');
            main.socketData(roomid);
            main.renderData(roomid);
            main.roomData(roomid);

        });

        var main = {
            socketData : function(roomid) {
                $.ajax({
                    type:'post',
                    url:'getSocketRoomData',
                    data:{
                        'roomid' : roomid
                    },
                    dataType:'json',
                    success: function(res) {
                        if (res.code === 0) {
                            $('#init'+roomid).val(res.data.nInitStorage);
                            $('#current'+roomid).val(res.data.nCurrentStorage);
                            $('#winrate'+roomid).html(res.data.currentwinrate);

                            if (res.data.storage.length > 0) {
                                var ct1 = ct2 = '';
                                for (var i=0;i<res.data.storage.length; i++) {
                                    if (res.data.currentwinrate == res.data.storage[i].rate) {
                                        ct1 += '<td style="color: red">'+res.data.storage[i].rate+'</td>';
                                        ct2 += '<td style="color: red">'+res.data.storage[i].storage+'</td>';
                                    } else {
                                        ct1 += '<td>'+res.data.storage[i].rate+'</td>';
                                        ct2 += '<td>'+res.data.storage[i].storage+'</td>';
                                    }
                                }

                                $('#rate'+roomid).html('<td>胜率</td>'+ct1);
                                $('#storage'+roomid).html('<td>库存</td>'+ct2);
                                table.render();
                            } else {
                                $('#rate'+roomid).html('<td>胜率</td><td>未设置</td>');
                                $('#storage'+roomid).html('<td>库存</td><td>未设置</td>');
                            }

                        }
                    }
                });
            },
            roomData : function(roomid) {
                $.ajax({
                    type:'post',
                    url:'roomData',
                    data:{
                        'roomid' : roomid
                    },
                    dataType:'json',
                    success: function(res) {
                        if (res.code === 0) {
                            $('#history'+roomid).html(res.data.historytotal);
                            $('#currentjj'+roomid).html(res.data.currenttotal);
                            $('#onlinenum'+roomid).html(res.data.online);
                        }
                    }
                });
            },

            setRate : function () {
                //获取当前tab房间
                var roomid = $('#tabs').find('.layui-this').attr('lay-id');
                var current = $('#current'+roomid).val();
                $.ajax({
                    type:'post',
                    url:'setSocketRoomRate',
                    data:{
                        'roomid' : roomid,
                        'init' : 0,
                        'current' : current,
                    },
                    dataType:'json',
                    success: function(res) {
                        if (res.code == 0) {
                            layer.msg(res.msg, {icon:1,time:1000}, function () {
//                                main.socketData(roomid);
                            })
                        } else {
                            layer.msg(res.msg, {icon:2,time:1000}, function () {
//                                main.socketData(roomid);
                            })
                        }
                    }
                });
            },

            //绑定事件
            bindEvent : function () {
                $('.save').on('click', function(e) {
                    e.preventDefault();
                    main.setRate();
                });

                $('.search').on('click', function(e) {
                    e.preventDefault();
                    var roomid = $(this).attr('myid');
                    main.search(roomid);
                });

            },

            init: function () {
                main.bindEvent();
            },

            renderData : function(roomid) {
                var cols = [ //表头
                    {field: 'id', title: '房间ID', minWidth:100}
                    ,{field: 'result', title: '开奖结果', minWidth:120}
                    , {field: 'beton', title: '本局下注', minWidth:120}
                    , {field: 'thisgains', title: '本局战绩', minWidth:120}
                ];

                table.render({
                    elem: '#proxylist'+roomid
                    , url: "{:url('room/getHundredData')}" //数据接口
                    , page: true //开启分页
                    ,where: {
                        'id':roomid
                    }
                    , cols: [cols]
                    ,done : function(res) {
                        $('#windata'+roomid).html(res.other);
                    }
                });
            },
        };

        init.init();
        main.init();
    });
</script>
{/block}