{extend name="common/base" /}

{block name="title"}实物活动配置{/block}
{block name="css"}{/block}
{block name="content"}


<div class="layui-card">
    <div class="layui-card-header layuiadmin-card-header-auto">
        <form class="layui-form" lay-filter="component-form-group">
            <div class="layui-form-item">
<!--                <div class="layui-inline">
                    <label class="layui-form-label">日期</label>
                    <div class="layui-input-inline" style="width: 100px;">
                        <input type="text" name="start" id="LAY-component-form-group-date" autocomplete="off"
                               class="layui-input">
                    </div>
                    <div class="layui-form-mid">
                        -
                    </div>
                    <div class="layui-input-inline" style="width: 100px;">
                        <input type="text" name="end" id="LAY-component-form-group-date2" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>-->
                <div class="layui-inline">
                    <label class="layui-form-label">活动名称</label>
                    <div class="layui-input-inline">
                        <input type="text" id="activity_name" name="activity_name" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">活动状态</label>
                    <div class="layui-input-inline">
                        <select name="status" id="status">
                            <option value="">所有</option>
                            <option value="0">关闭</option>
                            <option value="1">开启</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <a class="layui-btn" id="search" data-type="reload">搜索</a>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
    <div class="layui-card-body">
        <button class="layui-btn " id="add_activity" ><i class="layui-icon layui-icon-add-circle"></i></button>
        <div id="alllist">
            <table id="proxylist" lay-filter="proxylist"></table>
        </div>
    </div>
</div>


{/block}
{block name="script"}
<script>
    layui.config({
        base: '__layui__/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块

    }).use(['index', 'table', 'layer', 'element', 'laydate', 'form', 'jquery'], function() {
            var element = layui.element
            ,layer = layui.layer
            ,laydate = layui.laydate
                ,table = layui.table
                ,$ = layui.$
            ,form = layui.form;
            function getWhere() {
//              var strartdate = $.trim($('#LAY-component-form-group-date').val());
//              var enddate = $.trim($('#LAY-component-form-group-date2').val());
                var activity_name = $('#activity_name').val();
//              var activity_type = $('#activity_type').val();
                var transaction_no = $('#transaction_no').val();
                var status = $('#status').val();
                return {
//                  'start':strartdate,
//                  'end':enddate,
                    'activity_name': activity_name,
//                  'activity_type': activity_type,
                    'transaction_no': transaction_no,
                    'status': status,
                };
            }
            var main = {
                 renderData : function() {
                    var cols = [ //表头
                        {field: 'ActivityName', title: '活动名称', width:220, align:'center'}
//                        , {field: 'ActivityType', title: '活动类型', width:120, align:'center'}
                        , {field: 'BeginTime', title: '活动开始时间', width:190, align:'center'}
                        , {field: 'EndTime', title: '活动停止时间', width:190, align:'center'}
                        , {field: 'ShowTime', title: '活动截止时间', width:190, align:'center'}
                        , {field: 'MinRecharge', title: '领奖最低充值', width:120, align:'center'}
                        , {field: 'MinWater', title: '领奖最低流水', width:120, align:'center'}
                        , {fixed: 'right', field: 'Status', title: '活动状态', width:120, align:'center',templet: function(d){ 
                            var status = Number(d.Status);
                            if (status === 0) {
                                return '关闭';
                            } else if (status === 1) {
                                return '开启';
                            } else {
                                return '';
                            }
                        }}
                        ,{fixed: 'right', title:'操作', align:'center', width:200,templet: function(d){ 
                            var status = Number(d.Status);
                            var html = '<a class="layui-btn layui-btn-xs"style="margin: 0 5px;"  lay-event="edit">编辑</a>';
                            // change_status
                            if (status === 1) {
                                html += '<input lay-skin="switch" data-id="'+d.ActivityID+'" lay-text="开|关" type="checkbox" lay-filter="change_status" checked >';
                            } else {
                                html += '<input lay-skin="switch" data-id="'+d.ActivityID+'" lay-text="开|关" type="checkbox" lay-filter="change_status">';
                            }
                            return html;
                        }}
                    ];

                    table.render({
                        elem: '#proxylist'
                        , url: "{:url('Activity/ActivityConfig')}" //数据接口
                        , where: getWhere()
                        , page: true //开启分页
                        , limit:10
                        , cols: [cols]
                        , done:function(){
                            tzTbale();
                        }
                    });
                },

                //搜索
                search : function() {
                    //执行重载
                    table.reload('proxylist', {
                        page: {
                            curr: 1 //重新从第 1 页开始
                        },
                        where: getWhere()
                        
                    });
                },
                //操作事件
		extraEvent: function () {
                    $('#add_activity').click(function() {
                        var url = "{:url('Activity/ActivityConfigEdit')}";
                        openBarWinParent('新增活动', '680', '480', url, function(){
                            main.search();
                        }, ['保存', '取消']);
                    });
                    //监听switch操作
                    form.on('switch(change_status)', function (obj) {
                        showLoading();
                        var url = "{:url('Activity/ChangeActivityStatus')}";
                        var id = $(this).data('id');
                        var status = 1;
                        if (!obj.elem.checked) {
                            status = 0;
                        }
                        $.post(url, {id: id, status: status}, function (data, textStatus, xhr) {
                            hideLoading();
                            if (data.code == 0) {
                                layer.msg(data.msg, {icon: 1, time: 2000}, function () {
                                        main.search();
                                    });
                            } else {
                                    layer.msg(data.msg, {icon: 2, time: 3000});
                            }
                        });
                    });
                    //编辑
                    table.on('tool(proxylist)', function (obj) {
                        var data = obj.data //获得当前行数据
                        , layEvent = obj.event; //获得 lay-event 对应的值
                        tr = obj.tr; //获得当前行 tr 的DOM对象
                        if (layEvent === 'edit') {
                            var url = "{:url('Activity/ActivityConfigEdit')}?ActivityID="+ data.ActivityID;
                            openBarWinParent('活动编辑', '680', '480', url, function(){
                                main.search();
                            }, ['保存', '取消']);
			}
                    });

		 },
                 init : function() {
                    main.renderData();
                    main.extraEvent();
                    laydate.render({
                        elem: '#LAY-component-form-group-date'
                        , format: 'yyyy-MM-dd'
                        , max: 1
                        , lang:'{$datelang ?: "cn"}'
                        , btns: ['clear', 'confirm']
                    });
                    laydate.render({
                        elem: '#LAY-component-form-group-date2'
                        , format: 'yyyy-MM-dd'
                        , max: 1
                        , lang:'{$datelang ?: "cn"}'
                        , btns: ['clear', 'confirm']
                    });
                    $('#search').on('click', function(e) {
                        e.preventDefault();
                        main.search();
                    });
                }
            };

            main.init();
    });
</script>
{/block}