{extend name="common/base" /}

{block name="title"}礼券黑名单{/block}
{block name="css"}{/block}
{block name="content"}

<!--<div class="layui-card">-->
    <!--<div class="layui-card-header">-->
        <!--总金额-->
        <!--<span class="layui-badge layui-bg-blue layuiadmin-badge">总</span>-->
    <!--</div>-->
    <!--<div class="layui-card-body layuiadmin-card-list">-->
        <!--<p class="layuiadmin-big-font" style="color:#009688" id="totalmoney">0</p>-->

    <!--</div>-->
<!--</div>-->
<div class="layui-card">
    <div class="layui-card-header layuiadmin-card-header-auto">
	
        <form class="layui-form" lay-filter="component-form-group">
		
            <div class="layui-form-item">
                <div class="layui-inline">
				
                    <label class="layui-form-label">玩家ID</label>
                    <div class="layui-input-inline">
                        <input type="text" id="roleid" name="roleid" lay-verify="number" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <a class="layui-btn" id="search" data-type="reload">搜索</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="layui-card-body">
        <a style="margin-bottom: 10px;" class="layui-btn" onclick="x_admin_show('添加黑名单','addcouponblacklist.html', 700,500)">
            <i class="layui-icon layui-icon-add-circle"></i>
        </a>

        <div id="alllist">
            <table id="proxylist" lay-filter="proxylist"></table>
        </div>
    </div>
</div>

{/block}
{block name="script"}
<script type="text/html" id="msg-bar">
    
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete"><i class="layui-icon layui-icon-delete"></i></a>

</script>

<script>
    layui.config({
        base: '__layui__/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块

    }).use(['index', 'table', 'layer', 'element', 'laydate', 'form', 'jquery'], function () {
        var element = layui.element
            , layer = layui.layer
            , laydate = layui.laydate
            , table = layui.table
            , $ = layui.$
            , form = layui.form;

        var main = {
            renderData: function () {
                var cols = [ //表头
                    {field: 'RoleID', title: '用户ID', align: 'center', minWidth:100}
                    /*, {field: 'AccountName', title: '账号名称', minWidth: 120}
                    ,{field: 'changename', title: '类型', minWidth: 120}
					, {field: 'PreScore', title: '钻石变化', minWidth: 120}
					, {field: 'PreScore', title: '操作前钻石', minWidth: 120}
                    , {field: 'ChangeScore', title: '钻石变化', minWidth: 120, templet: function (d) {

                            return d.ChangeScore > 0 ? "<span style='color: red'>+"+d.ChangeScore+"</span>" : (d.ChangeScore == 0 ? d.ChangeScore : "<span style='color: green'>"+d.ChangeScore+"</span>");

                    }}					
                    , {field: 'LastScore', title: '操作后钻石', minWidth: 120}
                    , {field: 'addtime', title: '时间', minWidth: 180}
                    , {field: 'description', title: '备注', minWidth:250}

                        , {field: 'proxyincome', title: '备注', minWidth:150}*/
                        , {field: 'proxyincome', title: '操作', align: 'center', minWidth: 150, toolbar: '#msg-bar'}
                ];


                table.render({
                    elem: '#proxylist'
                    , url: "{:url('activity/couponblacklist')}" //数据接口
                    , page: true //开启分页
                    , limit:15
                    , cols: [cols]
                    ,done : function(res) {
                        $('#totalmoney').html(res.other)
                        tzTbale();
                    }
                });
            },

            //搜索
            search: function () {
                var roleid = $.trim($('#roleid').val());
                //执行重载
                table.reload('proxylist', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    },
                    where: {
                        'roleid': roleid
                    }
                });
            },

            //操作事件
            extraEvent: function () {
                //编辑
                table.on('tool(proxylist)', function (obj) {
                    var data = obj.data //获得当前行数据
                        , layEvent = obj.event; //获得 lay-event 对应的值
                    tr = obj.tr; //获得当前行 tr 的DOM对象
                    if (layEvent === 'tongchang') {
                        alert(55);

                    } else if (layEvent === 'ganme') { //删除
                        alert(data.nickname);
                    } else if (layEvent === 'cold') {

                    } else if (layEvent === 'delete') {
						layer.confirm("{:lang('确认删除这条记录？')}", {btn: ['{:lang("确定")}','{:lang("取消")}']}, function () {
                            $.ajax({
                                type: 'post',
                                url: "{:url('activity/delcouponblacklist')}",
                                data: {
                                    'RoleID': data.RoleID
                                },
                                dataType: 'json',
                                success: function (res) {
                                    if (res.code === 0) {
                                        layer.msg(res.msg, {icon: 6, time: 1000}, function () {
                                            window.location.reload();
                                        });
                                    } else {
                                        layer.msg(res.msg, {icon: 5});
                                    }
                                }
                            });
                        });
                    }
                });
            },

            init: function () {
                main.renderData();
                main.extraEvent();
                laydate.render({
                    elem: '#LAY-component-form-group-date'
                    , format: 'yyyy-MM-dd'
                    , max: 1
                    , btns: ['clear', 'confirm']
                    ,value: new Date()
                });
                laydate.render({
                    elem: '#LAY-component-form-group-date2'
                    , format: 'yyyy-MM-dd'
                    , max: 1
                    , btns: ['clear', 'confirm']
                    ,value: new Date()
                });
                $('#search').on('click', function (e) {
                    e.preventDefault();
                    main.search();
                });
            }
        };

        main.init();
    });
</script>
{/block}