{extend name="common/base" /}

{block name="title"}{/block}
{block name="css"}{/block}
{block name="content"}
<div class="layui-card-header layuiadmin-card-header-auto">
    <form class="layui-form" lay-filter="component-form-group">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">{:lang('活动时间')}</label>
                <div class="layui-input-inline" style="width: 100px;">
                    <input type="text" name="start" id="LAY-component-form-group-date" autocomplete="off"
                           class="layui-input">
                </div>
                <div class="layui-form-mid">
                    -
                </div>
                <div class="layui-input-inline" style="width: 100px;">
                    <input type="text" name="end" id="LAY-component-form-group-date2" autocomplete="off"
                           class="layui-input">
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">{:lang('活动类型')}</label>
                <div class="layui-input-inline">
                    <select name="chargetype" id="chargetype">
                        <option value="0">{:lang('所有')}</option>
                        <option value="1">{:lang('首充礼包')}</option>
                        <option value="2">{:lang('充值返利')}</option>
                        <option value="3">{:lang('商店充值')}</option>
                    </select>
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">{:lang('活动状态')}</label>
                <div class="layui-input-inline">
                    <select name="status" id="status">
                        <option value="-1">{:lang('所有')}</option>
                        <option value="0">{:lang('关闭')}</option>
                        <option value="1">{:lang('开启')}</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <a class="layui-btn" id="search" data-type="reload">{:lang('搜索')}</a>
                <button type="reset" class="layui-btn layui-btn-primary">{:lang('重置')}</button>
            </div>
        </div>
    </form>
</div>
<div class="layui-card">
    <div class="layui-card-body">
        <a style="margin-bottom: 10px;" class="layui-btn" onclick="x_admin_show('{:lang(\'添加活动信息\')}','addstagegft.html', 700,700)">
            <i class="layui-icon layui-icon-add-circle"></i>
        </a>
        <div id="alllist">
            <table id="proxylist" lay-filter="proxylist"></table>
        </div>
    </div>
</div>

{/block}
{block name="script"}
<script type="text/html" id="msg-bar">
    <a class="layui-btn layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i></a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete"><i
            class="layui-icon layui-icon-delete"></i></a>
    {{#if(d.ChargeType==1){}}
        <a class="layui-btn layui-btn-xs" lay-event="step">{:lang('打码级别')}</a>
    {{#}}}
</script>
<script>
    layui.config({
        base: '__layui__/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块

    }).use(['index', 'table', 'layer', 'element', 'laydate', 'form', 'jquery'], function () {
        var element = layui.element
            , layer = layui.layer
            , laydate = layui.laydate
            , table = layui.table
            , $ = layui.$
            , form = layui.form;

        function getWhere() {
            var start = $.trim($('#LAY-component-form-group-date').val());
            var end = $.trim($('#LAY-component-form-group-date2').val());
            var chargetype = $('#chargetype').val();
            var status = $('#status').val();
            return {
                'start': start,
                'end': end,
                'chargetype': chargetype,
                'status': status,
            };
        }

        var main = {
            renderData: function () {
                var cols = [ //表头
                    {field: 'Id', title: '#', align: 'center', minWidth: 50}
                    , {field: 'ChargeTypeName', align: 'center', title: "{:lang('充值类型')}", minWidth: 100}
                    , {field: 'ChargeMoney', title: "{:lang('充值金额')}", align: 'center', minWidth: 100}
                    , {field: 'OriginalVirtualMoney', title: "{:lang('对应虚拟币')}", align: 'center', minWidth: 100}
                    , {field: 'GitfVirtualMoney', title: "{:lang('奖励虚拟币')}", align: 'center', minWidth: 100}
                    , {field: 'parentAward', title: "{:lang('上级奖励金币')}", align: 'center', minWidth: 100}
                    , {field: 'WageRequiredMul', title: "{:lang('打码倍数')}", align: 'center', minWidth: 100}
                    , {field: 'BeginTime', title: "{:lang('开始时间')}", align: 'center', minWidth: 180}
                    , {field: 'EndTime', title: "{:lang('结束时间')}", align: 'center', minWidth: 180}
                    , {
                        field: 'Status', title: "{:lang('状态')}", align: 'center', minWidth: 100, templet: function (d) {
                            var myid = d.Id;
                            if (d.Status == 0) {
                                return '<a class="myopen" myid="' + myid + '" style="margin-left: 10px" lay-event="setstatus"><input type="checkbox" name="open" lay-filter="setstatus" lay-skin="switch" lay-text="{:lang(\'开启|关闭\')}"></a>';
                            } else {
                                return '<a class="myopen" myid="' + myid + '" style="margin-left: 10px" lay-event="setstatus"><input type="checkbox"  name="open" lay-filter="setstatus" lay-skin="switch" checked lay-text="{:lang(\'开启|关闭\')}"></a>';
                            }
                        }
                    }
                    , {field: 'ChargeType', title: "{:lang('充值金额')}", align: 'center', minWidth: 100,hidden:true}
                    , {fixed: 'right', title: "{:lang('操作')}", align: 'center', align: 'center', width: 200, toolbar: '#msg-bar'}

                ];

                table.render({
                    elem: '#proxylist'
                    , url: "{:url('activity/stagegftlist')}" //数据接口
                    , where: getWhere()
                    , page: true //开启分页
                    , cols: [cols]
                    , done: function (res) {
                        tzTbale()
                        
                    }
                });
            },

            //搜索
            search: function () {
                var roleid = $.trim($('#bankname option:selected').text());
                if (roleid == '请选择渠道') {
                    roleid = '';
                }

                //执行重载
                table.reload('proxylist', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    },
                    where: getWhere()
                });
            },


            //操作事件
            extraEvent: function () {
                //编辑&&删除
                table.on('tool(proxylist)', function (obj) {
                    var data = obj.data //获得当前行数据
                        , layEvent = obj.event; //获得 lay-event 对应的值
                    if (layEvent === 'edit') {
                        var id = data.Id
                            , type = data.type
                        x_admin_show('{:lang(\'编辑活动信息\')}', 'addstagegft?Id=' + id, 700, 700);
                    }
                    else if(layEvent=='step'){
                        var id = data.Id
                            , type = data.type
                        x_admin_show('{:lang(\'编辑打码级别信息\')}', 'addchargestep?Id=' + id, 600, 500);
                    }
                    else if (layEvent === 'delete') {
                        layer.confirm("{:lang('确认删除这条记录？')}", {btn: ['{:lang("确定")}','{:lang("取消")}']}, function () {
                            $.ajax({
                                type: 'post',
                                url: "{:url('activity/delstagegft')}",
                                data: {
                                    'Id': data.Id
                                },
                                dataType: 'json',
                                success: function (res) {
                                    if (res.code === 0) {
                                        layer.msg(res.msg, {icon: 6, time: 1000}, function () {
                                            window.location.reload();
                                        });
                                    } else {
                                        layer.msg(res.msg, {icon: 5});
                                    }
                                }
                            });
                        });
                    }
                });

                form.on('switch(setstatus)', function (data) {
                    var selected = data.elem.checked === true ? 1 : 0; //开关是否开启，true或者false
                    var id = $(data.elem).parent().attr('myid');
                    //设置开关
                    $.ajax({
                        url: "{:url('activity/setstagegftstatus')}",
                        type: 'post',
                        data: {
                            'id': id,
                            'status': selected
                        },
                        success: function (res) {
                            if (res.code === 0) {
                                layer.msg(res.msg, {icon: 6});
                            } else {
                                layer.msg(res.msg, {icon: 5});
                                if (selected == 0) {
                                    //重新添加checked要用prop
                                    $(data.elem).prop('checked', 'true');
                                    $(data.elem).next().addClass('layui-form-onswitch');
                                    $(data.elem).next().find('em').html("{:lang('开启')}");
                                } else {
                                    $(data.elem).removeAttr('checked');
                                    $(data.elem).next().removeClass('layui-form-onswitch');
                                    $(data.elem).next().find('em').html("{:lang('关闭')}");
                                }
                            }
                        }
                    });
                });


            },
            init: function () {
                main.renderData();
                main.extraEvent();
                laydate.render({
                    elem: '#LAY-component-form-group-date'
                    , format: 'yyyy-MM-dd'
                    , max: 1
                    , lang:'{$datelang ?: "cn"}'
                    , btns: ['clear', 'confirm']
                    , value: ''
                });
                laydate.render({
                    elem: '#LAY-component-form-group-date2'
                    , format: 'yyyy-MM-dd'
                    , max: 360
                    , lang:'{$datelang ?: "cn"}'
                    , btns: ['clear', 'confirm']
                    , value: ''
                });
                $('#search').on('click', function (e) {
                    e.preventDefault();
                    main.search();
                });
            }
        };

        main.init();
    });
</script>
{/block}