{extend name="common/base" /}

{block name="title"}向玩家转账{/block}
{block name="css"}{/block}
{block name="content"}

<div class="layui-row layui-col-space30">
    <div class="layui-col-md12 layui-col-lg12 layui-col-xs12 layui-col-sm12">
        <div class="layui-card">
            <div class="layui-card-body">
                <div class="layui-carousel layadmin-carousel layadmin-dataview" id="test1" data-anim="fade"
                     lay-filter="LAY-index-dataview">
                    <div carousel-item id="hall">
                        <div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
                        <div></div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-col-md12 layui-col-lg12 layui-col-xs12 layui-col-sm12">
        <div class="layui-card">
            <div class="layui-card-header layuiadmin-card-header-auto">
                <form class="layui-form" lay-filter="component-form-group">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">日期</label>
                            <div class="layui-input-inline">
                                <input type="text" name="start" id="LAY-component-form-group-date" autocomplete="off"
                                       class="layui-input">
                            </div>
                            <div class="layui-form-mid">
                                -
                            </div>
                            <div class="layui-input-inline">
                                <input type="text" name="end" id="LAY-component-form-group-date2" autocomplete="off"
                                       class="layui-input">
                            </div>
                        </div>

                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <a class="layui-btn" id="search" data-type="reload">搜索</a>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="layui-card-body">
                <div id="alllist">
                    <table id="proxylist" lay-filter="proxylist"></table>
                </div>
            </div>
        </div>
    </div>
</div>


{/block}
{block name="script"}
<script>
    layui.config({
        base: '__layui__/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table', 'layer', 'element', 'laydate', 'form', 'jquery', 'gameonline'], function () {
        //隐藏轮播
        var element = layui.element
            , layer = layui.layer
            , laydate = layui.laydate
            , table = layui.table
            , $ = layui.$
            , form = layui.form;
        var main = {
            renderData: function () {
                var cols = [ //表头
                    {field: 'addtime', title: '统计时间', minWidth: 150}
                    , {field: 'hallonline', title: '大厅在线人数', minWidth: 120}
                    , {field: 'roomonline', title: '游戏在线人数', minWidth: 120}
                ];

                table.render({
                    elem: '#proxylist'
                    , url: "{:url('statistical/gameonlinedata2')}" //数据接口
                    , page: true //开启分页
                    , limit: 10
                    , cols: [cols]
                });
            },

            //搜索
            search: function () {
                var strartdate = $.trim($('#LAY-component-form-group-date').val());
                var enddate = $.trim($('#LAY-component-form-group-date2').val());

                //执行重载
                table.reload('proxylist', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    },
                    where: {
                        'start': strartdate,
                        'end': enddate,
                    }
                });
            },

            //其他
            extraEvent: function () {
                $('.layui-carousel-ind').hide();
            },


            init: function () {
                main.renderData();
                main.extraEvent();
                laydate.render({
                    elem: '#LAY-component-form-group-date'
                    , format: 'yyyy-MM-dd'
                    , max: 0
                    , btns: ['clear', 'confirm']
                    ,value: new Date()
                });
                laydate.render({
                    elem: '#LAY-component-form-group-date2'
                    , format: 'yyyy-MM-dd'
                    , max: 0
                    , btns: ['clear', 'confirm']
                    ,value: new Date()
                });
                $('#search').on('click', function (e) {
                    e.preventDefault();
                    main.search();
                });
            }
        };

        main.init();

    });
</script>
{/block}

