{extend name="common/base" /}
{block name="title"}游戏盈亏结算{/block}
{block name="css"}
<style type="text/css">
    .layui-table-highlight {
        /*background-color:#1E90FF;*/
        color: #e60000;font-weight: bold;
    }

    .layui-table-highlight:hover {
        background-color: #7ebd90 !important;
    }
    .layui-anim{
    	max-height: 500px !important;
    }
</style>
{/block}
{block name="content"}
<div class="layui-row layui-col-space20">
    <!-- <div class="layui-col-md2">
        <div class="layui-card">
            <div class="layui-card-header"> {:lang('总流水')} <span class="layui-badge layui-bg-blue layuiadmin-badge">{:lang('合计')}</span></div>
            <div class="layui-card-body layuiadmin-card-list"><p class="layuiadmin-big-font" id="total_in" style="color: #009688">0</p></div>
        </div>
    </div> -->
    <!--    <div class="layui-col-md2">-->
    <!--        <div class="layui-card">-->
    <!--            <div class="layui-card-header"> 游戏输赢 <span class="layui-badge layui-bg-blue layuiadmin-badge">赢</span></div>-->
    <!--            <div class="layui-card-body layuiadmin-card-list"><p class="layuiadmin-big-font" id="total_win" style="color: #009688">0</p></div>-->
    <!--        </div>-->
    <!--    </div>-->
    <!-- <div class="layui-col-md2">
        <div class="layui-card">
            <div class="layui-card-header"> {:lang('总盈亏(含购买免费游戏)')}</div>
            <div class="layui-card-body layuiadmin-card-list"><p class="layuiadmin-big-font" id="total_SystemWin" style="color: #009688">0</p></div>
        </div>
    </div>
    <div class="layui-col-md2">
        <div class="layui-card">
            <div class="layui-card-header"> {:lang('游戏回报率')} <span class="layui-badge layui-bg-blue layuiadmin-badge">{:lang('回报率')}</span></div>
            <div class="layui-card-body layuiadmin-card-list"><p class="layuiadmin-big-font" id="total_re" style="color: #009688">0</p></div>
        </div>
    </div>
    <div class="layui-col-md2">
        <div class="layui-card">
            <div class="layui-card-header"> {:lang('总税收')} <span class="layui-badge layui-bg-blue layuiadmin-badge">{:lang('总税收')} </span></div>
            <div class="layui-card-body layuiadmin-card-list"><p class="layuiadmin-big-font" id="total_tax" style="color: #009688">0</p></div>
        </div>
    </div>
    <div class="layui-col-md2">
        <div class="layui-card">
            <div class="layui-card-header"> {:lang('总充值')} <span class="layui-badge layui-bg-blue layuiadmin-badge">{:lang('总充值')} </span></div>
            <div class="layui-card-body layuiadmin-card-list"><p class="layuiadmin-big-font" id="total_recharge" style="color: #009688">0</p></div>
        </div>
    </div>
    <div class="layui-col-md2">
        <div class="layui-card">
            <div class="layui-card-header"> {:lang('盈亏/充值')} <span class="layui-badge layui-bg-blue layuiadmin-badge">{:lang('盈亏/充值')} </span></div>
            <div class="layui-card-body layuiadmin-card-list"><p class="layuiadmin-big-font" id="total_killRate" style="color: #009688">0</p></div>
        </div>
    </div> -->
    <!-- <div class="layui-col-md2">
        <div class="layui-card">
            <div class="layui-card-header"> {:lang('游戏总局数')}</div>
            <div class="layui-card-body layuiadmin-card-list"><p class="layuiadmin-big-font" id="total_gcount" style="color: #009688">0</p></div>
        </div>
    </div>
    <div class="layui-col-md2">
        <div class="layui-card">
            <div class="layui-card-header"> {:lang('游戏总人数')}</div>
            <div class="layui-card-body layuiadmin-card-list"><p class="layuiadmin-big-font" id="total_gnum" style="color: #009688">0</p></div>
        </div>
    </div> -->

</div>

<div class="layui-card" style="margin-top: 20px">
    <div class="layui-card-header layuiadmin-card-header-auto">
        <form class="layui-form" lay-filter="component-form-group">
            <div class="layui-form-item">
                <div id="showkindidname2" style="display: none;"><label class="layui-form-label">{:lang('游戏类型')}：</label></div>
                <div class="layui-inline" style="display: none">
                    <label class="layui-form-label">{:lang('玩家ID')}</label>
                    <div class="layui-input-inline"><input autocomplete="off" class="layui-input" id="roleid2" lay-verify="number" name="roleid" type="text"></div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">{:lang('房间')}</label>
                    <div class="layui-input-inline">
                        <select id="roomid" name="roomid" lay-search>
                            <option value="0">{:lang('所有')}</option>
                            {foreach name="selectData" item="vo"}
                            <option value="{$vo.RoomID}">{$vo.RoomName}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">{:lang('日期')}</label>
                    <div class="layui-input-inline" style="width: 150px;">
                        <input autocomplete="off" class="layui-input" id="LAY-component-form-group-date" name="start" type="text" value="{:date('Y-m-d')}">
                    </div>
                    <div class="layui-form-mid">
                        -
                    </div>
                    <div class="layui-input-inline" style="width: 100px;">
                        <input autocomplete="off" class="layui-input" id="LAY-component-form-group-date2" name="end" type="text" value="{:date('Y-m-d')}">
                    </div>
                </div>


                <div class="layui-inline" style="display: none">
                    <label class="layui-form-label">{:lang('游戏结果')}</label>
                    <div class="layui-input-inline">
                        <select id="result" name="result">
                            <option value="-1">{:lang('所有')}</option>
                            <option value="0">{:lang('赢')}</option>
                            <option value="1">{:lang('输')}</option>
                            <option value="2">{:lang('和')}</option>
                            <option value="3">{:lang('逃')}</option>
                        </select>
                    </div>
                </div>

                <div class="layui-inline">
                    <!-- <div class="layui-input-inline"> -->
                        <a class="layui-btn" id="search2">{:lang('搜索')}</a>
                        <a class="layui-btn" id="output">{:lang('导出记录')}</a>
                        <a class="layui-btn layui-btn-danger" id="today">{:lang('今日')}</a>
                        <a class="layui-btn" id="yestoday">{:lang('昨日')}</a>
                        <a class="layui-btn" id="thirdday">{:lang('前日')}</a>
                    <!-- </div> -->
                </div>
            </div>
        </form>

    </div>
    <div class="layui-card-body">
        <div id="alllist">
            <table id="proxylist" lay-filter="proxylist"></table>
        </div>
    </div>
</div>

{/block}
{block name="script"}

<script id="msg-bar" type="text/html">
    <input type="button" class="layui-btn layui-btn-xs" lay-event="roomInfo" value="{:lang('查看明细')}">
</script>
<script>

	url = "{:url('Statistical/gamedata')}";
	layui.config({
		base: '__layui__/' //静态资源所在路径
	}).extend({
		index: 'lib/index' //主入口模块
	}).use(['index', 'table', 'layer', 'element', 'laydate', 'form', 'jquery'], function () {
		var element = layui.element, layer = layui.layer, laydate = layui.laydate, table = layui.table, $ = layui.$, form = layui.form;
		var main = {
			renderData: function () {
				var cols = [ //表头
					{field: 'AddTime', align: "center", title: "{:lang('时间')}", minWidth: 110},
					{field: 'RoomID', align: 'center', title: "{:lang('房间ID')}", minWidth: 100, sort: true},
					{field: 'RoomName', align: 'center', title: "{:lang('房间名称')}", minWidth: 200},
					{field: 'Water', align: 'center', title: "{:lang('流水')}", minWidth: 120, sort: true},
					// {field: 'WinScore', title: '游戏输赢', minWidth: 110, sort: true},
					{field: 'WinScore', align: "center", title: "{:lang('平台盈亏')}", minWidth: 140, sort: true,
						templet: function (d) { return "<span style='color:" + (d.WinScore >= 0 ? "red" : "green") + "'>" + d.WinScore + "</span>"; }
					},
					// {field: 'DailyEggTax', align: "center", title: '明税', width: 100, sort: true, templet: function (d) { return Math.floor(d.DailyEggTax * 100) / 100; }},
					{field: 'GameRate', align: "center", title: "{:lang('游戏回报率%')}", minWidth: 150, sort: true, templet: function (d) { return d.GameRate; }},
					{field: 'Tax', align: "center", title: "{:lang('税收')}", minWidth: 120, sort: true},
					{field: 'KillRate', align: "center", title: "{:lang('杀率')}", minWidth: 100, sort: true},
					{field: 'TotalNum', align: "center", title: "{:lang('总游戏人数')}", minWidth: 150, sort: true},
					{field: 'GCount', align: "center", title: "{:lang('游戏局数')}", minWidth: 100, sort: true},
					{fixed: 'right', align: "center", title: "{:lang('操作')}", align: 'center', minWidth: 100, toolbar: '#msg-bar'},
				];
				table.render({
					elem: '#proxylist', url: url,where:{
						Action:'list'
                    } , page: true /*开启分页*/, limit: 15, cols: [cols], sort: true,
					autoSort: false,
					done: function (res, curr, count) {
						// $('#total_in').html(res.other.total_Water);
						// $('#total_win').html(res.other.total_Win);
						// $('#total_SystemWin').html(res.other.total_SystemWin);

						// $('#total_tax').html(Math.floor(res.other.total_Tax * 100) / 100);//税
						// $('#total_re').html(res.other.total_WinRate); //回报率
      //                   $('#total_gcount').html(res.other.total_GCount);
      //                   $('#total_gnum').html(res.other.total_Gnum);
						// $('#nums').html(count);
						// $('#total_recharge').html(res.other.total_recharge);
						// $('#total_killRate').html(res.other.total_killRate);
                        let data = res.data;
                        layui.each(data,function (i) {
                            if (data[i].warning === true){
                                let trs = $('div[lay-id=proxylist] .layui-table-body tr');
                                layui.each(trs,function (j){
                                    if (trs.eq(j).data('index') === i){
                                        trs.eq(j).addClass('layui-table-highlight');
                                    }
                                });
                            }
                        });
						tzTbale()
					}
				});
			},

			//搜索
			search: function () {

				//执行重载
				table.reload('proxylist', {
					page: {curr: 1},
					where: {
						roleid: $.trim($('#roleid').val()),
						roomid: $.trim($('#roomid').val()),
						strartdate: $.trim($('#LAY-component-form-group-date').val()),
						enddate: $.trim($('#LAY-component-form-group-date2').val()),
					}
				});
			},
			//操作事件
			extraEvent: function () {

				//排序
				table.on('sort(proxylist)', function (obj) {
					var roleid = $.trim($('#roleid').val());
					var roomid = $.trim($('#roomid').val());
					//执行重载
					table.reload('proxylist', {
						initSort: obj,
						page: {curr: 1},
						where: {
							'orderytpe': obj.type,
							'roomid': roomid,
							'orderby': obj.field,
						}
					});

				});
				//编辑&&删除
				table.on('tool(proxylist)', function (obj) {
					var data = obj.data, layEvent = obj.event;
					if (layEvent === 'roomInfo') {
						// console.info(data);
						title = "{:lang('明细')}-" + data.RoomName + "-" + data.AddTime;
						url = "{:url('statistical/TotalRoominfo')}?roomid=" + data.RoomID + "&date=" + data.AddTime;
						x_admin_show(title, url, 780, 800);
					}

				});
			},

			init: function () {
				main.renderData();
				main.extraEvent();
				laydate.render({
					elem: '#LAY-component-form-group-date'
					, format: 'yyyy-MM-dd'
					, max: 1
					, lang:'{$datelang ?: "cn"}'
					, btns: ['clear', 'confirm']
					// , value: new Date()
				});
				laydate.render({
					elem: '#LAY-component-form-group-date2'
					, format: 'yyyy-MM-dd'
					, max: 1
					, lang:'{$datelang ?: "cn"}'
					, btns: ['clear', 'confirm']
					// , value: new Date()
				});
				$('#search').on('click', function (e) {
					e.preventDefault();
					main.search();
				});
			}
		};
		main.init();
		$('#today').click(function () {
			$('#today').addClass('layui-btn-danger');
			$('#yestoday').removeClass('layui-btn-danger');
			$('#thirdday').removeClass('layui-btn-danger');
			$('#LAY-component-form-group-date').val("{:date('Y-m-d')}");
			$('#LAY-component-form-group-date2').val("{:date('Y-m-d')}");
			main.search();
		});
		$('#yestoday').click(function () {
			$('#yestoday').addClass('layui-btn-danger');
			$('#today').removeClass('layui-btn-danger');
			$('#thirdday').removeClass('layui-btn-danger');
			$('#LAY-component-form-group-date').val("{:date('Y-m-d',strtotime('-1 days'))}");
			$('#LAY-component-form-group-date2').val("{:date('Y-m-d',strtotime('-1 days'))}");
			main.search();
		});
		$('#thirdday').click(function () {
			$('#thirdday').addClass('layui-btn-danger');
			$('#yestoday').removeClass('layui-btn-danger');
			$('#today').removeClass('layui-btn-danger');
			$('#LAY-component-form-group-date').val("{:date('Y-m-d',strtotime('-2 days'))}");
			$('#LAY-component-form-group-date2').val("{:date('Y-m-d',strtotime('-2 days'))}");
			main.search();
		});
		$('#search2').click(function () {
			$('#thirdday').removeClass('layui-btn-danger');
			$('#yestoday').removeClass('layui-btn-danger');
			$('#today').removeClass('layui-btn-danger');
			main.search();
		});
	});
	$('#output').click(function () {
		where = {
			roleid: $.trim($('#roleid').val()),
			roomid: $.trim($('#roomid').val()),
			strartdate: $.trim($('#LAY-component-form-group-date').val()),
			enddate: $.trim($('#LAY-component-form-group-date2').val()),
			limit: 10000000,
			Action: 'exec',
		}

		download();

		function download() {
			var params = Object.keys(where).map(function (key) {
				return encodeURIComponent(key) + "=" + encodeURIComponent(where[key]);
			}).join("&");
			url = url + "?" + params;
			$.ajax({
				type: 'POST',
				dataType: 'json',
				async: true,
				url: url, // 生成文件，保存在服务器
				success: function (data) {
					var result = data;
					// console.info(data);
					switch (result["code"]) {
						case 0:
							parent.parent.open(url + "&exec=1&outall=true");
							break;
						case 1:
							layer.msg(result["message"]);
							break;
						case 2:
							layer.confirm(result['message'], {
								btn: ["{:lang('是')}", "{:lang('否')}"] //按钮
							}, function () {
								parent.parent.open(url + "&exec=1&outall=true");
								layer.msg('', {icon: 6, time: 1000}, function () {
									window.location.reload();
								});
							});
					}
				},
				error: function (XMLHttpRequest, textStatus, e) {
					console.log("oilDetection.js  method exportOilDetection" + e);
				}
			});
		}
	});
</script>
{/block}