{extend name="common/base" /}

{block name="title"}超级玩家列表{/block}
{block name="css"}{/block}
{block name="content"}


<div class="layui-card" style="margin-top: 20px">
    <div class="layui-card-header layuiadmin-card-header-auto">
        <a class="layui-btn" onclick="x_admin_show('添加机器人账号','addrobotuser.html', '', 450)">
            添加机器人账号
        </a>
        <a class="layui-btn" onclick="x_admin_show('批量修改机器人账号','updateallrotbot.html', '', 400)">
            批量修改机器人账号
        </a>
    </div>
    <div class="layui-card-body">
        <form class="layui-form" lay-filter="component-form-group">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">机器人ID</label>
                    <div class="layui-input-inline">
                        <input type="text" id="userid" name="userid" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <a class="layui-btn" id="search" data-type="reload">搜索</a>
                    </div>
                </div>
            </div>
        </form>
        <div id="alllist">
            <table id="proxylist" lay-filter="proxylist"></table>
        </div>
    </div>
</div>


{/block}
{block name="script"}
<script type="text/html" id="msg-bar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">删除</i></a>
</script>
<script>
    layui.config({
        base: '__layui__/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块

    }).use(['index', 'table', 'layer', 'element', 'laydate', 'form', 'jquery'], function() {
        var element = layui.element
            ,layer = layui.layer
            ,laydate = layui.laydate
            ,table = layui.table
            ,$ = layui.$
            ,form = layui.form;

        var main = {
            //渲染数据
            renderData : function() {
                var cols = [ //表头
                    {field: 'userid', title: '机器人ID', minWidth:120}
                    ,{field: 'str', title: '服务时间', minWidth:500}
                    ,{field: 'type', title: '服务类型', minWidth:250}
                    , {fixed: 'right', title:'操作', align:'center', minWidth:100, toolbar: '#msg-bar'}
                ];
                table.render({
                    elem: '#proxylist'

                    , url: "{:url('yunwei/robotuser')}" //数据接口
                    , page: true //开启分页
                    , limit:15
                    , cols: [cols]
                    , done: function (d) {
                        tzTbale()
                    }
                });
            },
            //搜索
            search : function() {
                var userid = $.trim($('#userid').val());
                if (isNaN(userid)) {
                    layer.msg('请输入正确的ID', {icon: 5});
                    return false;
                }
                //执行重载
                table.reload('proxylist', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    },
                    where: {
                        'userid':userid
                    }
                });
            },
            //操作事件
            extraEvent : function () {
                //编辑
                table.on('tool(proxylist)', function(obj) {
                    var data = obj.data //获得当前行数据
                        ,layEvent = obj.event; //获得 lay-event 对应的值
                    tr = obj.tr; //获得当前行 tr 的DOM对象 activity
                    if (layEvent === 'edit') {
//                        x_admin_show('编辑超级玩家', 'editSuper.html?roleid='+data.roleid+'&rate='+data.rate, '', 270);
                        x_admin_show('编辑房间机器人', 'editrobotuser.html?userid='+data.userid+'&servicetime='+data.servicetime+'&servicegender='+data.servicegender, '', 500);
                    } else if (layEvent === 'delete') { //删除
                        layer.confirm("{:lang('确认删除这条记录？')}",{btn: ['确认','取消']}, function() {
                            $.ajax({
                                type: 'post',
                                url: "{:url('yunwei/deleterobotuser')}",
                                data: {
                                    'userid': data.userid
                                },
                                dataType: 'json',
                                success: function (res) {
                                    if (res.code === 0) {
                                        layer.msg(res.msg, {icon: 6,time:1000}, function() {
                                            window.location.reload();
                                        });
                                    } else {
                                        layer.msg(res.msg, {icon: 5});
                                    }
                                }
                            });
                        });
                    }
                });
            },

            //绑定事件
            bindEvent : function () {
                $('#search').on('click', function(e) {
                    e.preventDefault();
                    main.search();
                });
            },

            //初始化
            init : function() {
                main.renderData();
                main.extraEvent();
                main.bindEvent();
            }
        };
        main.init();
    });
</script>
{/block}