{extend name="common/base" /}
{block name="title"}{/block}
{block name="css"}{/block}
{block name="content"}
<div class="layui-form-item">
    <div class="layui-card-header layuiadmin-card-header-auto">
        <form class="layui-form" lay-filter="component-form-group">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">时间：</label>
                    <div class="layui-input-inline">
                        <input autocomplete="off" class="layui-input" id="start_date" name="start_date" type="text">
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <a class="layui-btn" data-type="reload" id="search">{:lang('搜索')}</a>
                        <!--<a class="layui-btn layui-btn-danger" id="output">{:lang('导出记录')}</a>-->
                    </div>
                </div>
            </div>
        </form>

    </div>
    <div class="layui-fluid">

        <table class="layui-table">
            <colgroup>
                <col width="250">
                <col width="500">
                <col>
            </colgroup>
            <tbody>
            <tr>
                <td>{:lang('总盈利(金币)')}：</td>
                <td id="totalsystem0">{$data['totalsystem']}</td>
                <td></td>
            </tr>
            <tr>
                <td>{:lang('汇率(平台配置)')}：</td>
                <td id="cfgrate">{$data['rate']}</td>
                <td></td>
            </tr>

            <tr>
                <td>{:lang('总抽成(平台金额)')}：</td>
                <td><span id="totalsystem">{$data['totalsystem']}</span> X &nbsp;<span id="systemrate">{$data['systemrate']}</span>&nbsp;=&nbsp;<span id="totalprofit1">{$data['totalprofit']}</span>&nbsp;&nbsp;<span class="layui-bg-red">&nbsp;INR&nbsp;</span>
                </td>
                <td><a  class="" id="querylist" >{:lang('查看盈利详情')}</a></td>
            </tr>


            <tr>
                <td>{:lang('平台上线时间')}：</td>
                <td id="online">{$onlinedata}</td>
                <td></td>
            </tr>

            <tr>
                <td>{:lang('总费用(平台金额)')}：</td>
                <td id="totalprofit">{$data['totalprofit']}</td>
                <td></td>
            </tr>

            <tr>
                <td>{:lang('总费用(汇率对应币种)')}：</td>
                <td>
                    <div class="layui-form-item">
                        <label class=""><span id="calprofit">{$data['totalprofit']}</span> &nbsp;&nbsp;/&nbsp;&nbsp;</label>
                        <div class="layui-inline">
                            <input type="number" id="rate" name='rate' placeholder="{:lang('请输入汇率')}"
                                   style="width: 150px;"
                                   autocomplete="off" class="layui-input">
                        </div>
                        <label class="layui-inline">&nbsp;&nbsp; =&nbsp;&nbsp;<b id="retdata"></b> </label>
                        <div class="layui-inline">
                            <!-- <div class="layui-input-inline"> -->
                            <a class="layui-btn" id="calculate" data-type="reload">{:lang('重新计算')}</a>
                        </div>
                    </div>
                </td>
                <td></td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
</div>
{/block}
{block name="script"}
<script>
    layui.use(['table', 'form', 'laydate'], function () {
        var table = layui.table;
        var form = layui.form;
        var laydate = layui.laydate;
        //日期

        laydate.render({
            elem: '#start_date',
            type: 'month',
            value: '{$thismonth}'
        });

        $("#calculate").click('on', function () {
            var totalprofit = $('#calprofit').html();
            var rate = $('#rate').val();
            if (rate != '') {
                totalprofit = totalprofit / parseFloat(rate);
                $('#retdata').html(totalprofit.toFixed(2));
            }
        });

        $("#search").click('on', function () {
            var date = $("#start_date").val();
            $.ajax({
                type:'get',
                url:"{:url('statistical/profitStatement')}?date="+date+"&action=check",
                dataType:'json',
                success: function(res) {
                    if(res['code']==0){
                        var data = res['data'];
                        $('#cfgrate').html(data['rate']);
                        $('#online').html(data['online']);
                        $('#totalprofit').html(data['totalprofit']);
                        $('#totalprofit1').html(data['totalprofit']);
                        $('#totalsystem0').html(data['totalsystem']);
                        $('#totalsystem').html(data['totalsystem']);
                        $('#calprofit').html(data['totalprofit']);
                        $('#retdata').html('');
                    }
                    else {
                        layer.msg(res.msg, {icon: 5});
                    }

                }
            });
        });


        $("#querylist").click('on', function () {
            var date = $("#start_date").val();
            console.log(date);
            var url ="{:url('statistical/dailyProfit')}?date="+date;
            x_admin_show("{:lang('查看盈利详情')}",url,1300,700);

        });




    });
</script>
{/block}