{extend name="common/base" /}

{block name="title"}所有玩家{/block}
{block name="css"}
<style type="text/css">
    /*删格化5等份*/
    .layui-col-lg2-4,.layui-col-md2-4,.layui-col-sm2-4,.layui-col-xs2-4{position:relative;display:block;box-sizing:border-box}
    .layui-col-xs2-4{float:left}
    .layui-col-xs2-4{width:19.9999992%}
    .layui-col-xs-offset2-4{margin-left:19.9999992%}
    @media screen and (min-width:768px){
        .layui-col-sm2-4{float:left}
        .layui-col-sm2-4{width:19.9999992%}
        .layui-col-sm-offset2-4{margin-left:19.9999992%}
    }
    @media screen and (min-width:992px){
        .layui-col-md2-4{float:left}
        .layui-col-md2-4{width:19.9999992%}
        .layui-col-md-offset2-4{margin-left:19.9999992%}
    }
    @media screen and (min-width:1200px){
        .layui-col-lg2-4{float:left}
        .layui-col-lg2-4{width:19.9999992%}
        .layui-col-lg-offset2-4{margin-left:19.9999992%}
    }
</style>
{/block}
{block name="content"}

<div class="layui-card" >
    <div class="layui-card-header layuiadmin-card-header-auto">
        <div class="layui-inline">
            <label class="layui-form-label">游戏名称：</label>
            <div class="layui-input-inline">
                {$game.roomname}
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label">日期时间：</label>
            <div class="layui-input-inline">
                {$game.addtime}
            </div>
        </div>
    </div>
</div>

<div class="layui-card" >
    <table class="layui-table">
        <colgroup>
            <col width="150">
            <col width="200">
            <col>
            <col>
        </colgroup>
        <thead>
        <tr>
            <th>基本分</th>
            <th>线数</th>
            <th>倍数</th>
            <th>总押注</th>
            <th>赢钱</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{$game.BaseScore}</td>
            <td>{$game.Lines}</td>
            <td>{$game.Multiply}</td>
            <td>{$game.TotalScore}</td>
            <td>{$game.GoldAward}</td>
        </tr>
        </tbody>
    </table>
</div>


<div class="layui-card" >
    <div class="layui-row">
        <div class="layui-row layui-col-space1">
            {volist name='piclist' id='vo'}
            <div class="layui-col-xs2-4">
                <div class="layui-card">
                    <div class="layui-card-body" style="height: 50px;">
                        <img src="{$vo}" style="height: 50px;"/>
                    </div>
                </div>
            </div>
            {/volist}
        </div>
    </div>
</div>


{if (!in_array($roomid,[4100,4300,4500])) }
<div class="layui-card" >
    <table class="layui-table">
        <colgroup>
            <col width="150">
            <col width="200">
            <col>
            <col>
        </colgroup>
        <thead>
        <tr>
            <th>线号</th>
            <th>是否连线</th>
            <th>押注</th>
            <th>赢钱</th>
        </tr>
        </thead>
        <tbody>
        {volist name='linedetail' id='vo'}
        <tr>
            <td>{$vo.icon}</td>
            <td>{$vo.isline}</td>
            <td>{$vo.basescore}</td>
            <td>{$vo.point}</td>
        </tr>
        {/volist}
        </tbody>
    </table>
</div>
{/if}
{/block}
{block name="script"}
<script>
    layui.config({
        base: '__layui__/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块

    }).use(['index', 'table', 'layer', 'element', 'laydate', 'form', 'jquery'], function() {

        }
    );



    {/block}