{extend name="common/base" /}

{block name="title"}所有玩家{/block}
{block name="css"}
<style>
    .layui-table-cell{
        height:70px;
        line-height: 70px;
    }
</style>

{/block}
{block name="content"}


<div class="layui-card">
    <div class="layui-card-header">
        伙牌详情
    </div>
    <div class="layui-card-body">
        <form class="layui-form" lay-filter="component-form-group">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">玩家ID</label>
                    <div class="layui-input-inline">
                        <input type="text" id="roleid" name="roleid" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <a class="layui-btn search" myid="fdsafdf"  data-type="reload" id="search">搜索</a>
                    </div>
                </div>

            </div>
        </form>
        <div id="alllist">
            <table id="proxylist" lay-filter="proxylist"></table>
        </div>
    </div>
</div>
<input hidden value="{$roomid}" id="roomid">

{/block}
{block name="script"}
<script type="text/html" id="msg-bar">
    <a class="layui-btn layui-btn-xs" lay-event="detail">详情</a>
    <!--<a class="layui-btn layui-btn-xs " lay-event="ganme">游戏日志</a>-->
    <!--<a class="layui-btn layui-btn-xs" lay-event="cold">金币日志</a>-->
    <!--<a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">拉黑</a>-->
</script>

<script>
    layui.config({
        base: '__layui__/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块

    }).use(['index', 'table', 'layer', 'element', 'laydate', 'form', 'jquery'], function() {
        var element = layui.element
            ,layer = layui.layer
            ,laydate = layui.laydate
            ,table = layui.table
            ,$ = layui.$
            ,form = layui.form;

        var main = {
            renderData : function() {
                var cols = [ //表头

                    {field: 'uniqueid', title: '牌局ID', minWidth:180}
                    ,{field: 'player', title: '玩家ID', minWidth: 120}
                    , {
                        field: 'card', title: '牌型', minWidth: 150, templet: function (d) {
                            console.log(d.card);
                            var res = '';
                            if(d.card.length>1){
                                for (var i = 0; i < d.card.length; i++) {
                                    if(i==0 ){
                                        d.card[0]= d.card[0].replace('[','');
                                    }
                                    if(i==d.card.length-1 ){
                                        d.card[d.card.length-1]= d.card[d.card.length-1].replace(']','');
                                    }
                                    res += ' <image src="__static__/poker/'+d.card[i]+'.png" widht="45" height="70">';
                                }

                                return res;
                            }else{
                                res='';
                                return res;
                            }


                        }
                    }
                    , {
                        field: 'tablecard', title: '公牌牌型', minWidth: 300, templet: function (d) {
                            console.log(d.tablecard);
                            var res = '';
                            if(d.tablecard.length>1){
                                for (var i = 0; i < d.tablecard.length; i++) {
                                    if(i==0 ){
                                        d.tablecard[0]= d.tablecard[0].replace('[','');
                                    }
                                    if(i==d.tablecard.length-1 ){
                                        d.tablecard[d.tablecard.length-1]= d.tablecard[d.tablecard.length-1].replace(']','');
                                    }
                                    res += ' <image src="__static__/poker/'+d.tablecard[i]+'.png" widht="45" height="70">';
                                }

                                return res;
                            }else{
                                res='';
                                return res;
                            }

                        }
                    }
                    , {
                        field: 'changetype', title: '输赢情况', minWidth: 120,  templet: function (d) {
                            var res = '';
                            if (d.changemoney > 0) {
                                res = '赢';
                            } else  {
                                res = '输';
                            }
                            return res;
                        }
                    }
                    , {field: 'coinbefore', title: '上局金币', minWidth: 120}
                    , {field: 'changemoney', title: '输赢金币', minWidth: 120}
                    , {field: 'coinafter', title: '当前金币', minWidth: 120}
                    , {field: 'addtime', title: '时间', minWidth: 120}
                    ,{fixed: 'right', title:'操作', align:'center', minWidth:80, toolbar: '#msg-bar'}
                ];

                table.render({
                    elem: '#proxylist'

//                    , url: "{:url('player/all')}" //数据接口
                    , url: "{:url('room/lookPartnerCardDzpk')}" //数据接口
                    , page: true //开启分页
                    , limit:5
                    ,where:{'roomid':$('#roomid').val()}
                    , cols: [cols]
                    , done: function (d) {
                        tzTbale()
                    }
                });

            },


            //搜索
            search : function() {
                var roleid = $.trim($('#roleid').val());
                var roomid = $.trim($('#roomid').val());
//                var orderby = $.trim($('#orderby').val());
//                var mobile = $.trim($('#mobile').val());
//                var asc = $.trim($('#asc').val());
//                var ipaddr = $.trim($('#ipaddr').val());

                //执行重载
                table.reload('proxylist', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    },
                    where: {

                        'roleid':roleid,
                        'roomid':roomid,

                    }
                });
            },

            //操作事件
            extraEvent : function () {
                //编辑
                table.on('tool(proxylist)', function(obj) {
                    var data = obj.data //获得当前行数据
                        ,layEvent = obj.event; //获得 lay-event 对应的值
                    tr = obj.tr; //获得当前行 tr 的DOM对象

                    if (layEvent === 'detail') {

//                        x_admin_show("{:lang('玩家详情')}", 'detailZjh.html?uniqueid='+data.uniqueid+'&roomid='+$('#roomid').val(),  $(window).width()*0.7, 350);
                        window.location.href='detailDzpk.html?uniqueid='+data.uniqueid+'&roomid='+$('#roomid').val();
//                        window.location.href='coinLog?roleid='+data.id;



                    }

                });
            },

            init : function() {
                main.renderData();

                main.extraEvent();

                $('#search').on('click', function(e) {
                    e.preventDefault();
                    main.search();
                });
            }
        };

        main.init();
    });
</script>
{/block}