{extend name="common/base" /}

{block name="title"}GM充值{/block}
{block name="css"}
{/block}
{block name="content"}

<form class="layui-form" method="post" id="addProxy">

    <div class="layui-form-item">
        <label class="layui-form-label">{:lang('玩家ID')}：</label>
        <div class="layui-input-block">
            <input autocomplete="off" class="layui-input" id="roleid" lay-verify="number" name='roleid' placeholder="{:lang('请输入玩家ID')}" type="text">
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">{:lang('类型')}：</label>
        <div class="layui-input-block">
            <input type="radio" name="OperateType" id="OperateType_1" value="1" title="游戏上分" checked>
            {if(config('is_usa') == 1)}
            <input type="radio" name="OperateType" id="OperateType_2" value="2" title="游戏下分" >
            {else/}
            {if(config('yongjing_sxf') == 1)}
            <input type="radio" name="OperateType" id="OperateType_3" value="3" title="佣金上分" >
             <input type="radio" name="OperateType" id="OperateType_4" value="4" title="佣金下分" >
            {/if}
            {/if}

        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">{:lang('金额')}：</label>
        <div class="layui-input-block">
            <input autocomplete="off" class="layui-input" id="totalmoney" lay-verify="number" name="totalmoney" placeholder="{:lang('请输入金额，必须是正数')}" type="text">
        </div>
    </div>
<!--    <div class="layui-form-item">-->
<!--        <label class="layui-form-label">{:lang('确认密码')}：</label>-->
<!--        <div class="layui-input-block">-->
<!--            <input autocomplete="off" class="layui-input" id="password" lay-verify="text" name="totalmoney" placeholder="{:lang('请输入确认密码')}" type="text">-->
<!--        </div>-->
<!--    </div>-->
    <div class="layui-form-item">
        <label class="layui-form-label">{:lang('备注')}：</label>
        <div class="layui-input-block">
            <textarea class="layui-textarea" id="descript" name="descript"></textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <!--            <a style="margin-left: 15%" type="submit" class="layui-btn layui-btn-radius" lay-submit="" lay-filter="addit" id="addit">新增</a>-->
            <!--            <a class="layui-btn layui-btn-primary layui-btn-radius" lay-submit="" lay-filter="cancel" id="cancel">取消</a>-->
        </div>
    </div>
</form>

{/block}
{block name="script"}
<script src="__js__/cache.js"></script>
<script src="__js__/Barrett.js"></script>
<script src="__js__/BigInt.js"></script>
<script src="__js__/RSA.js"></script>
<script>
    url = "{:url('Player/transferManager')}";
    var _isClickSave = false;
    var _callback;
    var _layer_index;

    function submitData() {
        var roleid = $.trim($('#roleid').val()),
            Money = $.trim($('#totalmoney').val());
        descript = $.trim($('#descript').val());
        password = $.trim($('#password').val());
        var operatetype = $('input:radio:checked').val();


        if (roleid == '' || Money == '' || operatetype=='') {
            layer.msg('{:lang("参数有误")}', {icon: 2});
            return false;
        }
        if (Money < 0) {
            layer.msg('{:lang("扣款金额必须为正数")}', {icon: 2});
            return false;
        }
        // if (password == '') {
        //     layer.msg('{:lang("请输入确认密码")}', {icon: 2});
        //     return false;
        // }
        if (roleid.length == 7 && operatetype==3) {
            layer.msg('{:lang("测试号禁止佣金上分")}', {icon: 2});
            return false;
        }

        $.ajax({
            type: 'post',
            url: url,
            data: {
                Action: 'add',
                RoleID: roleid.trim(),
                Money: Money,
                operatetype:operatetype,
                descript: descript,
                password:password
            },
            dataType: 'json',
            success: function (res) {
                _isClickSave = false;
                if (res.code === 1) {
                    _callback();
                    parent.layer.close(_layer_index);
                    layer.msg(res.msg, {icon: 1, time: 1500}, function () {
                    });
                    window.location.reload();
                } else {
                    layer.msg(res.msg, {icon: 2});
                }
            }
        });
    }

    function saveData(callback, layer_index, autoClose) {
        if (_isClickSave) return;
        _isClickSave = true;
        _layer_index = layer_index;
        _callback = callback
        submitData();
    }
</script>
{/block}