{extend name="common/base" /}

{block name="title"}{/block}
{block name="css"}{/block}
{block name="content"}
<div class="layui-card">
    <div class="layui-card-body">

        <div id="alllist">
            <table id="proxylist" lay-filter="proxylist"></table>
        </div>
    </div>
</div>


{/block}
{block name="script"}
<script id="msg-bar" type="text/html">
    {{# if(d.status==0){ }}
    <a class="layui-btn layui-btn-xs" lay-event="send">{:lang('审核')}</a>
    <a class="layui-btn layui-btn-xs" lay-event="deny">{:lang('拒绝')}</a>
    {{#  } }}
</script>
<script>
	layui.config({
		base: '__layui__/' //静态资源所在路径
	}).extend({
		index: 'lib/index' //主入口模块

	}).use(['index', 'table', 'layer', 'element', 'laydate', 'form', 'jquery'], function () {
		var element = layui.element, layer = layui.layer, laydate = layui.laydate, table = layui.table, $ = layui.$, form = layui.form;
		url = "{:url('Player/transferManager')}"
		var main = {
			renderData: function () {
				var cols = [ //表头
					{field: 'ID', align: 'center', title: 'ID', width: 100, templet: function (d) {
                            return " <a class=\"layui-bg-green\" lay-event=\"detail\">" + d.RoleId + "</a>";
                        }},
					{field: 'RoleId', title: '{:lang("接收人")}', minWidth: 60},
                    {
                        field: 'OperateType', title: '{:lang("类型")}', minWidth: 100, templet: function (d) {
                            str = "<span style='color:";
                            switch (Number(d.OperateType)) {
                                case 0:
                                    return str += "red'></span>"
                                case 1:
                                    return str += "green'>{:lang('上分')}" + "</span>"
                                case 2:
                                    return str += "red'>{:lang('下分')}" + "</span>"
                            }

                        }
                    },
					{field: 'Money', title: '{:lang("扣款金币")}', minWidth: 120},
					{field: 'Note', title: '{:lang("备注")}', minWidth: 200},
					{
						field: 'status', title: '{:lang("状态")}', minWidth: 100, templet: function (d) {
							str = "<span style='color:";
							switch (Number(d.status)) {
								case 0:return str += "red'>{:lang('未审核')}" + "</span>"
								case 1:return str += "green'>{:lang('已审核')}" + "</span>"
								case 2:return str += "red'>{:lang('已拒绝')}" + "</span>"
							}

						}
					},
					{field: 'InsertTime', title: '{:lang("操作时间")}', minWidth: 110, templet: function (d) {return d.InsertTime.substr(0, 19) }},
					{field: 'UpdateTime', title: '{:lang("更新时间")}', minWidth: 110, templet: function (d) {return d.UpdateTime == null ? "" : d.UpdateTime.substr(0, 19) }},
					{field: 'checkUser', title: '{:lang("操作人员")}', minWidth: 100},
					{fixed: 'right', title: '{:lang("操作")}', align: 'center', minWidth: 200, toolbar: '#msg-bar'}

				];
				table.render({
					elem: '#proxylist',
					url: url,
					where: {Action: 'list'},
					page: true, cols: [cols],
					done: function (d) {
						tzTbale()
					}
				});
			},

			//搜索
			search: function () {
//                var roleid = $.trim($('#bankname').html());
				var roleid = $.trim($('#bankname option:selected').text());
				if (roleid == '{:lang("请选择渠道")}') {
					roleid = '';
				}

				//执行重载
				table.reload('proxylist', {page: {curr: 1}, where: {}});
			},


			//操作事件
			extraEvent: function () {
				//编辑&&删除
				table.on('tool(proxylist)', function (obj) {
					var data = obj.data, layEvent = obj.event, tips = "";
					if (layEvent === 'send') {
					    var OperateType ='';
					    if(data.OperateType==1){
                            OperateType = "{:lang('增加金币')}";
                        }else if(data.OperateType==2){
                            OperateType = "{:lang('扣款金币')}";
                        }

						tips = "{:lang('接收人')}  " + data.RoleId + "<br> "+OperateType+" <span style='color: red'> " + data.Money + " </span> <br>{:lang('确认要通过审核吗?')}";
						layer.confirm(tips, {btn: ['{:lang("确认")}', '{:lang("取消")}']}, function () {
							$.ajax({
								type: 'post',
								url: "{:url('Player/transferManager')}",
								data: {Action: 'send', ID: data.ID},
								dataType: 'json',
								success: function (res) {
									if (res.code === 1) {
										layer.msg(res.msg, {icon: 6, time: 1000}, function () {
											window.location.reload();
										});
									} else {
										layer.msg(res.msg, {icon: 5});
									}
								}
							});
						});

					}
					if (layEvent === 'deny') {
						tips = "{:lang('接收人')}  " + data.RoleId + "<br> {:lang('扣款金币')} <span style='color: red'> " + data.Money + " </span> <br>{:lang('确认要拒绝吗?')}";
						layer.confirm(tips, {btn: ['{:lang("确认")}', '{:lang("取消")}']}, function () {
							$.ajax({
								type: 'post',
								url: "{:url('Player/transferManager')}",
								data: {Action: 'deny', ID: data.ID},
								dataType: 'json',
								success: function (res) {
									if (res.code === 1) {
										layer.msg(res.msg, {icon: 6, time: 1000}, function () {
											window.location.reload();
										});
									} else {
										layer.msg(res.msg, {icon: 5});
									}
								}
							});
						});

					}
					if (layEvent === 'detail') {
                            var url = '/admin/player/playerDetail?roleid=' + data.RoleId;
                            x_admin_show("{:lang('玩家详情')}", url, $(window).width() * 0.9, $(window).height() * 0.6);
                        }

				});
			},
			init: function () {
				main.renderData();
				main.extraEvent();
				$('#search').on('click', function (e) {
					e.preventDefault();
					main.search();
				});
			}
		};

		main.init();
	});
</script>
{/block}