{extend name="common/base" /}

{block name="title"}新增支付通道{/block}
{block name="css"}
{/block}
{block name="content"}

<form class="layui-form" action="{:url('payment/addChannel')}" method="post" id="addProxy" >

    <div class="layui-form-item">
        <label class="layui-form-label">通道名称：</label>
        <div class="layui-input-block">
            <input type="text" id="channelname" name='channelname' lay-verify="required" placeholder="请输入通道名称" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">支付方式：</label>
        <div class="layui-input-block" id="payway">
            <input type="checkbox" name="payway" value="1200" title="支付宝">
            <input type="checkbox" name="payway" value="1300" title="微信">
            <input type="checkbox" name="payway" value="1400" title="银联">
        </div>
    </div>

    <!--<div class="layui-form-item">-->
        <!--<label class="layui-form-label">金额区间</label>-->
        <!--<div class="layui-input-inline" style="width: 100px">-->
            <!--<input type="number" name="minmoney"  id="minmoney" autocomplete="off" class="layui-input">-->
        <!--</div>-->
        <!--<div class="layui-form-mid">-</div>-->
        <!--<div class="layui-input-inline" style="width: 100px">-->
            <!--<input type="number" name="maxmoney"  id="maxmoney" autocomplete="off" class="layui-input">-->
        <!--</div>-->
    <!--</div>-->
    <div class="layui-form-item">
        <label class="layui-form-label">排序：</label>
        <div class="layui-input-block">
            <input type="text" id="orderid" name="orderid"  placeholder="请输入排序值（越大排越前）" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">固定金额池(逗号分割)：</label>
        <div class="layui-input-block">
            <input type="text" id="money" name="money"  placeholder="请输入金额" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">商户号：</label>
        <div class="layui-input-block">
            <input type="text" id="mchid" name="mchid"  placeholder="请输入商户号" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">应用ID：</label>
        <div class="layui-input-block">
            <input type="text" id="appid" name="appid" placeholder="请输入应用ID" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">网关地址：</label>
        <div class="layui-input-block">
            <input type="text" id="noticeurl" name="noticeurl"  placeholder="请输入网关地址" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">备注：</label>
        <div class="layui-input-block">
            <textarea class="layui-textarea" id="descript" name="descript"></textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <a style="margin-left: 15%" type="submit" class="layui-btn layui-btn-radius" lay-submit="" lay-filter="addit" id="addit" >新增</a>
            <a  class="layui-btn layui-btn-primary layui-btn-radius" lay-submit="" lay-filter="cancel" id="cancel" >取消</a>
        </div>
    </div>
</form>

{/block}
{block name="script"}

<script>
    layui.config({
        base: '__layui__/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块

    }).use(['index', 'table', 'layer', 'element', 'laydate', 'form', 'jquery'], function() {
        var element = layui.element
            ,layer = layui.layer
            ,laydate = layui.laydate
            ,table = layui.table
            ,$ = layui.$
            ,form = layui.form;

        var main = {
            submitForm : function(data) {
                var channelname = $.trim(data.field.channelname),
                    mchid = $.trim(data.field.mchid),
                    orderid = $.trim(data.field.orderid),
                    appid = $.trim(data.field.appid),
                    noticeurl = $.trim(data.field.noticeurl),
                    money = $.trim(data.field.money),
//                    minmoney = $.trim(data.field.minmoney),
//                    maxmoney = $.trim(data.field.maxmoney),
                    descript = $.trim(data.field.descript);
                var arr = [];
                $(".layui-form-checkbox").each(function(i){
                    if ($(this).hasClass('layui-form-checked')) {
                        arr.push($(this).prev().val())
                    }
                });

                if (arr.length == 0) {
                    layer.msg('请选择支付方式', {icon:2});
                    return;
                }

                $.ajax({
                    type:'post',
                    url:data.form.action,
                    data:{
                        'channelname' : channelname,
                        'payway':arr,
//                        'minmoney':minmoney,
//                        'maxmoney':maxmoney,
                        'orderid' : orderid,
                        'mchid' : mchid,
                        'appid' : appid,
                        'noticeurl' : noticeurl,
                        'descript' : descript,
                        'money' : money,
                    },
                    dataType:'json',
                    success: function(res) {
                        if (res.code === 0) {
                            layer.msg(res.msg,{icon:1,time:1000}, function () {
                                x_admin_close();
                                parent.location.reload();
                            });
                        } else {
                            layer.msg(res.msg, {icon:2});
                        }
                    }
                });
            },

            bindEvent: function() {
                form.on('submit(addit)', function(data) {
                    main.submitForm(data);
                    return false;
                });

                $('#cancel').on('click', function(e) {
                    e.preventDefault();
                    x_admin_close();
                })
            },

            init : function () {
                main.bindEvent();
            }
        };

        main.init();
    });
</script>
{/block}