{extend name="common/base" /}
{block name="title"}留存报表{/block}
{block name="css"}{/block}
{block name="content"}
<div class="layui-card">
    <div id="audit-div" class="layui-tab" lay-filter="remainshow">
        <ul class="layui-tab-title">
            <li class="layui-this" lay-id="reg_remain">{:lang("注册登陆")}</li>
            <li lay-id="pay_remain">{:lang("复充率")}</li>
            <li lay-id="recharge_remain">{:lang("充值登陆")}</li>
            <li lay-id="first_remain">{:lang("首充登陆")}</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item">
                <iframe id="openTab" src="" width="100%" height="900px" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script>
    layui.use(['table', 'layer', 'element', 'laydate', 'form', 'jquery'], function () {
        var $ = layui.$;
        var $ax = layui.ax;
        var admin = layui.admin;
        var element = layui.element;

        element.on('tab(remainshow)', function(data){
            var type = this.getAttribute('lay-id');
            var path = '';
            if (type === 'reg_remain'){
                path = "{:url('monitor/userregrate')}";
                $('#openTab').prop("src",path)
            } else if (type === 'pay_remain'){
                path = "{:url('monitor/paykeeprate')}";
                $('#openTab').prop("src",path);
            } else if (type === 'recharge_remain'){
                path = "{:url('monitor/PayFeeRate')}";
                $('#openTab').prop("src",path);
            } else if (type === 'first_remain'){
                path = "{:url('monitor/remainFirstCharge')}";
                $('#openTab').prop("src",path);
            }
        });

        //点击事件:选中首个tab
        $('#audit-div ul :first-child').click();

    });



</script>
{/block}