index.html{extend name="common/base" /}

{block name="title"}充值汇总{/block}
{block name="css"}{/block}
{block name="content"}

<!--
<div class="layui-row layui-col-space20">
    <div class="layui-col-md6">
        <div class="layui-card">
            <div class="layui-card-header">
                机台
                <span class="layui-badge layui-bg-blue layuiadmin-badge">机台</span>
            </div>
            <div class="layui-card-body layuiadmin-card-list">
                <p class="layuiadmin-big-font" style="color: #009686" id="jitai">0</p>
            </div>
        </div>
    </div>
    <div class="layui-col-md6">
        <div class="layui-card">
            <div class="layui-card-header">
                平均进入时间
                <span class="layui-badge layui-bg-blue layuiadmin-badge">平均进入时间</span>
            </div>
            <div class="layui-card-body layuiadmin-card-list">
                <p class="layuiadmin-big-font" style="color: #009686" id="shichang">0</p>
            </div>
        </div>
    </div>
</div>
-->
<div class="layui-card" style="margin-top: 20px">
    <div class="layui-card-header layuiadmin-card-header-auto">
        <form class="layui-form" lay-filter="component-form-group">
            <div class="layui-form-item">
                <!-- <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input type="text" id="roleid" name="roleid" autocomplete="off" placeholder="玩家ID" class="layui-input">
                    </div>
                </div>
				
				<div class="layui-inline">
                    <div class="layui-input-inline">
                        <input type="text" id="mobile" name="mobile" autocomplete="off" placeholder="玩家账号" class="layui-input">
                    </div>
                </div>
				
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input type="text" id="transactionid" name="transactionid" placeholder="第三方订单号" autocomplete="off"
                               class="layui-input">
                    </div>
                </div> 
				
				<div class="layui-inline">
                    <label class="layui-form-label">充值类型</label>
                    <div class="layui-input-inline">
                        <select name="cdytype" id="cdytype">
                            <option value="-1">全部</option>
                            <option value="0">商城</option>
                            <option value="1">储蓄罐</option>
							<option value="2">特惠充值</option>
                        </select>
                    </div>
                </div>
				
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input type="text" id="amount" name="amount" autocomplete="off" placeholder="输入金额" class="layui-input">
                    </div>
                </div>
				-->

                <div class="layui-inline">
                    <label class="layui-form-label">机台</label>
                    <div class="layui-input-inline">
                        <input type="text" id="roomid" name="roomid" autocomplete="off" placeholder="机台ID" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">日期</label>
                    <div class="layui-input-inline" style="width: 100px;">
                        <input type="text" name="start" id="LAY-component-form-group-date" autocomplete="off"
                               class="layui-input">
                    </div>
                    <div class="layui-form-mid">
                        -
                    </div>
                    <div class="layui-input-inline" style="width: 100px;">
                        <input type="text" name="end" id="LAY-component-form-group-date2" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>


                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <a class="layui-btn" id="search" data-type="reload">搜索</a>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>

            </div>
        </form>
    </div>
    <div class="layui-card-body">
        <div class="layui-row layui-col-space15">
            <div id="alllist" class="layui-col-md12">
                <table id="proxylist" lay-filter="proxylist"></table>
            </div>
        </div>
    </div>
</div>


{/block}
{block name="script"}

<script>
    layui.config({
        base: '__layui__/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块

    }).use(['index', 'table', 'layer', 'element', 'laydate', 'form', 'jquery'], function () {
        var element = layui.element
            , layer = layui.layer
            , laydate = layui.laydate
            , table = layui.table
            , $ = layui.$
            , form = layui.form;

        var main = {
            renderData: function () {
                var cols = [ //表头
                    {field: 'mydate', align: 'center', title: '日期', minWidth: 105},
                    {field: 'RoomID', align: 'center', title: '机台ID', minWidth: 80},
                    {field: 'shichang', align: 'center', title: '平均进入', minWidth: 86},
                    {field: 'LoadingGameCnt', align: 'center', title: '载入总次', minWidth: 86},
                    {field: 'LoadingSuccCnt', align: 'center', title: '载入成功', minWidth: 86},
                    {field: 'LoadingFailedCnt', align: 'center', title: '载入失败', minWidth: 86},
                    {field: 'LoadingSuccCost', align: 'center', title: '成功时长', minWidth: 86},
                    {field: 'FirstLoadingGameCnt', align: 'center', title: '首载总数', minWidth: 86},
                    {field: 'FirstLoadingSuccCnt', align: 'center', title: '首载成功', minWidth: 86},
                    {field: 'FirstLoadingFailedCnt', align: 'center', title: '首载失败', minWidth: 86},
                    {field: 'FirstLoadingSuccCost', align: 'center', title: '首载成功时长', minWidth: 128},
                    {field: 'fei-ci', align: 'center', title: '非首次加载总数', minWidth: 130},
                    {field: 'fei-ci-succ', align: 'center', title: '非首次加载成功', minWidth: 130},
                    {field: 'fei-ci-failed', align: 'center', title: '非首次加载失败', minWidth: 140},
                    {field: 'fei-time', align: 'center', title: '非首次加载总耗时', minWidth: 150},
                ];

                table.render({
                    elem: '#proxylist'
                    , url: "{:url('Monitor/roomactionstatistic')}" //数据接口
                    , page: true //开启分页
                    , cols: [cols]
                    , where: {'status': -1}
                    , limit: 10
                    , done: function (res) {$(".layui-table-main tr").each(function (index, val) {
                            $($(".layui-table-fixed-l .layui-table-body tbody tr")[index]).height($(val).height());
                            $($(".layui-table-fixed-r .layui-table-body tbody tr")[index]).height($(val).height());
                        });
                        $('#jitai').html(res.other.jitai);
                        $('#shichang').html(res.other.shichang);
                    }
                });
            },

            //搜索
            search: function () {
                var start = $.trim($('#LAY-component-form-group-date').val());
                var end = $.trim($('#LAY-component-form-group-date2').val());
                var roomid = $.trim($('#roomid').val());

                //执行重载
                table.reload('proxylist', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    },
                    where: {
                        'strartdate': start,
                        'enddate': end,
                        'roomid': roomid
                    }
                });
            },

            init: function () {
                main.renderData();
                laydate.render({
                    elem: '#LAY-component-form-group-date'
                    , format: 'yyyy-MM-dd'
                    , max: 1
                    , btns: ['clear', 'confirm']
                    , value: new Date()
                });
                laydate.render({
                    elem: '#LAY-component-form-group-date2'
                    , format: 'yyyy-MM-dd'
                    , max: 1
                    , btns: ['clear', 'confirm']
                    , value: new Date()
                });
                $('#search').on('click', function (e) {
                    e.preventDefault();
                    main.search();
                });
            }
        };

        main.init();
    });
</script>
{/block}