{extend name="common/base" /}

{block name="title"}GM充值{/block}
{block name="css"}
{/block}
{block name="content"}

<form class="layui-form" action="{:url('player/addTransfer')}" method="post" id="addProxy">

    <div class="layui-form-item">
        <label class="layui-form-label">玩家ID：</label>
        <div class="layui-input-block">
            <input autocomplete="off" class="layui-input" id="roleid" lay-verify="number" name='roleid' placeholder="请输入玩家ID" type="text">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">转账金额：</label>
        <div class="layui-input-block">
            <input autocomplete="off" class="layui-input" id="totalmoney" lay-verify="number" name="totalmoney" placeholder="请输入转账金额" type="text">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">备注：</label>
        <div class="layui-input-block">
            <textarea class="layui-textarea" id="descript" name="descript"></textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <a style="margin-left: 15%" type="submit" class="layui-btn layui-btn-radius" lay-submit="" lay-filter="addit" id="addit">新增</a>
            <a class="layui-btn layui-btn-primary layui-btn-radius" lay-submit="" lay-filter="cancel" id="cancel">取消</a>
        </div>
    </div>
</form>

{/block}
{block name="script"}

<script>
	layui.config({
		base: '__layui__/' //静态资源所在路径
	}).extend({
		index: 'lib/index' //主入口模块

	}).use(['index', 'table', 'layer', 'element', 'laydate', 'form', 'jquery'], function () {
		var element = layui.element, layer = layui.layer, laydate = layui.laydate, table = layui.table, $ = layui.$, form = layui.form;

		var main = {
			submitForm: function (data) {
				var roleid = $.trim(data.field.roleid),
					classid = $.trim(data.field.classid),
					totalmoney = $.trim(data.field.totalmoney),
					descript = $.trim(data.field.descript);

				if (roleid == '' || totalmoney == '') {
					layer.msg('参数有误', {icon: 2});
					return false;
				}
				// if (totalmoney < 0) {
				//     layer.msg('转账金额必须为正数', {icon: 2});
				//     return false;
				// }
				$.ajax({
					type: 'post',
					url: data.form.action,
					data: {
						'roleid': roleid.trim(),
						// 'classid' : classid,
						'totalmoney': totalmoney,
						'descript': descript
					},
					dataType: 'json',
					success: function (res) {
						if (res.code === 0) {
							layer.msg(res.message, {icon: 1, time: 1500}, function () {
								x_admin_close();
								// parent.location.reload();
							});
						} else {
							layer.msg(res.message, {icon: 2});
						}
					}
				});
			},

			bindEvent: function () {
				form.on('submit(addit)', function (data) {
					main.submitForm(data);
					return false;
				});

				$('#cancel').on('click', function (e) {
					e.preventDefault();
					x_admin_close();
				})
			},

			init: function () {
				main.bindEvent();
			}
		};

		main.init();
	});
</script>
{/block}