{extend name="common/base" /}

{block name="title"}编辑超级玩家{/block}
{block name="css"}
{/block}
{block name="content"}

<form class="layui-form" action="{:url('player/editSuper')}" method="post" id="addProxy" >

    <div class="layui-form-item">
        <label class="layui-form-label">超级玩家ID：</label>
        <div class="layui-input-block">
            <input type="text" id="roleid" name='roleid' value="{$roleid}" readonly lay-verify="required|number" placeholder="请输入超级玩家ID" autocomplete="off" class="layui-input layui-disabled">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">赠送比例(万分比)：</label>
        <div class="layui-input-block">
            <input type="text" id="rate" name="rate" value="{$rate}" lay-verify="required|number" placeholder="请输入赠送比例" autocomplete="off" class="layui-input">
        </div>
    </div>


    <div class="layui-form-item">
        <div class="layui-input-block">
            <a style="margin-left: 15%" type="submit" class="layui-btn layui-btn-radius" lay-submit="" lay-filter="addit" id="addit" >修改</a>
            <a  class="layui-btn layui-btn-primary layui-btn-radius" id="cancel" >取消</a>
        </div>
    </div>
</form>

{/block}
{block name="script"}

<script>
    layui.config({
        base: '__layui__/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块

    }).use(['index', 'table', 'layer', 'element', 'laydate', 'form', 'jquery'], function() {
        var layer = layui.layer
            ,$ = layui.$
            ,form = layui.form;

        var main = {
            submitForm : function(data) {
                var roleid = $.trim(data.field.roleid)
                    ,rate = $.trim(data.field.rate);
                $.ajax({
                    type:'post',
                    url:data.form.action,
                    data:{
                        'roleid' : roleid,
                        'rate' : rate
                    },
                    dataType:'json',
                    success: function(res) {
                        if (res.code === 0) {
                            layer.msg(res.msg,{icon:1,time:1000}, function () {
                                x_admin_close();
                                parent.location.reload();
                            });
                        } else {
                            layer.msg(res.msg, {icon:2});
                        }
                    }
                });
            },


            bindEvent: function() {
                form.on('submit(addit)', function(data) {
                    main.submitForm(data);
                    return false;
                });

                $('#cancel').on('click', function(e) {
                    e.preventDefault();
                    x_admin_close();
                })
            },

            init : function () {
                main.bindEvent();
            }
        };

        main.init();
    });
</script>
{/block}