index.html{extend name="common/base" /}

{block name="title"}分包数据统计{/block}
{block name="css"}{/block}
{block name="content"}
<div class="layui-card" style="margin-top: 20px">
    <div class="layui-card-header layuiadmin-card-header-auto">
        <form class="layui-form" lay-filter="component-form-group">
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <select id="PackID" name="PackID">
                        <option value="{$PackIDS}">可用分包</option>
                        {foreach $PackID as $k1 => $v1}
                        <option value="{$v1['OperatorId']}">{$v1['PackageName']}</option>
                        {/foreach}
                    </select>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">日期</label>
                    <div class="layui-input-inline">
                        <input autocomplete="off" class="layui-input" id="LAY-component-form-group-date" name="start"
                               type="text">
                    </div>
                    <div class="layui-form-mid">
                        -
                    </div>
                    <div class="layui-input-inline">
                        <input autocomplete="off" class="layui-input" id="LAY-component-form-group-date2" name="end"
                               type="text">
                    </div>
                </div>

                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <a class="layui-btn" data-type="reload" id="search">搜索</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="layui-row layui-col-space20">
    <div class="layui-col-md3">
        <div class="layui-card">
            <div class="layui-card-header"><span class="layui-badge layui-bg-blue ">当日新增</span></div>
            <div class="layui-card-body layuiadmin-card-list"><p class="layuiadmin-big-font" id="NReg" style="color: #009688">0</p></div>
        </div>
    </div>
    <div class="layui-col-md3">
        <div class="layui-card">
            <div class="layui-card-header"><span class="layui-badge layui-bg-blue ">新注册IP</span></div>
            <div class="layui-card-body layuiadmin-card-list"><p class="layuiadmin-big-font" id="NIP" style="color: #009688">0</p></div>
        </div>
    </div>
    <div class="layui-col-md3">
        <div class="layui-card">
            <div class="layui-card-header"><span class="layui-badge layui-bg-blue ">绑定</span></div>
            <div class="layui-card-body layuiadmin-card-list"><p class="layuiadmin-big-font" id="Bind" style="color: #009688">0</p></div>
        </div>
    </div>
    <div class="layui-col-md3">
        <div class="layui-card">
            <div class="layui-card-header"><span class="layui-badge layui-bg-blue ">注绑比率</span></div>
            <div class="layui-card-body layuiadmin-card-list"><p class="layuiadmin-big-font" id="RegBindRate" style="color: #009688">0%</p></div>
        </div>
    </div>
</div>

<div class="layui-row layui-col-space20">
    <div class="layui-col-md3">
        <div class="layui-card">
            <div class="layui-card-header"><span class="layui-badge layui-bg-blue ">总充值/人数</span></div>
            <div class="layui-card-body layuiadmin-card-list"><p class="layuiadmin-big-font" id="Pay" style="color: #009688"> / </p></div>
        </div>
    </div>
    <div class="layui-col-md3">
        <div class="layui-card">
            <div class="layui-card-header"><span class="layui-badge layui-bg-blue ">新人充值/人数</span></div>
            <div class="layui-card-body layuiadmin-card-list"><p class="layuiadmin-big-font" id="NPay" style="color: #009688"> / </p></div>
        </div>
    </div>
    <div class="layui-col-md3">
        <div class="layui-card">
            <div class="layui-card-header"><span class="layui-badge layui-bg-blue ">IOS充值/充值人数</span></div>
            <div class="layui-card-body layuiadmin-card-list"><p class="layuiadmin-big-font" id="IOS" style="color: #009688"> / </p></div>
        </div>
    </div>
    <div class="layui-col-md3">
        <div class="layui-card">
            <div class="layui-card-header"><span class="layui-badge layui-bg-blue ">Andorid充值/充值人数</span></div>
            <div class="layui-card-body layuiadmin-card-list"><p class="layuiadmin-big-font" id="Android" style="color: #009688"> / </p></div>
        </div>
    </div>

</div>

<div class="layui-row layui-col-space20">
    <div class="layui-col-md3">
        <div class="layui-card">
            <div class="layui-card-header"><span class="layui-badge layui-bg-blue ">转出/人数</span></div>
            <div class="layui-card-body layuiadmin-card-list"><p class="layuiadmin-big-font" id="Score" style="color: #009688">0 / 0</p></div>
        </div>
    </div>
    <div class="layui-col-md3">
        <div class="layui-card">
            <div class="layui-card-header"><span class="layui-badge layui-bg-blue ">订单金额</span></div>
            <div class="layui-card-body layuiadmin-card-list"><p class="layuiadmin-big-font" id="Orders" style="color: #009688">0</p></div>
        </div>
    </div>
    <div class="layui-col-md3">
        <div class="layui-card">
            <div class="layui-card-header"><span class="layui-badge layui-bg-blue ">转出人次</span></div>
            <div class="layui-card-body layuiadmin-card-list"><p class="layuiadmin-big-font" id="Rate" style="color: #009688">0%</p></div>
        </div>
    </div>
    <div class="layui-col-md3">
        <div class="layui-card">
            <div class="layui-card-header"><span class="layui-badge layui-bg-blue ">总输赢</span></div>
            <div class="layui-card-body layuiadmin-card-list"><p class="layuiadmin-big-font" id="WinLose" style="color: #009688">0</p></div>
        </div>
    </div>

</div>
<div class="layui-row layui-col-space20">
    <div class="layui-col-md3">
        <div class="layui-card">
            <div class="layui-card-header"><span class="layui-badge layui-bg-blue ">税收</span></div>
            <div class="layui-card-body layuiadmin-card-list"><p class="layuiadmin-big-font" id="TotalTax" style="color: #009688">0 / 0</p></div>
        </div>
    </div>
    <div class="layui-col-md3">
        <div class="layui-card">
            <div class="layui-card-header"><span class="layui-badge layui-bg-blue ">流水</span></div>
            <div class="layui-card-body layuiadmin-card-list"><p class="layuiadmin-big-font" id="TotalWarte" style="color: #009688">0</p></div>
        </div>
    </div>


</div>


{/block}
{block name="script"}
<script>
	layui.config({
		base: '__layui__/' //静态资源所在路径
	}).extend({
		index: 'lib/index' //主入口模块

	}).use(['index', 'table', 'layer', 'element', 'laydate', 'form', 'jquery'], function () {
		var element = layui.element, layer = layui.layer, laydate = layui.laydate, table = layui.table, $ = layui.$, form = layui.form;
		var main = {			//搜索
			search: function () {
				var start = $.trim($('#LAY-component-form-group-date').val());
				var end = $.trim($('#LAY-component-form-group-date2').val());
				$.ajax({
					url: "{:url('UserPackageManage/TotalPackage')}",
					type: 'post',
					data: {start: start, end: end, packID: $("#PackID").val()},
					success: function (data) {
						// console.info(data);
						$("#NReg").html(data.NReg);
						$("#NIP").html(data.NIP);
						$("#Bind").html(data.Bind);
						$("#WinLose").html(data.WinLose * 1.00);
						$("#RegBindRate").html(data.RegBindRate * 1.00 + "%");
						$("#Pay").html(data.Pay + "/" + data.PayCount);
						$("#NPay").html(data.NPay + "/" + data.NCount);
						$("#IOS").html(data.IOS + "/" + data.IOSCount);
						$("#Android").html(data.Android + "/" + data.AndroidCount);
						$("#Score").html(data.Score);
						$("#Orders").html(data.Orders);
						$("#Rate").html(data.Rate * 1.0 + "%");
						$("#TotalTax").html(data.other.Tax * 1.00);
						$("#TotalWarte").html(data.other.Water * 1.00);

					}
				});


			},
			//操作事件
			extraEvent: function () {
			},
			init: function () {
				main.search();
				laydate.render({
					elem: '#LAY-component-form-group-date'
					, format: 'yyyy-MM-dd'
					, max: 1
					, lang:'{$datelang ?: "cn"}'
					, btns: ['clear', 'confirm']
					, value: new Date()
				});
				laydate.render({
					elem: '#LAY-component-form-group-date2'
					, format: 'yyyy-MM-dd'
					, max: 1
					, lang:'{$datelang ?: "cn"}'
					, btns: ['clear', 'confirm']
					, value: new Date()
				});
				$('#search').on('click', function (e) {
					e.preventDefault();
					main.search();
				});
			}
		};

		main.init();
	});
</script>
{/block}