{extend name="common/base" /}

{block name="title"}新增超级玩家{/block}
{block name="css"}
{/block}
{block name="content"}

<form class="layui-form" action="{:url('gameCfg/addDirectory')}" method="post" id="addProxy" >

    <div class="layui-form-item">
        <label class="layui-form-label">字典配置名(字母)：</label>
        <div class="layui-input-block">
            <input type="text" id="name" name='name' lay-verify="required" placeholder="请输入字典配置名" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">字典分类：</label>
        <div class="layui-input-block">
            <input type="text" id="title" name='title' lay-verify="required" placeholder="请输入字典分类名" autocomplete="off" class="layui-input">
        </div>
    </div>


    <div class="layui-form-item">
        <div class="layui-input-block">
            <a style="margin-left: 15%" type="submit" class="layui-btn layui-btn-radius" lay-submit="" lay-filter="addit" id="addit" >新增</a>
            <a class="layui-btn layui-btn-primary layui-btn-radius" id="cancel" >取消</a>
        </div>
    </div>
</form>

{/block}
{block name="script"}

<script>
    layui.config({
        base: '__layui__/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块

    }).use(['index', 'table', 'layer', 'element', 'laydate', 'form', 'jquery'], function() {
        var layer = layui.layer
            ,$ = layui.$
            ,form = layui.form;

        var main = {
            submitForm : function(data) {
                var name = $.trim(data.field.name)
                    ,title = $.trim(data.field.title);
                $.ajax({
                    type:'post',
                    url:data.form.action,
                    data:{
                        'name' : name,
                        'title' : title
                    },
                    dataType:'json',
                    success: function(res) {
                        if (res.code === 0) {
                            layer.msg(res.msg,{icon:1,time:1000}, function () {
                                x_admin_close();
                                parent.location.reload();
                            });
                        } else {
                            layer.msg(res.msg, {icon:2});
                        }
                    }
                });
            },

            bindEvent: function() {
                form.on('submit(addit)', function(data) {
                    main.submitForm(data);
                    return false;
                });

                $('#cancel').on('click', function(e) {
                    e.preventDefault();
                    x_admin_close();
                })
            },

            init : function () {
                main.bindEvent();
            }
        };

        main.init();
    });
</script>
{/block}