{extend name="common/base" /}

{block name="title"}转账{/block}
{block name="css"}
{/block}
{block name="content"}

<form class="layui-form" action="{:url('CustomerServiceSystem/addBatchMail')}" method="post" id="addProxy" >
    <input type="hidden" name="filepath" id="filepath" value="" />
    <div class="layui-form-item">
        <label class="layui-form-label">{:lang('标题')}：</label>
        <div class="layui-input-block">
            <input type="text" id="title" name='title' value="" lay-verify="required" placeholder="{:lang('请输入标题名称')}" autocomplete="off" class="layui-input">
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">{:lang('备注')}：</label>
        <div class="layui-input-block">
            <textarea name="descript" id="descript"  placeholder="请输入备注"  lay-verify="content" class="layui-textarea"></textarea>
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">{:lang('打码倍数')}：</label>
        <div class="layui-input-block">
            <input  type="number" name="multiple" id="multiple"  placeholder="请输入打码倍数" value="1"   class="layui-input" />
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">{:lang('附件')}：</label>

        <div class="layui-input-block" id="cutpic">
            <button type="button" class="layui-btn layui-btn-primary" id="test-upload-type4"><i class="layui-icon"></i>{:lang('上传Excel文件')}
            </button>
            {:lang('文件大小不能超过1M')}
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-inline" id="iconpic">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <a style="margin-left: 15%" type="submit" class="layui-btn layui-btn-radius" lay-submit="" lay-filter="addit" id="addit" >{:lang('保存')}</a>
            <a  class="layui-btn layui-btn-primary layui-btn-radius" lay-submit="" lay-filter="cancel" id="cancel" >{:lang('取消')}</a>
        </div>
    </div>
</form>

{/block}
{block name="script"}

<script>
    layui.config({
        base: '__layui__/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块

    }).use(['index', 'table', 'layer', 'element', 'laydate', 'form', 'jquery','upload'], function() {
        var element = layui.element
            ,layer = layui.layer
            ,laydate = layui.laydate
            ,table = layui.table
            ,upload = layui.upload
            ,$ = layui.$
            ,form = layui.form;


        upload.render({
            elem: '#test-upload-type4'
            , url: '{:url("CustomerServiceSystem/uploadexcel")}'
            , accept: 'file' //普通文件
            , exts: 'xls|xlsx'
            ,data : {'id':$('#id').val()}
            , before: function (obj) { //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
            }
            , done: function (res) {$(".layui-table-main tr").each(function (index, val) {
                            $($(".layui-table-fixed-l .layui-table-body tbody tr")[index]).height($(val).height());
                            $($(".layui-table-fixed-r .layui-table-body tbody tr")[index]).height($(val).height());
                        });
                //layer.close(loading);
                if (res.code == 0) {
                    $('#filepath').val(res.data.path);
                    $('#iconpic').html(res.data.path);
                    $('#iconpic').css('display','block');
                    layer.msg(res.msg, {icon: 1});
                } else {
                    layer.msg(res.msg, {icon: 2});
                }
            }
        });


        var main = {
            submitForm : function(data) {
                var title = $.trim(data.field.title);
                var descript = $.trim(data.field.descript);
                var filepath = $.trim(data.field.filepath);
                var multiple = $.trim(data.field.multiple);
                if(title==''){
                    layer.alert('{:lang("请输入标题名称")}！',{icon:5});
                    return;
                }
                if(filepath==''){
                    layer.alert('{:lang("请上传附件")}！',{icon:5});
                    return;
                }

                $.ajax({
                    type:'post',
                    url:data.form.action,
                    data:{
                        'title' : title,
                        'descript' : descript,
                        'multiple' :multiple,
                        'filepath':filepath
                    },
                    dataType:'json',
                    success: function(res) {
                        var index = parent.layer.getFrameIndex(window.name); /* 先得到当前iframe层的索引 */
                        if (res.code === 0) {
                            layer.msg(res.msg,{icon:1,time:1000}, function () {
                                x_admin_close();
                                parent.layui.table.reload('proxylist',{page:{curr:$(".layui-laypage-em").next().html()}});   //主要代码
                                parent.layer.close(index);
                            });
                        } else {
                            layer.msg(res.msg, {icon:2});
                        }
                    }
                });
            },

            bindEvent: function() {
                form.on('submit(addit)', function(data) {
                    main.submitForm(data);
                    return false;
                });

                $('#cancel').on('click', function(e) {
                    e.preventDefault();
                    x_admin_close();
                })
            },

            init : function () {
                main.bindEvent();
            }
        };

        main.init();
    });
</script>
{/block}