{extend name="common/base" /}
{block name="title"}{/block}
{block name="css"}
{/block}
{block name="content"}

<form action="{:url('CustomerServiceSystem/CustomerServiceConfig')}?action={$action}" class="layui-form" id="addmailbox" method="post">
    <div class="layui-form-item" hidden>
        <label class="layui-form-label">ID</label>
        <div class="layui-input-block">
            <input VALUE="{$info.Id}" autocomplete="off" class="layui-input layui-disabled" disabled id="ID" type="text">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"> {:lang("客服名称")}</label>
        <div class="layui-input-block">
            <input VALUE="{$info.CustomName}" autocomplete="off" class="layui-input" id="CustomName" type="text">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"> {:lang("标题")}</label>
        <div class="layui-input-block">
            <input VALUE="{$info.CustomTitle}" autocomplete="off" class="layui-input" id="CustomTitle" type="text">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">  {:lang("客服链接")}</label>
        <div class="layui-input-block">
            <input VALUE="{$info.Phone}" autocomplete="off" class="layui-input" id="Phone" type="text">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"> FaceID</label>
        <div class="layui-input-block">
            <input VALUE="{$info.FaceId}" autocomplete="off" placeholder="0-9" class="layui-input" id="FaceID" type="text">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">  {:lang("客服类型")}</label>
        <div class="layui-input-block">
            <select name="VipLabel" id="VipLabel">
                <option value="0" {if $info.VipLabel==0}selected="selected"{/if}>{:lang("运营客服")}</option>
                <option value="1" {if $info.VipLabel==1}selected="selected"{/if}>{:lang("VIP客服")}</option>
                <option value="2" {if $info.VipLabel==2}selected="selected"{/if}>{:lang("登录页客服")}</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <a class="layui-btn layui-btn-radius" id="addit" lay-filter="addit" lay-submit="" style="margin-left: 15%" type="submit"> {:lang("保存")}</a>
            <a class="layui-btn layui-btn-primary layui-btn-radius" id="cancel" lay-filter="cancel" lay-submit=""> {:lang("取消")}</a>
        </div>
    </div>
</form>

{/block}
{block name="script"}

<script>
	layui.config({
		base: '__layui__/' //静态资源所在路径
	}).extend({
		index: 'lib/index' //主入口模块

	}).use(['index', 'table', 'layer', 'element', 'layedit', 'laydate', 'form', 'jquery'], function () {
		var element = layui.element, layer = layui.layer, laydate = layui.laydate, layedit = layui.layedit, table = layui.table, $ = layui.$, form = layui.form;
		var main = {
			submitForm: function (data) {
				$.ajax({
					type: 'post',
//                    type:'get',
					url: data.form.action,
					data: {
						'ID': $.trim($("#ID").val()),
						'CustomName': $.trim($("#CustomName").val()),
                        'CustomTitle': $.trim($("#CustomTitle").val()),
                        'VipLabel' : $.trim($("#VipLabel").val()),
						'Phone': $.trim($("#Phone").val()),
						'FaceID': $.trim($("#FaceID").val()),
						'CountryCode': $.trim($("#CountryCode").val()),
					},
					dataType: 'json',
					success: function (res) {
						if (res.code == 1) {
							layer.msg(res.msg, {icon: 1, time: 2000}, function () {
								x_admin_close();
								parent.location.reload();
							});
						} else {
							layer.msg(res.msg, {icon: 2});
						}
					}
				});
			},

			bindEvent: function () {
				form.on('submit(addit)', function (data) {
					main.submitForm(data);
					return false;
				});

				$('#cancel').on('click', function (e) {
					e.preventDefault();
					x_admin_close();
				})
			},

			init: function () {
				laydate.render({
					elem: '#sendtime'
					, type: 'datetime'
					, format: 'yyyy-MM-dd HH:mm:ss'
					, btns: ['clear', 'confirm']
				});
				main.bindEvent();
			}
		};

		$(document).on('click', '#searchrole', function () {
			x_admin_show('', '#', 600, 600);
		});
		main.init();
	});
</script>
{/block}