{extend name="common/base" /}

{block name="title"}{/block}
{block name="css"}{/block}
{block name="content"}


<div class="layui-row layui-col-space20">
    <div class="layui-card">
        <div class="layui-card-body">
            {:lang("总订单")}：<span class="layui-badge layui-bg-blue" id="TotalCount">0</span>
            {:lang("总金额")}：<span class="layui-badge layui-bg-red" id="TotalMoney">0</span>
        </div>
    </div>
</div>

<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form" lay-filter="component-form-group">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <input autocomplete="off" class="layui-input" id="RoleId" lay-verify="number" name="RoleId"
                        style="width:120px;"   placeholder="{:lang('邮件接收人的ID')}" type="text">
                </div>
                <div class="layui-inline">
                    <input autocomplete="off" style="width: 90px" class="layui-input " id="Amount" lay-verify="number"
                           name="Amount" placeholder="{:lang('金额')}" type="text">

                </div>
                <div class="layui-inline">
                    <input autocomplete="off" style="width: 100px" class="layui-input " id="Title" name="Title"
                           placeholder="{:lang('标题')}" type="text">
                </div>
                <div class="layui-inline">
                    <input autocomplete="off" style="width: 100px" class="layui-input " id="Notice" name="Notice"
                           placeholder="{:lang('备注')}" type="text">
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" style="width: auto">{:lang("日期")}</label>
                    <div class="layui-input-inline" style="width: 100px">
                        <input type="text" name="start" id="LAY-component-form-group-date" autocomplete="off"
                               class="layui-input">
                    </div>
                    <div class="layui-form-mid"> -</div>
                    <div class="layui-input-inline" style="width: 100px">
                        <input autocomplete="off" class="layui-input" id="LAY-component-form-group-date2" name="end"
                               type="text">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" style="width: auto">{:lang("邮件状态")}</label>
                    <div class="layui-input-inline" style="width: 90px">
                        <select id="VerifyState" name="VerifyState">
                            <option value="-1">{:lang("全部")}</option>
                            <option value="0">{:lang("待审核")}</option>
                            <option value="1">{:lang("已审核")}</option>
                            <option value="2">{:lang("作废")}</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" style="width: auto">{:lang("附件类型")}</label>
                    <div class="layui-input-inline" style="width: 100px">
                        <select id="ExtraType" name="ExtraType">
                            <option value="-1">{:lang("全部")}</option>
                            {volist name='extratype' id='vo' }
                            <option value="{$key}">{$key}-{:lang($vo)}</option>
                            {/volist}
                        </select>
                    </div>
                </div>


                <div class="layui-inline">
                    <label class="layui-form-label" style="width: auto">{:lang("邮件类型")}</label>
                    <div class="layui-input-inline" style="width: 100px">
                        <select id="payorder" name="payorder">
                            <option value="-1">{:lang("全部")}</option>
                            {volist name='mailtype' id='vo' }
                                <option value="{$key}">{:lang($vo)}</option>
                            {/volist}
                        </select>
                    </div>
                </div>

                <div class="layui-inline">
                    <!-- <div class="layui-input-inline"> -->
                        <a class="layui-btn" data-type="reload" id="search">{:lang("搜索")}</a>
                        <a class="layui-btn" id="output">{:lang("导出记录")}</a>
                    <!-- </div> -->
                </div>
            </div>
            <div class="layui-inline">
                <a class="layui-btn" onclick="add()" style="margin-bottom: 10px;">
                    <i class="layui-icon layui-icon-add-circle"></i>
                </a>
            </div>
        </form>
        <div id="alllist">
            <table id="proxylist" lay-filter="proxylist"></table>
        </div>
    </div>
</div>


{/block}
{block name="script"}
<script id="msg-bar" type="text/html">
    {{# if(d.VerifyState==0){ }}
    <a class="layui-btn layui-btn-xs" lay-event="sendMail">{:lang("审核")}</a>
    {{#  } }}
    {{# if(d.VerifyState!=2){ }}
    <a class="layui-btn layui-btn-xs" lay-event="del">{:lang("作废")}</a>
    {{#  } }}

</script>
<script>
    var main;
    layui.config({
        base: '__layui__/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块

    }).use(['index', 'table', 'layer', 'element', 'laydate', 'form', 'jquery'], function () {
        var element = layui.element, layer = layui.layer, laydate = layui.laydate, table = layui.table, $ = layui.$,
            form = layui.form;
        url = "{:url('CustomerServiceSystem/EmailManager')}"
        main = {
            renderData: function () {
                var cols = [ //表头
                    {field: 'id', align: 'center', title: 'ID', minWidth: 100},
                    {field: 'RoleId', align: 'center', title: '{:lang("接收人")}', minWidth: 110},
                    {field: 'Amount', align: 'center', title: '{:lang("附件数量")}', minWidth: 100},
                    {field: 'addtime', align: 'center', title: '{:lang("发送时间")}', minWidth: 170},
                    {
                        field: 'opertext', align: 'center', title: '{:lang("状态")}', minWidth: 100, templet: function (d) {
                            status = Number(d.VerifyState);
                            if (status == 0) return "<span style='color:red'>" + d.opertext + "</span>";
                            if (status == 1) return "<span style='color:green'>" + d.opertext + "</span>";
                            if (status == 2) return "<span style='color:darkred'>" + d.opertext + "</span>";
                        }
                    },
                    {
                        field: 'PayOrder', align: 'center', title: '{:lang("充值订单")}', minWidth: 80, templet: function (d) {
                            if (d.PayOrder==1) {
                                return "<b style='color: green;'>{:lang('是')}</b>";
                            }
                            else
                                return '{:lang("否")}';
                        }
                    },
                    {field: 'Notice', align: 'center', title: '{:lang("备注")}', minWidth: 120},

                    {field: 'Title', align: 'center', title: '{:lang("标题")}', minWidth: 120},
                    {field: 'RecordType', align: 'center', title: '{:lang("邮件类型")}', minWidth: 150},
                    {field: 'ExtraType', align: 'center', title: '{:lang("附件类型")}', minWidth: 150},
                    {field: 'SysText', title: '{:lang("邮件文本")}', align: 'center', minWidth: 100},
                    {field: 'Operator', title: '{:lang("操作人")}', align: 'center', minWidth: 100}
                    // ,{fixed: 'right', title: '操作', align: 'center', minWidth: 100, toolbar: '#msg-bar'}

                ];

                // console.info($('#LAY-component-form-group-date').val());
                table.render({
                    elem: '#proxylist',
                    url: url,
                    where: {
                        Action: 'list',
                        start: $.trim($("#LAY-component-form-group-date").val()),
                        end: $.trim($("#LAY-component-form-group-date2").val()),
                    },
                    page: true, cols: [cols],
                    done: function (d) {
                        tzTbale()
                        $('#TotalCount').html(d.other.TotalCount);
                        $('#TotalMoney').html(d.other.TotalMoney);
                    }
                });
            },

            //搜索
            search: function () {

                //执行重载
                table.reload('proxylist', {
                    page: {curr: 1}, where: {
                        RoleId: $.trim($("#RoleId").val()),
                        Amount: $.trim($("#Amount").val()),
                        Title: $.trim($("#Title").val()),
                        Notice: $.trim($("#Notice").val()),
                        start: $.trim($("#LAY-component-form-group-date").val()),
                        end: $.trim($("#LAY-component-form-group-date2").val()),
                        VerifyState: $.trim($("#VerifyState").val()),
                        ExtraType: $.trim($("#ExtraType").val()),
                        PayOrder:$.trim($("#payorder").val()),
                    },
                    done: function (d) {
                        $('#TotalCount').html(d.other.TotalCount);
                        $('#TotalMoney').html(d.other.TotalMoney);
                    }
                });
            },


            //操作事件
            extraEvent: function () {
                //编辑&&删除
                table.on('tool(proxylist)', function (obj) {
                    var data = obj.data //获得当前行数据
                        , layEvent = obj.event; //获得 lay-event 对应的值
                    if (layEvent === 'getback') {
                        layer.confirm("{:lang('确认要撤回这条记录吗？')}", {btn: ['{:lang("确认")}', '{:lang("取消")}']}, function () {
                            $.ajax({
                                type: 'post',
                                url: url,
                                data: {Action: 'back', ids: data.IDS},
                                dataType: 'json',
                                success: function (res) {
                                    if (res.code === 0) {
                                        layer.msg(res.msg, {icon: 6, time: 1000}, function () {
                                            window.location.reload();
                                        });
                                    } else {
                                        layer.msg(res.msg, {icon: 5});
                                    }
                                }
                            });
                        });

                    }
                    if (layEvent === 'sendMail') {
                        layer.confirm("{:lang('确认要发送这条记录吗？')}", {btn: ['{:lang("确认")}', '{:lang("取消")}']}, function () {
                            $.ajax({
                                type: 'post',
                                url: url,
                                data: {Action: 'send', ID: data.id},
                                dataType: 'json',
                                success: function (res) {
                                    if (res.code === 1) {
                                        layer.msg(res.msg, {icon: 6, time: 1000}, function () {
                                            window.location.reload();
                                        });
                                    } else {
                                        layer.msg(res.msg, {icon: 5});
                                    }
                                }
                            });
                        });

                    }
                    if (layEvent === 'del') {
                        layer.confirm("{:lang('确认要作废这条记录吗？')}", {btn: ['{:lang("确认")}', '{:lang("取消")}']}, function () {
                            $.ajax({
                                type: 'post',
                                url: url,
                                data: {Action: 'del', ID: data.id},
                                dataType: 'json',
                                success: function (res) {
                                    if (res.code === 1) {
                                        layer.msg(res.msg, {icon: 6, time: 1000}, function () {
                                            window.location.reload();
                                        });
                                    } else {
                                        layer.msg(res.msg, {icon: 5});
                                    }
                                }
                            });
                        });

                    }
                });
                table.on('edit(proxylist)', function (obj) {
                    $.ajax({
                        url: url,
                        data: {Action: 'note', Notice: obj.value, ID: obj.data.id},
                        success: function (res) {
                            if (res.code === 1) {
                                return layer.msg(res.msg, {icon: 1, time: 1000}, function () {
                                    obj.update({Notice: obj.value});
                                });
                            }
                            return layer.msg(res.msg, {icon: 2});
                        }
                    });
                });
            },
            init: function () {
                laydate.render({
                    elem: '#LAY-component-form-group-date'
                    , format: 'yyyy-MM-dd'
                    , max: 1
                    , lang:'{$datelang ?: "cn"}'
                    , btns: ['clear', 'confirm']
                    , value: new Date()
                });
                laydate.render({
                    elem: '#LAY-component-form-group-date2'
                    , format: 'yyyy-MM-dd'
                    , max: 1
                    , lang:'{$datelang ?: "cn"}'
                    , btns: ['clear', 'confirm']
                    , value: new Date()
                });
                main.renderData();
                main.extraEvent();
                $('#search').on('click', function (e) {
                    e.preventDefault();
                    main.search();
                });
            }
        };
        main.init();
    });

    function add() {
        x_admin_show('{:lang("添加邮件发送")}', url + '?Action=add', 700, 750);
        // openBarWinParent('{:lang("添加邮件发送")}', 700, 750, url + '?Action=add', function () {
        //     main.search();
        // }, ['{:lang("保存")}', '{:lang("取消")}']);
    }

    $('#output').click(function () {
        where = {
            RoleId: $.trim($("#RoleId").val()),
            Amount: $.trim($("#Amount").val()),
            Title: $.trim($("#Title").val()),
            Notice: $.trim($("#Notice").val()),
            start: $.trim($("#LAY-component-form-group-date").val()),
            end: $.trim($("#LAY-component-form-group-date2").val()),
            VerifyState: $.trim($("#VerifyState").val()),
            ExtraType: $.trim($("#ExtraType").val()),
            limit: 10000000,
            Action: 'exec',
        }

        download();

        function download() {
            var params = Object.keys(where).map(function (key) {
                return encodeURIComponent(key) + "=" + encodeURIComponent(where[key]);
            }).join("&");
            url = url + "?" + params;
            $.ajax({
                type: 'POST',
                dataType: 'json',
                async: true,
                url: url, // 生成文件，保存在服务器
                success: function (data) {
                    var result = data;
                    console.info(data);
                    switch (result["code"]) {
                        case 0:
                            parent.parent.open(url + "&exec=1&outall=true");
                            break;
                        case 1:
                            layer.msg(result["message"]);
                            break;
                        case 2:
                            layer.confirm(result['message'], {
                                btn: ['{:lang("是")}', '{:lang("否")}'] //按钮
                            }, function () {
                                parent.parent.open(url + "&exec=1&outall=true");
                                layer.msg('', {icon: 6, time: 1000}, function () {
                                    window.location.reload();
                                });
                            });
                    }
                },
                error: function (XMLHttpRequest, textStatus, e) {
                    console.log("oilDetection.js  method exportOilDetection" + e);
                }
            });
        }
    });
</script>
{/block}