{extend name="common/base" /}
{block name="title"}{/block}
{block name="css"}{/block}
{block name="content"}
<div class="layui-row layui-col-space20" >
    <!-- <div class="layui-col-md6">
        <div class="layui-card">
            <div class="layui-card-header">
                待领取金额

            </div>
            <div class="layui-card-body layuiadmin-card-list">
                <p class="layuiadmin-big-font" style="color: #ff0000" id="total">0</p>
            </div>
        </div>
    </div>

    <div class="layui-col-md6">
        <div class="layui-card">
            <div class="layui-card-header">
                
                {:lang('已领取金额')}
            </div>
            <div class="layui-card-body layuiadmin-card-list">
                <p class="layuiadmin-big-font" style="color: red" id="totalout">0</p>
            </div>
        </div>
    </div> -->
</div>
<div class="layui-card" style="margin-top: 5px">
    <div class="layui-card-header layuiadmin-card-header-auto">
        <form class="layui-form" lay-filter="component-form-group">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">{:lang('玩家ID')}</label>
                    <div class="layui-input-inline">
                        <input type="text" id="roleid" name="roleid" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">
                        {:lang('时间')}</label>
                    <div class="layui-input-inline">
                        <input type="text" name="start" id="LAY-component-form-group-date" autocomplete="off" class="layui-input" value="{:date('Y-m-d')}">
                    </div>
                    <div class="layui-form-mid">
                        -
                    </div>
                    <div class="layui-input-inline">
                        <input type="text" name="end" id="LAY-component-form-group-date2" autocomplete="off" class="layui-input" value="{:date('Y-m-d')}">
                    </div>
                </div>

                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <a class="layui-btn" id="search" data-type="reload">{:lang('搜索')}</a>
                        <button type="reset" class="layui-btn layui-btn-primary">{:lang('重置')}</button>

                    </div>
                </div>
                <div class="layui-inline">
                    <a class="layui-btn layui-btn-danger" id="output">{:lang('导出记录')}</a>
                </div>
            </div>
        </form>
        <div class="layui-card-body">
            <div id="alllist">
                <table id="proxylist" lay-filter="proxylist"></table>
            </div>
        </div>
    </div>
</div>


{/block}
{block name="script"}

<script type="text/html" id="msg-bar">

</script>

<script>
    url = "{:url('agent/agentCoinApply')}";
    layui.config({
        base: '__layui__/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块

    }).use(['index', 'table', 'layer', 'element', 'laydate', 'form', 'jquery'], function () {
        var element = layui.element, layer = layui.layer, laydate = layui.laydate, table = layui.table, $ = layui.$, form = layui.form;
        var main = {
            renderData: function () {
                //设置表头
                var cols = [
                    {field: 'RoleID', align: 'center', title: '{:lang('玩家ID')}', width: 100},
                    {field: 'AddTime', align: 'center', title: "{:lang('领取日期')}", width: 180, sort: true},
                    {field: 'RunningBonus', align: 'center', title: "{:lang('代理流水返利')}", minWidth: 150, sort: true},
                    {field: 'InviteBonus', align: 'center', title: "{:lang('代理邀请奖励')}"},
                    {field: 'FirstChargeBonus', align: 'center', title: "{:lang('代理首充奖励')}", minWidth: 150, sort: true},
                    {field: 'TotalProfit', align: 'center', title: "{:lang('总收益')}", minWidth: 150, sort: true},
                ];
                table.render({
                    elem: '#proxylist', url: url, page: true, limit: 15, cols: [cols],where: {Status:0,action:'list'},sort: true, autoSort: false
                    , done: function (res, curr, count) {
                        tzTbale()

                    }
                });
            },
            //搜索
            search: function () {
                var roleid = $.trim($('#roleid').val());
                var start = $.trim($('#LAY-component-form-group-date').val());
                var end = $.trim($('#LAY-component-form-group-date2').val());
                //执行重载
                table.reload('proxylist', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    },
                    where: {
                        'roleid': roleid,//AccountID
                        'start': start,
                        'end' :end
                    }
                });
            },

            //操作事件
            extraEvent: function () {
                //排序
                table.on('sort(proxylist)', function (obj) {
                    //执行重载
                    table.reload('proxylist', {
                        initSort: obj,
                        page: {curr: 1},
                        where: {
                            roleid: $.trim($('#roleid').val()),
                            start: $.trim($('#LAY-component-form-group-date').val()),
                            end:$.trim($('#LAY-component-form-group-date2').val()),
                            orderytpe: obj.type,
                            orderby: obj.field,
                        }
                    });

                });
                //编辑
                table.on('tool(proxylist)', function (obj) {
                    //获得当前行数据
                    var data = obj.data //获得当前行数据
                        , layEvent = obj.event; //获得 lay-event 对应的值

                    if (layEvent === 'detail') {
                            var url = '/player/playerDetail?roleid=' + data.RoleID;
                            x_admin_show("{:lang('玩家详情')}", url, $(window).width() * 0.9, $(window).height() * 0.6);
                        }
                });
            },


            init: function () {
                form.render(null, 'component-form-group');
                laydate.render({
                    elem: '#LAY-component-form-group-date'
                    , format: 'yyyy-MM-dd'
                    , max: 1
                    , lang:'{$datelang ?: "cn"}'
                    , type: 'date'
                });
                laydate.render({
                    elem: '#LAY-component-form-group-date2'
                    , format: 'yyyy-MM-dd'
                    , max: 1
                    , lang:'{$datelang ?: "cn"}'
                    , type: 'date'
                });
                main.extraEvent();
                main.renderData();
                $('#search').on('click', function (e) {
                    e.preventDefault();
                    main.search();
                });
            }
        };
        main.init();
        $('#output').click(function () {
            var where = {
               roleid: $.trim($('#roleid').val()),
                start: $.trim($('#LAY-component-form-group-date').val()),
                end:$.trim($('#LAY-component-form-group-date2').val()),
                Status:0,
                limit: 10000000,
                output: 'exec',
                action:'list',
            }

            download();

            function download() {
                var params = Object.keys(where).map(function (key) {
                    return encodeURIComponent(key) + "=" + encodeURIComponent(where[key]);
                }).join("&");
                url = url + "?" + params;
                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    async: true,
                    url: url, // 生成文件，保存在服务器
                    success: function (data) {
                        var result = data;
                        console.info(data);
                        switch (result["code"]) {
                            case 0:
                                parent.parent.open(url + "&exec=1&outall=true");
                                break;
                            case 1:
                                layer.msg(result["message"]);
                                break;
                            case 2:
                                layer.confirm(result['message'], {
                                    btn: ['{:lang("是")}', '{:lang("否")}'] //按钮
                                }, function () {
                                    parent.parent.open(url + "&exec=1&outall=true");
                                    layer.msg('', {icon: 6, time: 1000}, function () {
                                        window.location.reload();
                                    });
                                });
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, e) {
                        console.log("oilDetection.js  method exportOilDetection" + e);
                    }
                });
            }
        });
    });
</script>
{/block}