<!--{extend name="common/base" /}-->

<!--{block name="title"}{/block}-->
<!--{block name="content"}-->
{extend name="common/base" /}

{block name="title"}新增支付通道{/block}
{block name="css"}
{/block}
{block name="content"}

<div class="layui-card">
    <!--<div class="layui-card-header layuiadmin-card-header-auto">-->
        <form class="layui-form" style="padding-top: 30px;padding-bottom: 30px;padding-right: 30px;">
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">弹窗公告</label>
                <div class="layui-input-block">
                            <textarea name="desc" placeholder="请输入内容" rows="10" cols="30" class="layui-textarea"
                                      id="desc">{$notice}</textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">是否生效</label>
                <div class="layui-input-block" id="status">
                    <input type="radio" id="yes" name="sex" value="1" title="是" {if $status===1 } checked="" {/if}>
                    <input type="radio" id="no" name="sex" value="0" title="否" {if $status===0 } checked="" {/if}>
                    <!--<input type="radio" name="sex" value="禁" title="禁用" disabled="">-->
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">渠道ID：</label>
                <div class="layui-input-inline">
                    <select name="bankname" id="bankname">
                        <option value="">请选择渠道</option>
                        <!-- foreach循环 -->

                        {foreach name="bankname" item="vo" key="k" }
                        <option value="{$k}" {if $clientidentify==$vo } selected {/if}>{$vo}</option>
                        {/foreach}
                        <!-- for循环 -->
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-filter="formDemo" id="save">保存</button>
                    <!--<button type="reset" class="layui-btn layui-btn-primary">重置</button>-->
                </div>
            </div>
            <div id="result" style="color: red;display: none;position: relative;left: 35px;">更新成功!</div>
        </form>
        <!--<div id="result" style="color: red;display: none">更新成功!</div>-->
    <!--</div>-->
</div>
{/block}


{block name="script"}

<script>
    layui.config({
        base: '__layui__/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块

    }).use(['index', 'table', 'layer', 'element', 'laydate', 'form', 'jquery'], function () {
        var element = layui.element
            , layer = layui.layer
            , laydate = layui.laydate
            , table = layui.table
            , $ = layui.$
            , form = layui.form;
        $('#save').click(function (e) {
            e.preventDefault();
            var desc = $('#desc').val();
            var status=$("input[name='sex']:checked").val();
            var roleid = $.trim($('#bankname option:selected').text());
            $.ajax({
                type: 'post',
                url: "{:url('gamemanage/alert')}",
                data: {
                    'desc': desc,
                    'status': status,
                    'clientidentify':roleid,
                },
                dataType: 'json',
                success: function (res) {
                    console.log(res);
                    if (res.code === 0) {
//                        $('#desc').html(res.data);
                        $('#desc').html(res.data.msgcontent);
                        if(res.data.status==1){
                            $('#yes').prop("checked",true);
                            $('#no').prop("checked",false);
                        }else{
                            $('#yes').prop("checked",false);
                            $('#no').prop("checked",true);
                        }

                        $('#result').css('display', 'block');
                    } else {
                        layer.msg(res.msg, {icon: 2});
                    }
                }
            });
        });

    });
</script>
{/block}


