{extend name="common/base" /}

{block name="title"}新增支付通道{/block}
{block name="css"}
{/block}
{block name="content"}

<form class="layui-form" action="{:url('gamemanage/waterawardupdate')}" method="post" id="addProxy" >





    <div class="layui-form-item">
        <label class="layui-form-label">{:lang('最小流水金额')}：</label>
        <div class="layui-input-block">
            <input type="text" id="minrunning" name='minrunning' lay-verify="required" placeholder="{:lang('最小流水金额')}" autocomplete="off" class="layui-input">
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">{:lang('最大流水金额')}：</label>
        <div class="layui-input-block">
        <input type="text" id="maxrunning" name='maxrunning' lay-verify="required" placeholder="{:lang('最大流水金额')}" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">{:lang('返水比例')}(%)：</label>
        <div class="layui-input-block">
            <input type="text" id="returnpercent" name='awardmoney' lay-verify="required" placeholder="{:lang('返水比例')}" autocomplete="off" class="layui-input">
        </div>
    </div>


    <div class="layui-form-item">
        <div class="layui-input-block">
            <a style="margin-left: 15%" type="submit" class="layui-btn layui-btn-radius" lay-submit="" lay-filter="addit" id="addit" >{:lang('新增')}</a>
            <a  class="layui-btn layui-btn-primary layui-btn-radius" lay-submit="" lay-filter="cancel" id="cancel" >{:lang('取消')}</a>
        </div>
    </div>
</form>

{/block}
{block name="script"}

<script>
    layui.config({
        base: '__layui__/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块

    }).use(['index', 'table', 'layer', 'element', 'laydate', 'form', 'jquery'], function() {
        var element = layui.element
            ,layer = layui.layer
            ,laydate = layui.laydate
            ,table = layui.table
            ,$ = layui.$
            ,form = layui.form;

        var main = {
            submitForm : function(data) {
                var
//                    id = $.trim(data.field.id),
                    minrunning = $.trim(data.field.minrunning),
                    maxrunning=$('#maxrunning').val(),
                    returnpercent=$('#returnpercent').val(),
                id=$('#id2').val();
                $.ajax({
                    type:'post',
//                    type:'get',
                    url:data.form.action,
                    data:{
                        'id' : 0,
                        'minrunning' : minrunning,
                        'maxrunning' : maxrunning,
                        'returnpercent' : returnpercent,
                    },
                    dataType:'json',
                    success: function(res) {
                        if (res.code === 0) {
                            layer.msg(res.msg,{icon:1,time:1000}, function () {
                                x_admin_close();
                                parent.location.reload();
                            });
                        } else {
                            layer.msg(res.msg, {icon:2});
                        }
                    }
                });
            },

            bindEvent: function() {
                form.on('submit(addit)', function(data) {
                    main.submitForm(data);
                    return false;
                });

                $('#cancel').on('click', function(e) {
                    e.preventDefault();
                    x_admin_close();
                })
            },

            init : function () {
                main.bindEvent();
            }
        };

        main.init();
    });
</script>
{/block}