{extend name="common/base" /}

{block name="title"}添加红包雨{/block}
{block name="css"}
{/block}
{block name="content"}

<form class="layui-form" action="{:url('WeekSalaryCfg/update')}" method="post" id="addProxy" >

  <input type="hidden" name="id" id="id" value="{if(!empty($info))}{$info.ID}{/if}" />

  <div class="layui-form-item">
    <label class="layui-form-label">{:lang('打码量')}：</label>
    <div class="layui-input-block">
      <input type="number" id="Running" name='Running' value="{$info['Running']}" lay-verify="required" placeholder="{:lang('打码量')}" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">{:lang('周薪')}：</label>
    <div class="layui-input-block">
      <input type="number" id="BaseWeekSalary" name='BaseWeekSalary' value="{$info['BaseWeekSalary']}" lay-verify="required" placeholder="{:lang('周薪')}" autocomplete="off" class="layui-input">
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">{:lang('一级打码返利')}：</label>
    <div class="layui-input-block">
      <input type="number" id="Lv1Rate" name='Lv1Rate' value="{$info['Lv1Rate']}" lay-verify="required" placeholder="{:lang('一级打码返利')}" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">{:lang('二级打码返利')}：</label>
    <div class="layui-input-block">
      <input type="number" id="Lv2Rate" name='Lv2Rate' value="{$info['Lv2Rate']}" lay-verify="required" placeholder="{:lang('二级打码返利')}" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">{:lang('等级')}：</label>
    <div class="layui-input-block">
      <input type="number" id="Level" name='Level' value="{$info['Level']}" lay-verify="required" placeholder="{:lang('等级')}" autocomplete="off" class="layui-input">
    </div>
  </div>

  <div class="layui-form-item">
    <div class="layui-input-block">
      <a style="margin-left: 15%" type="submit" class="layui-btn layui-btn-radius" lay-submit="" lay-filter="addit" id="addit" >{:lang('保存')}</a>
      <a  class="layui-btn layui-btn-primary layui-btn-radius" lay-submit="" lay-filter="cancel" id="cancel" >{:lang('取消')}</a>
    </div>
  </div>
</form>

{/block}
{block name="script"}

<script>
  layui.config({
    base: '__layui__/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块

  }).use(['index', 'table', 'layer', 'element', 'laydate', 'form', 'jquery','upload'], function() {
    var element = layui.element
            ,layer = layui.layer
            ,laydate = layui.laydate
            ,table = layui.table
            ,upload = layui.upload
            ,$ = layui.$
            ,form = layui.form;

    var main = {
      //新增包裹控件


      submitForm : function(data) {
        console.log(data);
        $.ajax({
          type:'post',
          url:data.form.action,
          data:data.field,
          dataType:'json',
          success: function(res) {
            var index = parent.layer.getFrameIndex(window.name); /* 先得到当前iframe层的索引 */
            if (res.code === 0) {
              layer.msg(res.msg,{icon:1,time:1000}, function () {
                x_admin_close();
                parent.layui.table.reload('proxylist',{page:{curr:$(".layui-laypage-em").next().html()}});   //主要代码
                parent.layer.close(index);
              });
            } else {
              layer.msg(res.msg, {icon:2});
            }
          }
        });
      },

      bindEvent: function() {
        form.on('submit(addit)', function(data) {
          main.submitForm(data);
          return false;
        });
        $('#CopyPackageControl').on('click', function(e) {
          main.CopyPackageControl();
        })

        $('#cancel').on('click', function(e) {
          e.preventDefault();
          x_admin_close();
        })

      },

      init : function () {
        main.bindEvent();
      }

    };


    main.init();
  });
  //删除包裹控件
   function doRemoveDiv (e) {
    var evt = e || event;
    var table = document.getElementById("tbContent");
    table.deleteRow(~~evt.target.parentNode.parentNode.rowIndex + 1);
    // for (var i = 0; i < table.rows.length; i++) {
    //   if (i != 0) {
    //     var num = i + 1;
    //     table.rows[i].cells[0].innerHTML = '';
    //   }
    // }
  }
</script>
{/block}