{extend name="common/base" /}

{block name="title"}{:lang("所有玩家")}{/block}
{block name="css"}{/block}
{block name="content"}


<div class="layui-card">
    <div class="layui-card-header layuiadmin-card-header-auto">
        <form class="layui-form" lay-filter="component-form-group">
            <div class="layui-form-item">


                <div class="layui-inline">
                    <label class="layui-form-label">{:lang("渠道ID")}：</label>
                    <div class="layui-input-inline">
                        <input type="text" id="username" name="username" placeholder="{:lang('请输入登录名搜索')}" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <a class="layui-btn" id="search" data-type="reload">{:lang('搜索')}</a>
                        <button type="reset" class="layui-btn layui-btn-primary">{:lang('重置')}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="layui-card-body">
        <button class="layui-btn "
                onclick="x_admin_show('{:lang("添加用户")}','addUser.html', 600, 500)">
            <i class="layui-icon layui-icon-add-circle"></i>
        </button>
        <div id="alllist">
            <table id="proxylist" lay-filter="proxylist"></table>
        </div>
    </div>
</div>
{/block}
{block name="script"}

<script type="text/html" id="msg-bar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">{:lang('编辑')}</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">{:lang('删除')}</a>
    {{# if(d.google_verify!=''){}}
        <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="google">{:lang('解绑谷歌')}</a>
    {{#}}}
</script>

<script>
    layui.config({
        base: '__layui__/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块

    }).use(['index', 'table', 'layer', 'element', 'laydate', 'form', 'jquery'], function() {
        var element = layui.element
            ,layer = layui.layer
            ,laydate = layui.laydate
            ,table = layui.table
            ,$ = layui.$
            ,form = layui.form;

        var main = {
            renderData : function() {
                var cols = [ //表头

                    {field: 'id', title: 'ID', minWidth:100}
                    ,{field: 'username', title: '{:lang("登录名")}', minWidth:100}
//                    , {field: 'apkaddress', title: 'APK地址', minWidth:120}
                    , {field: 'mobile', title: '{:lang("手机号")}', minWidth:120, }
                    , {field: 'create_time', title: '{:lang("创建时间")}', minWidth:120,}
                    , {field: 'last_login_time', title: '{:lang("最后登录时间")}', minWidth:120,}

                    , {field: 'title', title: '{:lang("角色")}', minWidth:120, }
                    , {field: 'google_verify', title: '', minWidth:120, hide:true }
//                    , {field: 'jscode', title: 'JS百度统计代码', minWidth:120}
                    ,{fixed: 'right', title:'{:lang("操作")}', align:'center', minWidth:300, toolbar: '#msg-bar'}
                ];

                table.render({
                    elem: '#proxylist'
//                    , url: "{:url('player/all')}" //数据接口
                    , url: "{:url('user/userlist')}" //数据接口
                    , page: true //开启分页
                    , limit:15
                    , sort: true
                    , cols: [cols]
                    ,done: function (d) {
                        tzTbale()
                    }
                });
            },

            //搜索
            search : function() {
                var username = $.trim($('#username').val());


                //执行重载
                table.reload('proxylist', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    },
                    where: {
                        'username':username,

                    }
                });
            },

            //操作事件
            extraEvent : function () {
                //编辑
                table.on('tool(proxylist)', function(obj) {
                    var data = obj.data //获得当前行数据
                        ,layEvent = obj.event; //获得 lay-event 对应的值
                    tr = obj.tr; //获得当前行 tr 的DOM对象
                    if (layEvent === 'edit') {
                        var id = data.id;
                        x_admin_show('{:lang("编辑")}', 'editUser?id=' + id, 600, 500);
                    } else if (layEvent === 'del') {
                        var id = data.id;
                        layer.confirm('{:lang("确认要删除这条记录吗？")}', {btn: ['{:lang("确定")}','{:lang("取消")}']},function(index){
                            //捉到所有被选中的，发异步进行删除
                            $.post("{:url('admin/user/deleteUser')}", {id: id}, function(data, textStatus, xhr) {
                                if(data.code==1){
                                    layer.msg(data.msg,{icon:1,time:1000},function(){
                                        window.location.reload();
                                    });
                                }else{
                                    layer.msg(data.msg,{icon:2,time:1000});
                                }

                            });
                        });
                    }
                    else if(layEvent === 'google'){
                        layer.confirm('{:lang("确认要解绑吗？")}', {btn: ['{:lang("确定")}','{:lang("取消")}']},function(index) {
                            var id = data.id;
                            $.post("{:url('admin/user/unbindgoogle')}", {id: id}, function (data, textStatus, xhr) {
                                if (data.code == 1) {
                                    layer.msg(data.msg, {icon: 1, time: 1000}, function () {
                                        window.location.reload();
                                    });
                                } else {
                                    layer.msg(data.msg, {icon: 2, time: 1000});
                                }

                            });
                        });
                    }
                });

            },

            init : function() {
                main.renderData();
                main.extraEvent();
                $('#search').on('click', function(e) {
                    e.preventDefault();
                    main.search();
                });
            }
        };

        main.init();
    });
</script>
{/block}