{extend name="common/base" /}

{block name="title"}游戏收水放水设置{/block}
{block name="css"}
{/block}
{block name="content"}

<form class="layui-form" action="{:url('gamectrl/KindWaterSet')}" method="post" id="addProxy" >

    <div class="layui-form-item">
        <label class="layui-form-label">{:lang('游戏信息')}：</label>
        <div class="layui-input-inline">
            <select name="kindid" id="kindid" lay-search>
                <option value="-1">{:lang('请选择游戏')}</option>
                {volist name="kindlist" id="vo"}
                <option value="{$vo.KindID}">{$vo.KindName}</option>
                {/volist}
            </select>
        </div>

    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">{:lang('盘控类型')}</label>
        <div class="layui-input-block">
            <select name="Watertype" lay-verify="">
                <option value="-1">{:lang('请选择盘控类型')}</option>
                <option value="0">{:lang('收水')}</option>
                <option value="1">{:lang('放水')}</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">{:lang('盘控值')}：</label>
        <div class="layui-input-block">
            <input type="number" id="CurRoomWaterIn" name='CurRoomWaterIn' lay-verify="required|number" value="" placeholder="{:lang('请输入盘控值')}" autocomplete="off" class="layui-input">
        </div>
    </div>


    <div class="layui-form-item">
        <div class="layui-input-block">
            <a style="margin-left: 15%" type="submit" class="layui-btn layui-btn-radius" lay-submit="" lay-filter="addit" id="addit" >{:lang('设置')}</a>
            <a  class="layui-btn layui-btn-primary layui-btn-radius" lay-submit="" lay-filter="cancel" id="cancel" >{:lang('取消')}</a>
        </div>
    </div>
</form>

{/block}
{block name="script"}

<script>
    layui.config({
        base: '__layui__/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块

    }).use(['index', 'table', 'layer', 'element', 'laydate', 'form', 'jquery'], function() {
        var element = layui.element
            ,layer = layui.layer
            ,laydate = layui.laydate
            ,table = layui.table
            ,$ = layui.$
            ,form = layui.form;

        var main = {
            submitForm : function(data) {
                var CurRoomWaterIn = $.trim(data.field.CurRoomWaterIn),
                    ControllType = $.trim(data.field.Watertype);
                var id = $('#kindid').val();


                if(id==-1){
                    layer.msg("{:lang('请选择游戏')}", {icon:2});
                    return;
                }
                if(ControllType==-1){
                    layer.msg("{:lang('请选择盘控类型')}", {icon:2});
                    return;
                }
                $.ajax({
                    type:'post',
                    url:data.form.action,
                    data:{
                        'roomId' : id,
                        'CurRoomWaterIn' : CurRoomWaterIn,
                        'ControllType' : ControllType
                    },
                    dataType:'json',
                    success: function(res) {
                        if (res.code === 0) {
                            layer.msg("{:lang('设置成功')}",{icon:1,time:1000}, function () {
                                //x_admin_close();
                                //parent.location.reload();
                                var index = parent.layer.getFrameIndex(window.name);
                                parent.layui.table.reload('proxylist');
                                parent.layer.close(index);
                            });
                        } else {
                            layer.msg("{:lang('设置失败')}", {icon:2});
                        }
                    }
                });
            },

            bindEvent: function() {
                form.on('submit(addit)', function(data) {
                    main.submitForm(data);
                    return false;
                });

                $('#cancel').on('click', function(e) {
                    e.preventDefault();
                    x_admin_close();
                });
            },

            init : function () {
                main.bindEvent();
            }
        };

        main.init();
    });
</script>
{/block}