{extend name="common/base" /}

{block name="title"}充值汇总{/block}
{block name="css"}{/block}
{block name="content"}


<div class="layui-card">
    <div class="layui-card-header layuiadmin-card-header-auto">
        <form class="layui-form" lay-filter="component-form-group">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">玩家ID</label>
                    <div class="layui-input-inline">
                        <input type="text" id="roleid" name="roleid" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <a class="layui-btn" id="search" data-type="reload">搜索</a>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="layui-card-body">
        <div id="alllist">
            <table id="proxylist" lay-filter="proxylist"></table>
        </div>
    </div>
</div>


{/block}
{block name="script"}

<script>
    layui.config({
        base: '__layui__/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块

    }).use(['index', 'table', 'layer', 'element', 'laydate', 'form', 'jquery'], function() {
            var element = layui.element
            ,layer = layui.layer
            ,laydate = layui.laydate
                ,table = layui.table
                ,$ = layui.$
            ,form = layui.form;

            var main = {
                 renderData : function() {
                    var cols = [ //表头

                        {field: 'roleid', title: '玩家账号', minWidth:100}
                        ,{field: 'agentcharge', title: '商人总转入', minWidth:120}
                        , {field: 'apppay', title: '在线总充值', minWidth:120}
                        , {field: 'directpay', title: '后台直充', minWidth:120}
                        , {field: 'cashout', title: '总转出', minWidth:120}
                        , {field: 'adddate', title: '时间', minWidth:120}
                    ];

                    table.render({
                        elem: '#proxylist'
                        , url: "{:url('charge/index')}" //数据接口
                        , page: true //开启分页
                        , cols: [cols]
                    });
                },

                //搜索
                search : function() {
                    var roleid = $.trim($('#roleid').val());

                    //执行重载
                    table.reload('proxylist', {
                        page: {
                            curr: 1 //重新从第 1 页开始
                        },
                        where: {
                            'roleid':roleid
                        }
                    });
                },

                 init : function() {
                    main.renderData();
                    $('#search').on('click', function(e) {
                        e.preventDefault();
                        main.search();
                    });
                }
            };

            main.init();
    });
</script>
{/block}