{extend name="common/base" /}

{block name="title"}添加修改账号{/block}
{block name="css"}
{/block}
{block name="content"}

<form class="layui-form" action="{:url('my/addSubaccount')}" method="post" id="addProxy" >
    <input type="hidden" name="Id" id="Id" value="{$info.Id}" />
    <div class="layui-form-item">
        <label class="layui-form-label">{:lang('登录账号')}：</label>
        <div class="layui-input-block">
            <input type="text" id="OperatorName"  name='OperatorName' {if($info.Id>0)} readonly="readonly"{/if} value="{$info.OperatorName}"  placeholder="{:lang('请输入登录账号')}"  class="layui-input">
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">{:lang('登录密码')}：</label>
        <div class="layui-input-block">
            <input type="password" id="txtpassword" name='txtpassword' value=""  placeholder="{:lang('请输入登录密码')}"  class="layui-input">
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">{:lang('再次密码')}：</label>
        <div class="layui-input-block">
            <input type="password" id="repassword" name='repassword' value=""  placeholder="{:lang('请再次输入登录密码')}"  class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <a style="margin-left: 15%" type="submit" class="layui-btn layui-btn-radius" lay-submit="" lay-filter="addit" id="addit" >{:lang('保存')}</a>
            <a  class="layui-btn layui-btn-primary layui-btn-radius" lay-submit="" lay-filter="cancel" id="cancel" >{:lang('取消')}</a>
        </div>
    </div>
</form>

{/block}
{block name="script"}

<script>
    layui.config({
        base: '__layui__/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块

    }).use(['index', 'table', 'layer', 'element', 'laydate', 'form', 'jquery'], function() {
        var element = layui.element
            ,layer = layui.layer
            ,laydate = layui.laydate
            ,table = layui.table
            ,$ = layui.$
            ,form = layui.form;

        var main = {
            submitForm : function(data) {
                var Id = $.trim(data.field.Id);
                var operatorname =$.trim(data.field.OperatorName);
                var txtpassword =$.trim(data.field.txtpassword);
                var repassword =$.trim(data.field.repassword);
                if(txtpassword!=repassword){
                    layer.alert("{:lang('两次输入密码不一致，请重输！')}",{icon:5});
                    return;
                }

                if(operatorname==''){
                    layer.alert("{:lang('请输入登录账号！')}",{icon:5});
                    return;
                }
                $.ajax({
                    type:'post',
                    url:data.form.action,
                    data:data.field,
                    dataType:'json',
                    success: function(res) {
                        var index = parent.layer.getFrameIndex(window.name); /* 先得到当前iframe层的索引 */
                        if (res.code === 0) {
                            layer.msg(res.msg,{icon:1,time:1000}, function () {
                                x_admin_close();
                                parent.layui.table.reload('proxylist',{page:{curr:$(".layui-laypage-em").next().html()}});   //主要代码
                                parent.layer.close(index);
                            });
                        } else {
                            layer.msg(res.msg, {icon:2});
                        }
                    }
                });
            },

            bindEvent: function() {
                form.on('submit(addit)', function(data) {
                    main.submitForm(data);
                    return false;
                });

                $('#cancel').on('click', function(e) {
                    e.preventDefault();
                    x_admin_close();
                })
            },

            init : function () {
                main.bindEvent();
            }
        };

        main.init();
    });
</script>
{/block}