{extend name="common/base" /}
{block name="title"}手机列表{/block}
{block name="css"}{/block}
{block name="content"}
<div class="layui-card">
    <div class="layui-card-header layuiadmin-card-header-auto">
        <form class="layui-form" lay-filter="component-form-group">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input type="text" id="opname" name="opname" placeholder="{:lang('账号名称')}" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-input-inline">
                        <a class="layui-btn" id="search" data-type="reload">{:lang('搜索')}</a>
                        <button type="reset" class="layui-btn layui-btn-primary">{:lang('重置')}</button>
                    </div>
                </div>
            </div>

        </form>
    </div>
    <div class="layui-card-body">
        <div class="layui-inline">
            <a style="margin-bottom: 10px;" class="layui-btn" onclick="x_admin_show('{:lang(\'添加账号\')}','addSubaccount.html', 600,400)">
                <i class="layui-icon layui-icon-add-circle"></i>
            </a>
        </div>
        <div id="alllist">
            <table id="proxylist" lay-filter="proxylist"></table>
        </div>
    </div>
</div>

{/block}
{block name="script"}
<script type="text/html" id="msg-bar">
        <a class="layui-btn layui-btn-xs" lay-event="modify">{:lang('修改')}</a>
        <a class="layui-btn layui-btn-xs layui-bg-red " lay-event="delete">{:lang('删除')}</a>
        <a class="layui-btn layui-btn-xs layui-bg-blue" lay-event="unbind">{:lang('解绑谷歌')}</a>
    <!--<a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">拉黑</a>-->
</script>

<script>
    url= "{:url('my/subAccount')}?Action=list";//数据接口
    var cols = [ //表头
        {field: 'OperatorName',align:"center" , title: "{:lang('登录账户')}", width: 150},
        {field: 'AddTime',align:"center", title: "{:lang('添加时间')}", width: 200},
        {field: 'LastLoginTime',align:"center", title: "{:lang('最后登录时间')}", width: 180},
        {field: 'IsGoogle',align:"center", title: "{:lang('是否绑定谷歌')}", width: 150},
        {fixed: 'right', title:'操作', align:'center', width:200, toolbar: '#msg-bar'}
    ];


    layui.config({
        base: '__layui__/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块

    }).use(['table', 'layer', 'element', 'laydate', 'form', 'jquery', 'util'], function () {
        var element = layui.element, layer = layui.layer, laydate = layui.laydate, util = layui.util, table = layui.table, $ = layui.$, form = layui.form;

        laydate.render({
            elem: '#regTime',
            range: true,
            done: function (value, date, endDate) {
                dates = value.split(" - ");
                // console.info(dates[0] +"  "+ dates[1]);
                $("#startTime").val(dates[0]);
                $("#endTime").val(dates[1]);
            }
        });


        var main = {
            renderData: function () {
                table.render({
                    elem: '#proxylist',
                    url: url, //数据接口
                    page: true, limit: 15,
                    sort: true, autoSort: false,
                    cols: [cols],
                    done: function (res) {$(".layui-table-main tr").each(function (index, val) {
                        $($(".layui-table-fixed-l .layui-table-body tbody tr")[index]).height($(val).height());
                        $($(".layui-table-fixed-r .layui-table-body tbody tr")[index]).height($(val).height());
                    });
                    }
                });
            },
            //搜索
            search: function () {
                // var nickname = $.trim($('#nickname').val());
                // var mobile = $.trim($('#mobile').val());
                //执行重载
                table.reload('proxylist', {
                    page: {curr: 1},
                    where: {
                        opname: $.trim($('#opname').val()),
                    },
                    done: function () {

                    }

                });
            },

            //操作事件
            extraEvent: function () {
                //排序
                table.on('sort(proxylist)', function (obj) {
                    var opname = $.trim($('#opname').val());
                    //执行重载
                    table.reload('proxylist', {
                        page: {
                            curr: 1 //重新从第 1 页开始
                        },
                        where: {
                            'opname': opname,
                            'orderfield': obj.field,
                            'ordertype': obj.type,
                        }
                    });

                });

                table.on('tool(proxylist)', function (obj) {
                    var data = obj.data //获得当前行数据
                        , layEvent = obj.event; //获得 lay-event 对应的值
                    tr = obj.tr; //获得当前行 tr 的DOM对象
                    if (layEvent === 'modify') {
                        var url = "{:url('my/addSubaccount')}?Id=" + data.Id;
                        x_admin_show("{:lang('修改账号')}", url, $(window).width() * 0.4, $(window).height() * 0.4);
                    }
                    if (layEvent === 'delete') {
                        layer.confirm("{:lang('确认删除这条记录？')}", {btn: ['{:lang("确定")}','{:lang("取消")}']}, function () {
                            $.ajax({
                                type: 'post',
                                url: "{:url('my/delSubaccount')}",
                                data: {
                                    'Id': data.Id
                                },
                                dataType: 'json',
                                success: function (res) {
                                    if (res.code === 0) {
                                        layer.msg(res.msg, {icon: 6, time: 1000}, function () {
                                            window.location.reload();
                                        });
                                    } else {
                                        layer.msg(res.msg, {icon: 5});
                                    }
                                }
                            });
                        });
                    }
                    if (layEvent === 'unbind') {
                        layer.confirm("{:lang('确认要解绑？')}", {btn: ['{:lang("确定")}','{:lang("取消")}']}, function () {
                            $.ajax({
                                type: 'post',
                                url: "{:url('my/UbindSubaccount')}",
                                data: {
                                    'Id': data.Id
                                },
                                dataType: 'json',
                                success: function (res) {
                                    if (res.code === 0) {
                                        layer.msg(res.msg, {icon: 6, time: 1000}, function () {
                                            window.location.reload();
                                        });
                                    } else {
                                        layer.msg(res.msg, {icon: 5});
                                    }
                                }
                            });
                        });
                    }
                });
            },

            init: function () {
                main.renderData();
                main.extraEvent();

                $('#search').on('click', function (e) {
                    e.preventDefault();
                    main.search();
                });
            }
        };

        main.init();
    });

    $('#output').click(function () {
        where = {
            'roleid': $.trim($('#roleid').val()),
            limit: 10000000,
            Action: 'exec',
        }

        download();

        function download() {
            var params = Object.keys(where).map(function (key) {
                return encodeURIComponent(key) + "=" + encodeURIComponent(where[key]);
            }).join("&");
            url = url +"?"+ params;
            $.ajax({
                type: 'POST',
                dataType: 'json',
                async: true,
                url: url, // 生成文件，保存在服务器
                success: function (data) {
                    var result = data;
                    console.info(data);
                    switch (result["code"]) {
                        case 0:
                            parent.parent.open(url + "&exec=1&outall=true");
                            break;
                        case 1:
                            layer.msg(result["message"]);
                            break;
                        case 2:
                            layer.confirm(result['message'], {
                                btn: ['{:lang("是")}', '{:lang("否")}'] //按钮
                            }, function () {
                                parent.parent.open(url + "&exec=1&outall=true");
                                layer.msg('', {icon: 6, time: 1000}, function () {
                                    window.location.reload();
                                });
                            });
                    }

                },
                error: function (XMLHttpRequest, textStatus, e) {
                    console.log("oilDetection.js  method exportOilDetection" + e);
                }
            });
        }
    });
</script>
{/block}