
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="__static__/cssio/global.css" rel="stylesheet">
    <link href="__static__/cssio/layout.css" rel="stylesheet">
    <script src="__static__/jsio/jquery.min.js"></script>
    <link href="__static__/cssio/toastr.min.css" rel="stylesheet">
    <script src="__static__/jsio/toastr.min.js"></script>
    <script src="__module__/layer/layer.js"></script>
    <style>
        .ivu-modal-body {
            position: fixed;
            top: 0;
            left: 0;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.6);
            height: 100%;
            width: 100%;
            z-index: 10;
        }

        .ivu-modal-body .info-item {
            max-width: 750px;
            background-color: #ffffff;
            /*top: 5%;*/
            /*left: 10%;*/
            /*position: absolute;*/
            margin: 100px auto 0;
            border-radius: 10px;
        }

        .ivu-modal-body .info-item h3, .ivu-modal-body .info-item h4 {
            padding: 10px;
            color: #354052;
        }

        .ivu-modal-body .info-item h3 {
            text-align: center;
            padding: 25px;
        }

        .ivu-modal-body .info-item p {
            padding: 10px;
            line-height: 2em;
            color: #5e5e5e;
        }

        .ivu-modal-body .info-item .info-item-scroll {
            max-height: 400px;
            margin: 20px;
            overflow: auto;
        }

        ::-webkit-scrollbar-thumb {
            border: 2px solid #c6ced7
        }

        .ivu-modal-body .info-item .info-item-scroll ul li p {
            text-indent: 2em;
        }

        .close {
            float: right;
            z-index: 20;
            margin: 20px;
            color: #5e5e5e;
        }
    </style>
</head>
<body>
<div class="content of-reg">
    <div class="login-main">
        <img alt="" class="right-msg" src="__static__/picture/login-banner.png">
        <form id="register" method="post">
            <div class="login-box">
                <input type="hidden" name="__token__" value="53a29c579a486590a1bb402c5af4c9d3" />                <img alt="" class="right-light" src="__static__/picture/login-light.png">
                <div class="of-header">用户注册</div>
                <div class="flex-center-wrap flex-justify-between of-input ">
                    <img alt="" src="__static__/picture/login-user.png">
                    <input maxlength="11" minlength="11" id="mobile" name="username" placeholder="请输入手机号码" type="text">
                </div>
                <p class="help-block"><code></code></p>
                <div class="flex-center-wrap flex-justify-between of-input ">
                    <img alt="" src="__static__/picture/login-code.png">
                    <input name="yzm" id='yzm' placeholder="请输入验证码" type="text">
                    <span id="sendsms" style="padding:0;border:none;cursor:pointer;width: 110px;color: #3AE3E6">
                        发送验证码
                        <!--                        <img onclick="this.src = 'picture/index.php' + Math.random();"-->
                        <!--                             src="/index.php?s=/captcha" style="width: 100px;height: 40px;"/>-->
                    </span>
                </div>
                <p class="help-block"><code></code></p>
                <div class="flex-center-wrap flex-justify-between of-input ">
                    <img alt="" src="__static__/picture/login-pass.png">
                    <input id="password" name="password" placeholder="请输入密码" type="password">
                </div>
                <p class="help-block"><code></code></p>
                <!--<div class="of-agree" >-->
                    <!--<span class="" id="agree"></span>已同意并愿意接受 <a onclick="server(1)">《ios超级签名服务条款》</a> 和 <a-->
                        <!--onclick="server(2)"> 《ios超级签名隐私声明》</a>-->
                <!--</div>-->
                <button class="of-pass-btn" onclick="register()" type="button">注册</button>
                <!--            <div class="of-pass-btn"><button>注册</button></div>-->
                <div class="of-without">已有账号？<a href="{:url('Login/index')}">登录</a></div>
            </div>
        </form>
    </div>
</div>
<!--服务条款-->
<div class="ivu-modal-body" id="server" style="display: none">
    <div class="info-item" data-v-228f13c0="">
        <span class="close">X</span>
        <h3 data-v-228f13c0="">ios超级签名服务条款</h3>
        <p data-v-228f13c0="">ios超级签名（除非特别说明，本服务协议所提及的ios超级签名包括 ios.yoyoacg.com 网站）为您提供的一切服务受本服务协议项下条款和条件的约束。</p>
        <p data-v-228f13c0="">使用ios超级签名也就意味着您同意本服务协议及ios超级签名对其不时所做的修订。</p>
        <div class="info-item-scroll" data-v-228f13c0=""><h4 data-v-228f13c0="">第一条：使用之前提</h4>
            <ul data-v-228f13c0="">
                <li data-v-228f13c0=""><p data-v-228f13c0="">• 1.
                    通过使用ios超级签名所提供的信息，工具以及其他功能，借助任何ios超级签名的API，或者经由ios超级签名接口的任何软件、其它网站，或者它的
                    API（以上统称“服务”），都表示您同意遵守本服务协议，无论您是一个非注册用户，或者您是一个注册用户。</p></li>
                <li data-v-228f13c0=""><p data-v-228f13c0="">• 2.
                    如果您想成为注册用户并使用ios超级签名提供的服务，您必须阅读并接受本服务协议。只要您注册成为ios超级签名的用户（无论是通过ios超级签名还是通过其他第三方媒介，下同）就视为您接受了本服务协议。如果您接受本服务协议，则表示您有能力受其约束，或者，如果您代表了一个公司或实体，您有权使该实体受其约束。</p>
                </li>
            </ul>
            <h4 data-v-228f13c0="">第二条：行为准则</h4>
            <ul data-v-228f13c0="">
                <li data-v-228f13c0=""><p data-v-228f13c0="">• 1.
                    一旦您接收了本服务协议项下的条款和条件，即表示您同意在使用服务时遵守以下规则。您理解并同意，如果您违反了以下规则，所出现的任何后果由您自行承担，ios超级签名对此不负有任何责任。</p>
                    <ul data-v-228f13c0="">
                        <li data-v-228f13c0=""><p data-v-228f13c0="">o • 1.1
                            不得利用ios超级签名提供的服务从事任何非法活动，不发布违反国家相关法律法规及政策规定的内容；</p></li>
                        <li data-v-228f13c0=""><p data-v-228f13c0="">o • 1.2 不得利用ios超级签名危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一；</p>
                        </li>
                        <li data-v-228f13c0=""><p data-v-228f13c0="">o • 1.3 不得利用ios超级签名损害国家荣誉和利益；</p></li>
                        <li data-v-228f13c0=""><p data-v-228f13c0="">o • 1.4 不得利用ios超级签名煽动民族仇恨、民族歧视，破坏民族团结；</p></li>
                        <li data-v-228f13c0=""><p data-v-228f13c0="">o • 1.5 不得利用ios超级签名破坏国家宗教政策，宣扬邪教和封建迷信；</p></li>
                        <li data-v-228f13c0=""><p data-v-228f13c0="">o • 1.6 不得利用ios超级签名散布谣言，扰乱社会秩序，破坏社会稳定；</p></li>
                        <li data-v-228f13c0=""><p data-v-228f13c0="">o • 1.7 不得利用ios超级签名散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪；</p>
                        </li>
                        <li data-v-228f13c0=""><p data-v-228f13c0="">o • 1.8 不得利用ios超级签名侮辱或者诽谤他人，侵害他人合法权益；</p></li>
                        <li data-v-228f13c0=""><p data-v-228f13c0="">o • 1.9 不得利用ios超级签名侵害他人知识产权、商业秘密等合法权益；</p></li>
                        <li data-v-228f13c0=""><p data-v-228f13c0="">o • 1.10 不得利用ios超级签名恶意虚构事实、隐瞒真相以误导、欺骗他人；</p></li>
                        <li data-v-228f13c0=""><p data-v-228f13c0="">o • 1.11 不得利用ios超级签名发布、传送、传播垃圾信息；</p></li>
                        <li data-v-228f13c0=""><p data-v-228f13c0="">o • 1.12 不得向ios超级签名上传任何恶意代码、含有恶意行为的软件；</p></li>
                        <li data-v-228f13c0=""><p data-v-228f13c0="">o • 1.13
                            不得滥用ios超级签名所提供的资源或者服务，该等滥用包括但不限于重复应用、谋取不当利益等行为；</p></li>
                        <li data-v-228f13c0=""><p data-v-228f13c0="">o • 1.14 不得转让或继受、售卖ios超级签名的账号和密码，以谋取不当利益；</p></li>
                        <li data-v-228f13c0=""><p data-v-228f13c0="">o • 1.15
                            不得公开展示或使用服务共享不当内容或材料（例如，涉及裸体、兽行、色情、暴力画面或犯罪活动）以及不符合适用法律或法规要求的内容或材料（例如，侵犯知识产权的软件或图片、文字、代码等）；</p>
                        </li>
                        <li data-v-228f13c0=""><p data-v-228f13c0="">o • 1.16
                            不得从事虚假或误导性活动（例如编造虚假理由索要现金，假冒他人，操纵服务）或者中伤或诽谤活动；</p></li>
                        <li data-v-228f13c0=""><p data-v-228f13c0="">o • 1.17 不得规避服务的任何访问或可用性限制；</p></li>
                        <li data-v-228f13c0=""><p data-v-228f13c0="">o • 1.18
                            不得从事对服务或他人有害的活动（例如，传播病毒、跟踪、发布仇恨言论或宣扬针对他人的暴力行为）；</p></li>
                        <li data-v-228f13c0=""><p data-v-228f13c0="">o • 1.19 不得利用ios超级签名或其服务侵犯他人的合法权利；</p></li>
                        <li data-v-228f13c0=""><p data-v-228f13c0="">o • 1.20 不得利用ios超级签名从事侵犯他人隐私或数据保护权利的活动；</p></li>
                        <li data-v-228f13c0=""><p data-v-228f13c0="">o • 1.21
                            不得利用ios超级签名传播含有违反国家法律的金融、股票、理财、贷款、赌博等软件或App；</p></li>
                        <li data-v-228f13c0=""><p data-v-228f13c0="">o • 1.22 其他法律法规禁止的行为；</p></li>
                        <li data-v-228f13c0=""><p data-v-228f13c0="">o • 1.23 不得帮助他人违反上述规则。</p></li>
                    </ul>
                </li>
                <li data-v-228f13c0=""><p data-v-228f13c0="">• 2.
                    强制执行。如果您违反本服务协议项下的条款和条件，ios超级签名有权在不提前通知您的情况下采取合理且适当的措施以维护ios超级签名以及其他用户的合法及正当利益，该等措施包括但不限于停止为您提供服务、关闭您的ios超级签名账户、删除您在ios超级签名上发布的内容和信息，并保存相关记录及向有关政府主管部门举报。在对涉嫌违反本服务协议项下条款和条件的行为进行调查时，ios超级签名将保留对您的内容进行审查以便解决问题的权利。</p>
                </li>
            </ul>
            <h4 data-v-228f13c0="">第三条：版权</h4>
            <ul data-v-228f13c0="">
                <li data-v-228f13c0=""><p data-v-228f13c0="">• 1.
                    ios超级签名包含的所有内容，包括但不限于文本，图形，徽标，按钮图标，图像，音频剪辑，数码下载，数据编译，软件以及内容汇编成一体的连贯的网站都属于ios超级签名所有，并受中国和国际版权法的保护。严禁未经ios超级签名书面允许即对其上述内容进行复制、使用或者进行其他非法利用。</p>
                </li>
                <li data-v-228f13c0=""><p data-v-228f13c0="">• 2. ios超级签名的所有注册用户向ios超级签名平台所提供的
                    App（手机应用程序）应当保证拥有完整独立的知识产权，包括但不限于外观设计，著作权。</p></li>
            </ul>
            <h4 data-v-228f13c0="">第四条：商标和服务标记</h4>
            <ul data-v-228f13c0="">
                <li data-v-228f13c0=""><p data-v-228f13c0="">• ios超级签名 ,
                    ios超级签名标志和其他ios超级签名图形、标识、网页标题、按钮图标、脚本和服务名称均为ios超级签名及关联公司的商标、证明商标、服务标记或其它商业外观。ios超级签名的商标、证明商标、服务标记和商业外观由于它们的限制使用而具有固有的意义和重大价值。它们不会被用于未经ios超级签名许可的任何有关产品或服务。</p>
                </li>
            </ul>
            <h4 data-v-228f13c0="">第五条：访问许可</h4>
            <ul data-v-228f13c0="">
                <li data-v-228f13c0=""><p data-v-228f13c0="">•
                    考虑到访问ios超级签名和其服务，ios超级签名将授予您一个访问ios超级签名和用于个人使用的有限许可。本服务协议禁止您下载
                    （页面缓存除外）或修改ios超级签名的任何部分，除非得到ios超级签名明确的书面同意。本服务协议不允许转售ios超级签名的服务。在未经ios超级签名明确书面同意的情况下，您不得使用ios超级签名上的任何商标、标识或其它专有的信息(包括但不限于图像、文本、网页布局或表单)。任何未经授权的使用自动终止了ios超级签名授予的允许或许可，并可能产生各种损害赔偿的法律责任。</p>
                </li>
            </ul>
            <h4 data-v-228f13c0="">第六条：账户、密码、资质材料</h4>
            <ul data-v-228f13c0="">
                <li data-v-228f13c0=""><p data-v-228f13c0="">• 1.
                    如果您注册成为ios超级签名的用户并因此创建了一个账户，您需自行负责维护您的账户和密码的机密性，并且您同意接受对在您的账户或密码下发生的所有活动负责。ios超级签名无义务且没有办法对非法或未经您授权使用您账号和密码的行为进行识别，因此，ios超级签名对前述行为所引起的一切责任及其他不利后果不承担任何责任。但ios超级签名保留以下权利：自行裁定权、拒绝服务、暂停或终止账户或以其他方式限制访问ios超级签名和接受ios超级签名的其他任何服务。</p>
                </li>
                <li data-v-228f13c0=""><p data-v-228f13c0="">• 2.
                    您保证：您具备使用本服务、接入和运营应用或提供相关服务等行为的相关合法资质或经过了相关政府部门的审核批准；您提供的主体资质材料、相关资质或证明以及其他任何文件等信息真实、准确、完整，并在信息发生变更后，及时进行更新；您具备履行本协议项下之义务、各种行为的能力；您履行相关义务、从事相关行为不违反任何对您有约束力的法律文件。否则，您应不使用ios超级签名提供的相关服务，且应独自承担由此带来的一切责任及给用户、ios超级签名造成的全部损失。</p>
                </li>
                <li data-v-228f13c0=""><p data-v-228f13c0="">• 3.
                    您保证：您会依法及按照ios超级签名要求提交使用本服务所必须的真实、准确的经过您签章确认的主体资质材料以及联系人姓名（名称）、地址、电子邮箱等相关资料。</p></li>
                <li data-v-228f13c0=""><p data-v-228f13c0="">• 4.
                    您保证：您在ios超级签名上通过您的应用提供的各种服务，依法已经具有相关的合法资质或获得了有关部门的许可或批准，并会向ios超级签名提交相关资质或证明文件。</p></li>
                <li data-v-228f13c0=""><p data-v-228f13c0="">• 5.
                    您保证：您在ios超级签名上通过您的应用提供的各种服务，符合国家相关法规的规定，不违反任何相关法规及相关协议、规则，也不会侵犯任何人的合法权益，
                    同时，会依法、依约或按照ios超级签名的要求提供版权、专利权等相关证明文件。</p></li>
            </ul>
            <h4 data-v-228f13c0="">第七条：隐私及数据信息安全</h4>
            <ul data-v-228f13c0="">
                <li data-v-228f13c0=""><p data-v-228f13c0="">• 1.
                    使用本服务，即表示您同意ios超级签名合法收集和使用有关您及您所使用本服务的技术性或诊断性信息。收集到的些信息将用于改进网页的内容，提升我们的服务品质。ios超级签名不会将您的信息和内容分享或出售给其他的组织。但以下情况除外：</p>
                    <ul data-v-228f13c0="">
                        <li data-v-228f13c0=""><p data-v-228f13c0="">o • 1.1 您同意让第三方共享资料；</p></li>
                        <li data-v-228f13c0=""><p data-v-228f13c0="">o • 1.2 ios超级签名需要听从法庭传票、法律命令或遵循法律程序；</p></li>
                        <li data-v-228f13c0=""><p data-v-228f13c0="">o • 1.3 您违反了本协议。</p></li>
                    </ul>
                </li>
                <li data-v-228f13c0=""><p data-v-228f13c0="">• 2.
                    ios超级签名会竭力保护您的数据信息安全与隐私，但如发生包括但不限于以下任一状况，ios超级签名将不承担任何法律责任：</p>
                    <ul data-v-228f13c0="">
                        <li data-v-228f13c0=""><p data-v-228f13c0="">o • 2.1
                            因ios超级签名无法对非法的或未经用户授权的使用ios超级签名帐号及密码的行为作出甄别，因此造成您在ios超级签名的帐号及密码被窃取的；</p></li>
                        <li data-v-228f13c0=""><p data-v-228f13c0="">o • 2.2
                            您发布的应用程序包括任何可链接到该应用程序的网址或其他在线服务侵犯到第三方知识产权的；</p></li>
                        <li data-v-228f13c0=""><p data-v-228f13c0="">o • 2.3
                            您通过ios超级签名收集到的任何用户信息（包括但不限于用户设备信息等），不仅只供内测使用，还提供给任何第三方或另作他用的；</p></li>
                        <li data-v-228f13c0=""><p data-v-228f13c0="">o • 2.4
                            因不可抗力，计算机病毒或黑客攻击，系统不稳定，您所在位置无网络信号，关机，GSM网络、互联网络、通信线路原因等造成的服务中断或不能满足您的服务要求、造成您的数据丢失的。</p>
                        </li>
                    </ul>
                </li>
            </ul>
            <h4 data-v-228f13c0="">第八条：服务或软件更新以及条款变更</h4>
            <ul data-v-228f13c0="">
                <li data-v-228f13c0=""><p data-v-228f13c0="">• 1.
                    我们可能会随时变更本服务协议项下的条款和条件。如果您在该等条款和条件变更生效后使用服务，即表示您同意新的条款和条件。如果您不同意新的条款和条件，则必须停止访问ios超级签名并停止使用其服务，并请联系我们关闭您的ios超级签名帐户。</p>
                </li>
                <li data-v-228f13c0=""><p data-v-228f13c0="">• 2.
                    有时，您可能需要软件更新，才能继续使用服务。我们会自动检查您的软件版本，并且下载软件更新或配置变更，包括那些可能会阻止您访问服务、或使用未经授权的硬件外围设备的配置变更，还可能要求您更新软件才能继续使用服务。此类更新受上述条款的约束，除非更新附带有其他条款，在这种情况下，其他条款应予适用。尽管有上述约定，ios超级签名没有义务提供任何更新，也不保证ios超级签名将针对您曾对软件进行许可的系统的版本提供支持。这种更新可能与由第三方提供的软件或服务不兼容。</p>
                </li>
                <li data-v-228f13c0=""><p data-v-228f13c0="">• 3.
                    另外，有些时候，我们也许需要删除或更改服务的功能，或者停止提供一项服务，或者访问第三方应用程序和服务。除非适用的法律明确要求，否则我们无义务对已删除或更改之前的任何服务的功能或者服务提供重新下载或恢复。</p>
                </li>
            </ul>
            <h4 data-v-228f13c0="">第九条：保证</h4>
            <ul data-v-228f13c0="">
                <li data-v-228f13c0=""><p data-v-228f13c0="">• 1.
                    ios超级签名不提供与您使用服务相关的任何明示或默示的保证、保障或条件。您已了解，您应自行承担服务使用风险，我们按“现状”提供服务，服务可能存在各种缺陷，并且只提供服务的目前可用功能。ios超级签名不保证服务中所提供的信息的准确性或时效性。根据适用法律，您可能享有某些权利，如果适用，本服务协议的条款中的任何规定均无意影响这些权利。您承认，计算机和电信系统可能会出现故障或偶尔会发生停机。我们不保证服务无中断、及时、安全、无错误、不发生内容丢失，也不会对与计算机网络的连接或传输作任何保证。</p>
                </li>
                <li data-v-228f13c0=""><p data-v-228f13c0="">• 2.
                    在适用法律允许的范围内，我们排除有关适销性、质量满意度、特定用途的适用性、无技术问题和不侵权的任何默示保证。</p></li>
            </ul>
            <h4 data-v-228f13c0="">第十条：责任限制</h4>
            <ul data-v-228f13c0="">
                <li data-v-228f13c0=""><p data-v-228f13c0="">• 1. ios超级签名仅对本协议中列明的责任承担范围负责。</p></li>
                <li data-v-228f13c0=""><p data-v-228f13c0="">• 2. 本协议约定服务之合作单位，所提供之服务品质及内容由该合作单位自行负责。</p></li>
                <li data-v-228f13c0=""><p data-v-228f13c0="">• 3.
                    在法律允许的情况下，ios超级签名对于与本协议有关或由本协议引起的任何间接的、惩罚性的、特殊的、派生的损失（包括业务损失、收益损失、利润损失、使用数据或其他经济利益的损失），不论是如何产生的，也不论是由对本协议的违约（包括违反保证）还是由侵权造成的，均不负有任何责任，即使事先已被告知此等损失的可能性。另外即使本协议规定的排他性救济没有达到其基本目的，也应排除ios超级签名对上述损失的责任。</p>
                </li>
                <li data-v-228f13c0=""><p data-v-228f13c0="">• 4.
                    对于因超出ios超级签名合理控制范围的情况（例如劳资纠纷、不可抗力、战争或恐怖主义行为、恶意破坏、意外事故或遵守任何适用法律或政府命令）而导致ios超级签名无法履行或延迟履行其义务，ios超级签名对此不承担任何责任或义务。ios超级签名将尽最大努力降低这些事件的影响，并将尽最大努力履行未受影响的义务。</p>
                </li>
                <li data-v-228f13c0=""><p data-v-228f13c0="">• 5.
                    ios超级签名的服务是按照现有技术和条件所能达到的现状提供的。ios超级签名会尽最大努力向您提供服务，确保服务的连贯性和安全性；但ios超级签名不能保证其所提供的服务毫无瑕疵，也无法随时预见和防范法律、技术以及其他风险，包括但不限于不可抗力、病毒、木马、黑客攻击、系统不稳定、第三方服务瑕疵、政府行为等原因可能导致的服务中断、数据丢失以及其他的损失和风险。所以您也同意：即使ios超级签名提供的服务存在瑕疵，但上述瑕疵是当时行业技术水平所无法避免的，其将不被视为ios超级签名违约，同时，由此给您造成的数据或信息丢失等损失的，您同意放弃追究ios超级签名的责任。</p>
                </li>
                <li data-v-228f13c0=""><p data-v-228f13c0="">• 6.
                    您承诺您使用本服务及您的任何行为，不得违反任何相关法律法规、本协议及相关协议、规则等，不得侵犯任何主体的合法权益等。若ios超级签名自行发现或根据相关部门的信息、权利人的投诉等发现您可能存在违反前述承诺情形的，ios超级签名有权根据一般人的认识自己独立判断，以认定您是否存在违反前述承诺的情形。若ios超级签名经过判断认为您存在违反前述承诺的情形，ios超级签名有权随时单方采取以下一项或多项措施：</p>
                    <ul data-v-228f13c0="">
                        <li data-v-228f13c0=""><p data-v-228f13c0="">o • 6.1
                            要求您立即更换、修改侵犯他人合法权益的相关内容，在您更正前，暂停向您或您关联公司支付涉嫌违规应用或您以及您关联公司名下其他任何一款应用或全部应用的收益；</p></li>
                        <li data-v-228f13c0=""><p data-v-228f13c0="">o • 6.2
                            对涉嫌违规应用或您以及您关联公司名下的其他全部应用或任何一款应用采取封闭新用户入口、限制老用户登录等措施；</p></li>
                        <li data-v-228f13c0=""><p data-v-228f13c0="">o • 6.3
                            对涉嫌违规应用或您以及您关联公司名下的其他全部应用或任何一款应用采取下线措施，即终止应用在开放平台的运营；</p></li>
                        <li data-v-228f13c0=""><p data-v-228f13c0="">o • 6.4 暂停向您或您关联公司支付任何费用；</p></li>
                        <li data-v-228f13c0=""><p data-v-228f13c0="">o • 6.5
                            从应向您或您关联公司支付的任何款项中直接扣减ios超级签名遭受的损失或者应由您承担的相应金额的违约金；</p></li>
                        <li data-v-228f13c0=""><p data-v-228f13c0="">o • 6.6 禁止您或您关联公司今后将任何新应用接入开放平台；</p></li>
                        <li data-v-228f13c0=""><p data-v-228f13c0="">o • 6.7
                            中止或终止涉嫌违规应用或您以及您关联公司名下的其他全部应用或任何一款应用，在ios超级签名开放平台之外的平台、网站的宣传、推广、发布行为；</p></li>
                        <li data-v-228f13c0=""><p data-v-228f13c0="">o • 6.8 追究您的法律责任，或同时单方终止本协议；</p></li>
                        <li data-v-228f13c0=""><p data-v-228f13c0="">o • 6.9 将您的行为对外予以公告，向主管机关或投诉人、权利人提供您的有效信息；</p></li>
                        <li data-v-228f13c0=""><p data-v-228f13c0="">o • 6.10 其他ios超级签名认为适合的处理措施</p></li>
                    </ul>
                </li>
                <li data-v-228f13c0=""><p data-v-228f13c0="">• 7.
                    在ios超级签名告知您或您自行得知您存在侵犯他人合法权益情形后，您应根据ios超级签名客服渠道向ios超级签名提出反通知。但是，无论ios超级签名是否告知您、您是否提出反通知或反通知是否符合相关法规、ios超级签名要求等，均不影响ios超级签名进行自己的独立判断和采取相关措施。</p>
                </li>
                <li data-v-228f13c0=""><p data-v-228f13c0="">• 8.
                    若ios超级签名按照上述条款、本协议的其他相关约定或因您违反相关法律的规定，对您或您的应用采取任何行为或措施，所引起的纠纷、责任等一概由您自行负责，造成您损失的，您应自行全部承担，造成ios超级签名或他人损失的，您也应承担全部责任。</p>
                </li>
                <li data-v-228f13c0=""><p data-v-228f13c0="">• 9.
                    若ios超级签名按照上述条款、本协议的其他相关约定或因您违反相关法律的规定，对您或您的应用采取任何行为或措施后，导致您没有使用到相应服务但已经缴纳相应费用的，对该部分费用，ios超级签名有权不予退还，而作为您违反约定的违约金予以没收。</p>
                </li>
                <li data-v-228f13c0=""><p data-v-228f13c0="">• 10.
                    因您违约导致ios超级签名终止本协议的，尚未结算的应用收益，ios超级签名有权不予结算，而作为违约金归ios超级签名所有。此外，因您违反本协议约定，所引起的纠纷、责任等一概由您自行负责，造成ios超级签名损失的（包括但不限于被主管机关罚款、赔偿权利人损失、律师费、诉讼费等），您应在5个工作日内赔偿ios超级签名全部损失。</p>
                </li>
                <li data-v-228f13c0=""><p data-v-228f13c0="">• 11.
                    您同意并承诺，在您使用ios超级签名所提供服务的过程中，您不得向ios超级签名上传含有违反国家相关法律法规及政策规定内容，包括但不限于代码、软件、图片、视频、文字、App等。否则，出现的所有法律后果由您自行全部承担，ios超级签名对此不负任何责任。</p>
                </li>
                <li data-v-228f13c0=""><p data-v-228f13c0="">• 12.
                    ios超级签名作为第三方中立平台，不具有对您上传至ios超级签名的内容进行审查的义务，但ios超级签名在认为有需要时，ios超级签名有权利对您上传至ios超级签名服务的内容进行审查，审查结果及审查后的进一步动作可由ios超级签名进行自行裁定。您对此表示理解并同意，并愿意承担因审查出现的全部后果。</p>
                </li>
            </ul>
            <h4 data-v-228f13c0="">第十一条：应用程序</h4>
            <ul data-v-228f13c0="">
                <li data-v-228f13c0=""><p data-v-228f13c0="">• 1. 许可范围。</p>
                    <p data-v-228f13c0="">
                        ios超级签名提供的应用程序只授予使用许可，而非出售。本协议只授予您使用应用程序的某些权利。除非适用的法律赋予您此项限制之外的更多权利，否则您仅可在本协议明示许可的范围内使用应用程序。为此，您必须遵守应用程序中的任何技术限制，这些限制只允许您以特定的方式使用应用程序。您不得：</p>
                    <ul data-v-228f13c0="">
                        <li data-v-228f13c0=""><p data-v-228f13c0="">o • 1.1 绕过应用程序中的任何技术限制。</p></li>
                        <li data-v-228f13c0=""><p data-v-228f13c0="">o • 1.2
                            对应用程序进行反向工程、反向编译或反汇编；尽管有此项限制，但如果适用法律明示允许上述活动，则在且仅在适用法律明示允许的范围内从事上述活动不在此限。</p></li>
                        <li data-v-228f13c0=""><p data-v-228f13c0="">o • 1.3 制作超过本服务协议所规定或适用的法律所允许数量的应用程序副本。</p></li>
                        <li data-v-228f13c0=""><p data-v-228f13c0="">o • 1.4 发布或以其他方式提供应用程序以便其他人复制。</p></li>
                        <li data-v-228f13c0=""><p data-v-228f13c0="">o • 1.5 出租、租赁或出借应用程序。</p></li>
                        <li data-v-228f13c0=""><p data-v-228f13c0="">o • 1.6 将应用程序或本服务协议转让给任何第三方。</p></li>
                    </ul>
                </li>
                <li data-v-228f13c0=""><p data-v-228f13c0="">• 2. 下载。应用程序的下载可能会消耗网络流量，因此而产生的费用，将由您自行承担。</p></li>
                <li data-v-228f13c0=""><p data-v-228f13c0="">• 3.
                    ios超级签名会随时清理其上含有包括但不限于色情内容、垃圾信息、积分墙、游戏私服、病毒、翻墙、反动、盗版软件、恶意扣费、破解软件等恶意应用程序，但您在下载应用程序前请自行甄别应用程序的质量，请勿因为垃圾短信、邮件内容随意下载来源不可靠的应用程序，请根据应用下载链接的来源自行判断并下载可信任的应用程序。</p>
                </li>
                <li data-v-228f13c0=""><p data-v-228f13c0="">• 4. 文档。如果随应用程序提供文档，则您可以复制和使用该文档，但仅供您个人参考之用。</p></li>
            </ul>
            <h4 data-v-228f13c0="">第十二条：其他</h4>
            <ul data-v-228f13c0="">
                <li data-v-228f13c0=""><p data-v-228f13c0="">• 1.
                    本服务协议、任何适用的隐私政策、补充和更新条款以及您同意的任何隐私政策，构成ios超级签名服务及其应用程序的完整的服务协议。</p></li>
                <li data-v-228f13c0=""><p data-v-228f13c0="">• 2. 本协议的成立、生效、履行、解释及纠纷解决，适用中华人民共和国大陆地区法律（不包括冲突法）。</p></li>
            </ul>
        </div>
    </div>
</div>
<!--隐私声明-->
<div class="ivu-modal-body" id="privacy" style="display: none">
    <div class="info-item" data-v-228f13c0="">
        <span class="close">X</span>
        <h3 data-v-228f13c0="">隐私声明</h3>
        <p data-v-228f13c0="">欢迎使用ios超级签名，这是一款面向企业和个人的应用托管平台。</p>
        <p data-v-228f13c0="">
            ios超级签名认可并重视用户的隐私。因此，ios超级签名致力于确保用户了解其个人信息的使用方式，并且保证这些信息的安全。此隐私策略适用于ios超级签名通过显示此隐私策略的网站、移动应用、产品和服务（包括可能由ios超级签名离线提供的产品和服务）收集的信息。此隐私策略适用于ios超级签名当前提供的所有ios超级签名产品和服务。</p>
        <p data-v-228f13c0="">除非此隐私策略第 2 节、第 6 节、第 7 节另有规定，否则未经您同意， ios超级签名不会与第三方共享您的任何与个人、团队和项目有关的信息。</p>
        <p data-v-228f13c0="">访问ios超级签名的网站，或者使用或购买ios超级签名提供的产品和服务，即表示您接受此隐私策略所述惯例，并同意ios超级签名按照此隐私策略所述方式使用您的信息。</p>
        <div class="info-item-scroll" data-v-228f13c0=""><h4 data-v-228f13c0="">第一条：ios超级签名收集的信息</h4>
            <p data-v-228f13c0="">ios超级签名可能向您收集有关您的身份、您在ios超级签名上创建/加入的团队信息，以及您对ios超级签名产品的个人
                喜好方面的信息。我们通常可能收集的个人信息包括：姓名、电子邮件地址、电话号码、IP 地址；团队信息包括：公司/团队名称、Logo（或商标、企业标识）、公司/团队介绍、公司/团队通讯地址、电话
                号码、服务使用状态的相关信息，以及您在购买过程中可能会涉及到的帐户信息。</p>
            <p data-v-228f13c0="">ios超级签名可能会采用多种不同方式来接收和收集您的个人信息。这些方式可能包括：</p>
            <ul data-v-228f13c0="">
                <li data-v-228f13c0="">
                    <ul data-v-228f13c0="">
                        <li data-v-228f13c0=""><h5 data-v-228f13c0="">• 1. 来自您的信件</h5>
                            <p data-v-228f13c0="">您给我们发送电子邮件或写信时，可能会在邮件中提供您的公司/团队信息、您的姓名、联系详细信息以及其他个人信息。</p></li>
                        <li data-v-228f13c0=""><h5 data-v-228f13c0="">• 2. 用户支持</h5>
                            <p data-v-228f13c0="">您在打电话或发电子邮件给我们请求产品方面的技术帮助或索取有关我们产品的信息时，可能向我们提供企业/团队和个人信息。</p></li>
                        <li data-v-228f13c0=""><h5 data-v-228f13c0="">• 3. 产品注册</h5>
                            <p data-v-228f13c0="">注册ios超级签名产品时，系统会要求您提供信息，以便我们将您记录为ios超级签名产品的所有者，从而有助于我们为您提供服务和信息。</p>
                        </li>
                        <li data-v-228f13c0=""><h5 data-v-228f13c0="">• 4. 购买</h5>
                            <p data-v-228f13c0="">如果您希望通过我们的在线支付系统订购ios超级签名产品，我们将需要足够的信息才能完成您的订购，
                                这些信息包括您企业/团队的银行账户信息或个人的信用卡信息。</p></li>
                    </ul>
                </li>
            </ul>
            <h4 data-v-228f13c0="">第二条：ios超级签名收集信息的用途</h4>
            <p data-v-228f13c0="">ios超级签名可能将您的个人信息用于以下用途：</p>
            <ul data-v-228f13c0="">
                <li data-v-228f13c0=""><h5 data-v-228f13c0="">• 1. 产品注册</h5>
                    <p data-v-228f13c0="">您注册时所提供的信息将用于创建您的ios超级签名团队和项目，并且在您联系ios超级签名用户服务部门时，
                        这些信息还将协助ios超级签名为您提供支持。ios超级签名还将使用这些信息来通知您有关您可能感兴趣的任何升级、新产品、促销或其他信息。</p></li>
                <li data-v-228f13c0=""><h5 data-v-228f13c0="">• 2. 产品的使用</h5>
                    <p data-v-228f13c0="">
                        ios超级签名可能将产品使用中收集的信息用于：定期验证您对产品的使用权利；向您发送新产品/新功能升级的通知前，确认您是否正在使用该产品/功能的较早版本或者是否会对您使用ios超级签名有所帮助；以及，从ios超级签名接收您请求获取的产品内部消息。</p>
                </li>
                <li data-v-228f13c0=""><h5 data-v-228f13c0="">• 3. 产品购买</h5>
                    <p data-v-228f13c0="">如果您通过ios超级签名的在线支付系统购买产品，ios超级签名将使用您的信息来处理付款并将产品购买信息发送给您。</p></li>
                <li data-v-228f13c0=""><h5 data-v-228f13c0="">• 4. 内部分析</h5>
                    <p data-v-228f13c0="">我们可能会使用您提供给我们的信息进行内部统计和分析，从而评估并增强您对ios超级签名网站的体验，
                        包括通过识别您的喜好和购买意向，进行营销以及与运营和开发相关的活动。</p></li>
            </ul>
            <h4 data-v-228f13c0="">第三条：自动收集的信息</h4>
            <p data-v-228f13c0="">无论何时，只要您通过ios超级签名进入我们的网站或访问任何在线信息，我们的 Web 服务器就会自动收集和汇总有关您的访问的信息
                （以下简称“自动信息”）。自动信息可能包括相关网站的 URL 或域、浏览器类型、操作系统、您所访问的页面以及访问日期和时间。</p><h4 data-v-228f13c0="">第四条：用户文件</h4>
            <p data-v-228f13c0="">ios超级签名允许您存储、发送、接收、编辑、同步、共享或者以其他方式组织或管理文件和文件夹 （包括这些文件夹中存储的任何信息或数据）（以下统称“用户文件”）。
                我们可能获得您在ios超级签名上储存的所有用户文件的大小，因为我们需要了解您对ios超级签名的实际使用情况， 但我们绝不会获取、储存、共享您的任何用户文件。</p><h4
                    data-v-228f13c0="">第五条：与第三方共享信息</h4>
            <p data-v-228f13c0="">除非第 5 条、第 6 条另有特别规定，否则未经您同意，ios超级签名 不会与第三方共享任何个人信息（例如，通过登录您的用户帐户并选择某选项）。</p>
            <ul data-v-228f13c0="">
                <li data-v-228f13c0=""><h5 data-v-228f13c0="">• 1. 内部运营</h5>
                    <p data-v-228f13c0="">我们可能与独立审计师共享您向我们提供的信息，实现与我们的内部业务运营相关的收入审计目的，前提是此类审计公司必须遵守此隐私策略。</p></li>
                <li data-v-228f13c0=""><h5 data-v-228f13c0="">• 2. 服务提供商</h5>
                    <p data-v-228f13c0="">我们有时会雇用其他公司代表我们提供服务，比如处理交易、邮件的处理和寄送、提供用户支持、
                        托管网站或者针对我们的产品或服务进行统计分析。我们有时需要将您企业/团队和个人的信息与其他公司共享， 以便这些公司能够提供适用的服务。我们仅向这些公司提供其向您提供服务所需的信息，
                        但未授权这些公司将您的信息用于ios超级签名之外的任何其他用途。</p></li>
            </ul>
            <h4 data-v-228f13c0="">第六条：法定披露</h4>
            <p data-v-228f13c0="">虽然我们会尽最大努力保护用户隐私，但当我们有理由相信只有公开个人信息才能遵循现行司法程序、
                法院指令或其他法律程序或者保护ios超级签名、ios超级签名用户或第三方的权利、财产或安全时，我们可能披露个人信息。</p><h4 data-v-228f13c0="">第七条：安全</h4>
            <p data-v-228f13c0="">我们会采取合理的实际及电子手段以及规程保障措施来保护您的企业/团队和个人信息。 虽然通过因特网信息传输数据并非100%
                安全，但我们已经采取并将继续采取商业范畴内合理的努力来确保您的个人信息得到保护。</p><h4 data-v-228f13c0="">第八条：加密</h4>
            <p data-v-228f13c0="">ios超级签名所有的数据都基于SSL/HTTPs传输，保证数据畅通且安全。严格的数据备份制度， 保证每小时、每天和每周都会执行严格的数据备份工作。</p><h4
                    data-v-228f13c0="">第九条：COOKIE</h4>
            <p data-v-228f13c0="">Cookie是仅限文本的信息字符串，网站会将这些字符串传输到计算机硬盘上浏览器的 Cookie 文件中， 以便网站能够记住您的身份信息以及其他详细信息。Cookie
                可能由网站设置或来源自第三方，比如广告商。Cookie 本身不用于或意图用于从用户的计算机读取任何信息 （Cookie 本身的内容除外）。</p>
            <p data-v-228f13c0="">Cookie 只是网站所使用的最初将其放置在您硬盘上的标识符。同一台服务器可以检索到 Cookie 信息的实际内容，
                从而标识计算机并进而根据主服务器上存储的信息自定义、跟踪或控制站点的使用情况。</p>
            <p data-v-228f13c0="">我们可能会在ios超级签名网站上使用 Cookie。使用 Cookie，我们便能进行自动访问和使用我们网站的数据输入功能，以及在网站（如果有）上根据您的喜好或兴趣定制网站，
                或者自定义促销或营销活动时，关联您所进行的购买活动的在线订购信息。此外，我们还可以通过 Cookie 跟踪我们网站的使用情况，从而确定哪些功能有用或受欢迎，哪些功能并不能帮助我们有效地改进和更新我们的服务。
                大多数网络浏览器都会向您发出有关使用 Cookie 的提醒，或者完全拒绝接受 Cookie。您可以通过修改浏览器设置， 接受或拒绝 Cookie。但是，如果禁用
                Cookie，您就不能使用此网站的各项交互功能。</p><h4 data-v-228f13c0="">第十条：链接</h4>
            <p data-v-228f13c0="">我们网站上可能会提供某些链接， 这些链接可能指向我们选择提供共同品牌产品的第三方或者我们认为有助于您更好的使用ios超级签名服务的其他网站。
                第三方网站不受此隐私策略的约束，ios超级签名不对这些网站处理您的个人信息的相关做法进行任何说明。建议您在开始访问这些网站之前查阅其隐私策略，确定其隐私保护惯例。</p><h4
                    data-v-228f13c0="">第十一条：有害信息的过滤和删除</h4>
            <p data-v-228f13c0="">ios超级签名禁止用户创建和储存一切有害信息，包括：</p>
            <ul data-v-228f13c0="">
                <li data-v-228f13c0=""><p data-v-228f13c0="">• 1. 违反中国宪法确定的基本原则的；</p></li>
                <li data-v-228f13c0=""><p data-v-228f13c0="">• 2. 危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</p></li>
                <li data-v-228f13c0=""><p data-v-228f13c0="">• 3. 损害国家荣誉和利益，攻击党和政府的；</p></li>
                <li data-v-228f13c0=""><p data-v-228f13c0="">• 4. 煽动民族仇恨、民族歧视，破坏民族团结的；</p></li>
                <li data-v-228f13c0=""><p data-v-228f13c0="">• 5. 破坏国家、地区间友好关系的；</p></li>
                <li data-v-228f13c0=""><p data-v-228f13c0="">• 6. 违背中华民族传统美德、社会公德、论理道德、以及社会主义精神文明的；</p></li>
                <li data-v-228f13c0=""><p data-v-228f13c0="">• 7. 破坏国家宗教政策，宣扬邪教和封建迷信的；</p></li>
                <li data-v-228f13c0=""><p data-v-228f13c0="">• 8. 散布谣言或不实消息，扰乱社会秩序 ，破坏社会稳定的；</p></li>
                <li data-v-228f13c0=""><p data-v-228f13c0="">• 9. 煽动、组织、教唆恐怖活动、非法集会、结社、游行、示威、聚众扰乱社会秩序的；</p></li>
                <li data-v-228f13c0=""><p data-v-228f13c0="">• 10. 散布淫秽、色情、赌博、暴力、恐怖或者教唆犯罪的；</p></li>
                <li data-v-228f13c0=""><p data-v-228f13c0="">• 11. 侮辱或诽谤他人，侵害他人合法权益的；</p></li>
                <li data-v-228f13c0=""><p data-v-228f13c0="">• 12. 侵犯他人肖像权、姓名权、名誉权、隐私权或其他人身权利的；</p></li>
                <li data-v-228f13c0=""><p data-v-228f13c0="">• 13. 使用漫骂、辱骂、中伤、恐吓、诅咒等不文明语言的；</p></li>
                <li data-v-228f13c0=""><p data-v-228f13c0="">• 14. 以非法民间组织名义活动的；</p></li>
                <li data-v-228f13c0=""><p data-v-228f13c0="">• 15. 侵犯他人著作权、信息网络传播权等合法权益的；</p></li>
                <li data-v-228f13c0=""><p data-v-228f13c0="">• 16. 含有法律、行政法规禁止的其他内容的。</p></li>
            </ul>
            <p data-v-228f13c0="">
                ios超级签名将针对以上信息制定过滤和屏蔽机制，如用户在ios超级签名创建项目或储存文件时不能履行和遵守协议中的规定，ios超级签名有权对违反协议的用户做出关闭帐户处理，同时保留依法追究当事人法律责任的权利。此外，ios超级签名在采取移除等相应措施后不为此向原发布人承担违约责任或其他法律责任。ios超级签名依据本协议约定获得处理违法违规内容的权利，该权利不构成ios超级签名的义务或承诺，ios超级签名不能保证及时发现违法行为或进行相应处理。</p>
            <h4 data-v-228f13c0="">第十二条：信息的访问、修改和准确性</h4>
            <p data-v-228f13c0="">我们采取了一些合理步骤来确保我们从您那里收到的信息正确无误且始终为最新。您有权访问您的公司/团队和个人信息，
                来验证其准确性，并纠正不准确的信息。您可以使用电子邮件地址和密码通过ios超级签名网站登录您的帐户并单击个人设置”， 随时更改您的信息。您也可以通过客服QQ与我们联系，访问并纠正个人信息中的错误。
                如果您不想获得有关产品、服务或营销计划的信息，或者希望从任何直接营销计划、企业调查、电话营销、直邮或电子邮件列表中删除您的信息， 或者想限制我们对您的个人信息的使用或披露，请通过客服QQ与我们联系。</p>
            <h4 data-v-228f13c0="">第十三条：业务转让</h4>
            <p data-v-228f13c0="">ios超级签名收集的信息将被视作一项资产。如果ios超级签名、任何附属公司、部门或部分资产被另一家公司收购，
                则此类信息可能成为被转让资产之一。如果情况如此，收购方公司只能按照此隐私策略（或者向您收集信息时有效的任何后续策略）使用您的信息。
                请注意，转让后提交或收集的信息可能必须遵守收购方公司所采用的新隐私策略。</p><h4 data-v-228f13c0="">第十四条：国际传输</h4>
            <p data-v-228f13c0="">您的信息可能被传送到或存储在您所在国家/地区、省/市/自治区或其他政府管辖区域以外的地方，
                这些地方的隐私法律对您的个人信息的保护程度可能低于您所在的管辖区域。如果您位于中华人民共和国以外， 您应知悉，ios超级签名可能将您的个人信息传输到中国并在中国进行处理。提交此类信息，即表示您同意此隐私策略，
                进而表示您同意进行此类传输。</p>
            <p data-v-228f13c0="">
                我们始终致力于改善我们的业务和运营。因此，我们的策略将不断完善。 鉴于此，ios超级签名保留不时修改此隐私策略的权利。对此策略的更改将发布在<a data-v-228f13c0=""
                                                                                         href="https://ios.yoyoacg.com"
                                                                                         target="blank">ios.yoyoacg.com</a>网站上。
                我们欢迎您不时访问我们的隐私策略页面，来查看最新隐私策略。如果我们对此隐私策略进行实质性更改， 扩展了我们使用您的公司/团队和个人信息的权利，我们将通过电子邮件或者在我们网站上的显著位置告知您并征求您的同意。
            </p><h4 data-v-228f13c0="">第十五条：与我们联系</h4>
            <p data-v-228f13c0="">请将您对您的信息的任何访问请求、信息修改请求或有关此策略的问题发送至客服QQ。</p></div>
    </div>
</div>
<script src="__static__/jsio/user.js"></script>
<script>
    $('.close').on('click', function () {
        $(this).parent().parent().hide();
    });

    function server(tag) {
        if (tag === 1) {
            $('#server').show();
        }
        if (tag === 2) {
            $('#privacy').show();
        }
    }

    var sendcode, time = 120, is_send = true;
    $('#sendsms').on('click', function () {
        if (!is_send) {
            return false;
        }
        is_send = false;
        var mobile = $('input[name=username]').val();
        $.ajax({
            url: "{:url('sendcode')}",
            type: 'post',
            data: {mobile: mobile},
            success: function (res) {


                if (res.status === 0) {
                    toastr.success(res.msg);
                    sendcode = setInterval(sendsms, 1000);
                }else{
                    is_send = true;
                    toastr.error(res.msg);
                }
            }
        })
    });

    function sendsms() {
        time--;
        if (time > 0) {
            $('#sendsms').text(time + 's后重新发送');
            $('#sendsms').css('color', '#cccccc');
        } else {
            $('#sendsms').text('发送短信验证码');
            $('#sendsms').css('color', '#3AE3E6');
            clearInterval(sendcode);
            is_send = true;
        }
    }

    $('#agree').on('click', function () {
        if ($(this).hasClass('active')) {
            $(this).removeClass('active');
        } else {
            $(this).addClass('active');
        }
    })

    function register(){
        var password  = $('#password').val();
        var mobile  = $('#mobile').val();
        var yzm = $('#yzm').val();
        if ( password=='') {
            layer.msg('密码不能为空', {offset:'t'}  );
            return;
        }
        if ( password.length<6) {
            layer.msg('密码长度不能小于6位', {offset:'t'}  );
            return;
        }
        if (mobile == '') {
            layer.msg('账号不能为空', {offset:'t'}  );
            return;
        }
        if (mobile.length<11) {
            layer.msg('手机号码格式不正确', {offset:'t'}  );
            return;
        }
        if (isNaN(mobile)) {
            layer.msg('手机号码格式不正确', {offset:'t'}  );
            return;
        }
        if(yzm==''||yzm==null){
            layer.msg('验证码不能为空', {offset:'t'}  );
            return;
        }
        $.ajax({
            type:'post',
            url: "{:url('addUser')}",
            data:{
                password:password,
                mobile:mobile,
                yzm:yzm,
            },
            dataType:'json',
            success: function(res) {
                if (res.status === 0) {
                    layer.msg('注册成功',{icon:1,time:1000}, function () {
                        window.location.href="{:url('index/login/index')}";
                    });
                } else if(res.status === 2) {
                    layer.msg(res.msg,{icon:2,time:1000}, function () {
                        window.location.href="{:url('index/login/index')}";
                    });
                }else{
                    layer.msg(res.msg,{icon:2,time:1000}, function () {
                        window.location.href="{:url('index/login/reg')}";
                    });
                }
            }
        });
    }
</script>
</body>
</html>